<div class="task_setting task_setting_list m-2nd-container h100">
	<div class="task-list-panel b-w">
		<div class="m-filterNav">
			<input type="text" name="" placeholder="请输入姓名" value="">
	        <button class="u-btnSearch">查询</button>
		</div>
	</div>
	<div class="m-tableBox p-r o-h mar-0 pad-t-20 b-w">
        <div class="m-table m-table-nav">
            <ul class="u-tabTitle">
                <li>姓名</li>
                <li>操作</li>
                <div class="clearfix"></div>
            </ul>
			{volist name="employee_day_task_list" id="vo"}
            <ul class="u-tabList">
				<input type="hidden" class="id" value="{$vo.id}">
				<input type="hidden" class="employee_id" value="{$vo.employee_id}">
                <li class="color-blue2">{$vo.truename}</li>
                <li class="u-tabOperation">
                    <span class="">编辑</span>
                    <span class="clear">清除</span>
                </li>
                <div class="clearfix"></div>
            </ul>
			{/volist}
        </div>
        <div class="o-a w100">
            <div class="m-table m-table-detail">
	            <ul class="u-tabTitle">
	               	<li>姓名</li>
	                <li>操作</li>
	                <li>录入客户</li>
	                <li>通话数</li>
	                <li>有效通话数</li>
	                <li>通话时长</li>
	                <li>新增意向客户数</li>
	                <li>新增销售机会</li>
	                <li>成单数</li>
	                <div class="clearfix"></div>
	            </ul>
				{volist name="employee_day_task_list" id="vo"}
				<ul class="u-tabList">
					<input type="hidden" class="id" value="{$vo.id}">
					<input type="hidden" class="employee_id" value="{$vo.employee_id}">
					<li class="color-blue2">{$vo.truename}</li>
					<li class="u-tabOperation">
						<span class="">编辑</span>
						<span class="clear">清除</span>
					</li>
					<li>
						{present name="$vo.6"}
							{$vo.6.num}/{$vo.6.target}
						{else/}
							无
						{/present}
					</li>
					<li>
						{present name="$vo.8"}
							{$vo.8.num}/{$vo.8.target}
						{else/}
							无
						{/present}
					</li>
					<li>
						{present name="$vo.1"}
							{$vo.1.num}/{$vo.1.target}
						{else/}
							无
						{/present}
					</li>
					<li>
						{present name="$vo.12"}
							{$vo.12.num}/{$vo.12.target}
						{else/}
							无
						{/present}
					</li>
					<li>
						{present name="$vo.11"}
							{$vo.11.num}/{$vo.1.target}
						{else/}
							无
						{/present}
					</li>
					<li>
						{present name="$vo.2"}
							{$vo.2.num}/{$vo.2.target}
						{else/}
							无
						{/present}
					</li>
					<li>
						{present name="$vo.4"}
							{$vo.4.num}/{$vo.4.target}
						{else/}
							无
						{/present}
					</li>
					<div class="clearfix"></div>
				</ul>
				{/volist}
	        </div> 
        </div>        
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/task/css/task_setting.css">