<header>
	<h1>重分<i class="fa fa-close fa-2x pop-close-btn"></i></h1>
</header>
<div class="pop_content m-form redistribute">
	<div style="padding-left: 40px">
		<span class="cont">选择部门</span>
		<select class="structures">
			<option value="0">选择部门</option>
			{volist name="structures" id="vo"}
				<option value="{$vo.id}">{$vo.struct_name}</option>
			{/volist}
		</select>
<!-- 		<input type="hidden" class="structure_employee" value='{$structure_employee}' />
		<input type="hidden" class="employee_name" value='{$employee_name}' /> -->
		<span class="cont">选择人员</span>
		<select class="employee">
			<option>选择人员</option>
		</select>
	</div>
	<div class="u-submitButton">
		<button class="pop-submit-btn">确定</button>
		<button class="pop-close-btn">取消</button>
	</div>
</div>
<script type="text/javascript">
	let val = JSON.parse('{$structure_employee}');
	let nal = JSON.parse('{$employee_name}');
	console.log(typeof val,val[1],nal);
$(".redistribute .structures").change(function(){
	//清空
	$(".redistribute .employee").empty();
	//获取改变后的值--部门
	let v_s = $(this).val();
	console.log(v_s);
	//部门对应的员工
	let arr = val[v_s];
	console.log(arr);
	for(var i=0;i<arr.length;i++){
		if(nal[arr[i]]){
			$(".redistribute .employee").append('<option value='+arr[i]+'>'+nal[arr[i]]+'</option>');
		}	
	}
});
$(".pop_content.redistribute .u-submitButton .pop-submit-btn").click(function(){
	var ids = customer_manage_list_manage.getAllSelectVal();
	if(ids==""){
		return;
	}
	let v_id = $(".redistribute .employee").val();
	$.ajax({
        url: '/crm/customer/change_customers_to_employee',
        type: 'post',
        data: ids+"&uid="+v_id,
        success: function(data) {
            //console.log(data);
            layer.msg(data.info,{icon:data.status==1?1:2});
            if(data.status) {
                customer_manage_list_manage.reload_list();
            }
        },
        error: function() {
            layer.msg('重分时发生错误!',{icon:2});
        }
    });
});
</script>