#contract-apply{
	position: absolute;
	top: 4px;
	right: 10px;
	width:60px;
	height: 20px;
	text-align: center;
	/*background-color: #000000;*/
	
}
#contract-apply i{
	font-size: 1.5em;
	color: #42A5F5;
}
.myAllContractPage,#myAllBillPage{
	margin-top: 40px;
}

