	#side.mini{
		width: 50px;
		overflow: visible;
	}
	#side.mini aside{
		width: 50px;
		overflow: visible;
	}
	.header.mini{
		left: 50px;
	}
	/*section*/
	section#subt.mini{
		left: 50px;
	}
	/*iframe*/
	#frames.mini{
		left: 50px;
	}
	#side.mini aside dl dt span{
		display: none;
	}
	#side.mini .fa{
		display: inline;
	}
	#side.mini aside dl dd{
		text-indent: 20px;
	}
	#side.mini .fa-angle-right{
		display: none ;
	}
	#side.mini .fa-angle-down{
		display: none ;
	}
	#side.mini aside dl .ddcontent{
		position: absolute;
		width: 150px;
		left: 49px;
		top: 0;
		z-index: 99;
		background-color:#202a2f ;
	}
	#side.mini aside dl:hover{
		background-color:#202a2f ;
	}
	#side.mini aside dl:hover .ddcontent{
		display: block !important;
	}