<div class="systemsetting_business_flow block_list">
    <div class="content">
        {volist name="listdata" id="vo"}
        <div class="content_item">
            <h4 class="content_title">{$vo.contract_name}</h4>
            <a class="content_link" href="javascript:loadPage('{:url('edit_page',['id'=>$vo.id])}','contract-settingfr');">查看编辑</a>
        </div>
        {/volist}
        <div class="content_item">
            <h2 class="content_sub_title">+</h2>
            <a href="javascript:loadPage('{:url('add_page')}','customer-settingfr');" class="content_link add">
                添加更多业务流
            </a>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/static/css/block_list.css" />
<link rel="stylesheet" href="/systemsetting/css/business_flow.css" />