<div class="u-pop-header">
	发票驳回<i class="fa fa-close fa-2x pop-close-btn"></i>
</div>
<div class="u-pop-mid-content rejected-page-pop">
	<div class="tc  u-pop-radio-content">
		<input type="radio" class="rejected-page-radio" name="rejected-page-radio" value="资金未到账" checked="checked" />资金未到账
			
		<input type="radio" class="rejected-page-radio" name="rejected-page-radio" value="员工已离职" />员工已离职

		<input type="radio" class="rejected-page-radio" name="rejected-page-radio" value="其他原因" />其他原因
	</div>
	<div class="tc">
        <span class="cont" style="margin-left: 20px;">备注</span>
        <input type="text" class="u-mark">
    </div>
</div>
<div class="rejected-page-pop u-pop-footer">
	<button class="pop-close-btn type1">取消</button>
	<button class="pop-submit-btn type2">驳回</button>
</div>
<style type="text/css">
.verification_bill_index_pop .u-pop-mid-content .u-pop-radio-content{
	font-size: 14px;
	margin-bottom: 20px;
	text-align: center;
}
.verification_bill_index_pop .u-pop-mid-content .u-pop-radio-content input[type="radio"]{
	margin-left: 20px;
	width: 14px;
	height: 14px;
}
</style>
<script type="text/javascript">

</script>