<div class="m-divBlock m-form create-sale-chance">
    <h1><i class="fa fa-tag"></i>新建销售机会</h1>
    <form class="newSaleChanceForm {$fr}newSaleChanceForm" onsubmit="return false;">
        <div>
            <span class="cont">销售机会</span>
            <input type="text" name="sale_name" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入销售机会" />
            <span class="cont">对应业务</span>
            <select name="business_id" class="business_flow_selecter">
                <option value="0">请选择</option>
                {volist name="business_flows" id="vo"}
                    <option value="{$vo.id}">{$vo.business_flow_name}</option>
                {/volist}
            </select>
            <input type="hidden" class="business_flow_item_index" value='{$business_flow_item_index}'/>
            <input type="hidden" class="business_flow_role_index" value='{$business_flow_role_index}'/>
            <input type="hidden" class="role_employee_index" value='{$role_employee_index}'/>
        </div>
        <div>
            <span class="cont-max">预计成单金额</span>
            <input type="text" name="guess_money" placeholder="请输入金额" />
            <span class="cont-max">预计成单时间</span>
            <input type="date" name="prepay_time" value="{$sale_chance.prepay_time|day_format}"/>
        </div>
        <div>            
            <span class="cont">协助人</span>
            <input type="text" class="create-sale-chance-select-window" placeholder="请输入协助人电话" value="已选择0个成员"/>
            <span class="cont">负责人</span>
            <span class="cont-x">{$true_name}</span>
            <div class="main-content select-window" style="margin:0 auto;" data-num="1" data-str='departments[]=,&,&,associator_id[]=,&' data-selector=".create-sale-chance-select-window"></div>
        </div>
        <div class="sale-chance-status_panel hide">
            <span class="cont">业务状态</span>
            <select class="sale-chance-status_selecter" name="sale_status">
                <option value="1">有意向</option>
                <option value="2">预约拜访</option>
                <option value="4">成单申请</option>
            </select>
        </div>
        <div class="sale-chance sale-chance-visit hide">
            <div>
                <span class="cont">拜访时间</span>
                <input type="datetime-local" name="visit_time" value="{$saleChancesVisitData.visit_time|minutes_format_html5}" />
            </div>
            <div>
                <span class="cont">拜访地点</span>
                <!-- <input type="text" name="visit_place" placeholder="请输入地址" value="{$saleChancesVisitData.visit_place}" /> -->
                <input type="text" name="visit_place" pattern="[\d\D]{0,40}" title="最多可填写40个字符" placeholder="请输入详细地址" value="{$saleChancesVisitData.visit_place}" />
            </div>
            <!-- <div>
                <span class="cont">&nbsp;</span>
                <img src="/systemsetting/images/map.jpg" />
                <input type="hidden" value="36,119" />
            </div> -->
            <div>
                <span class="cont u-area">详细定位</span>
                <!--<input type="text" name="location" placeholder="请点击地图进行坐标定位"/>-->
                <input type="hidden" name="lng" class="lng" value="{$saleChancesVisitData.lng}"/>
                <input type="hidden" name="lat" class="lat" value="{$saleChancesVisitData.lat}"/>
                <iframe class="mapFrame sale_chance_edit_map" name="sale_chance_edit_map" data-lng="{$saleChancesVisitData.lng}" data-lat="{$saleChancesVisitData.lat}" data-edit="true" src="/index/index/map.html" onload="mapLoad('sale_chance_edit_map')"></iframe>
            </div>
            <div>
                <span class="cont">结伴提醒</span>
                <div class="u-inlineRadio">
                    <input type="radio" name="partner_notice" {eq name='saleChancesVisitData.partner_notice' value='1'} checked="checked"{/eq} value="1"/>是
                    <input type="radio" name="partner_notice" {neq name='saleChancesVisitData.partner_notice' value='1'} checked="checked"{/neq} value="0"/>否
                </div>
            </div>
            <div>
                <span class="cont">添加备忘录</span>
                <div class="u-inlineRadio">
                    <input type="radio" name="add_note" {eq name='saleChancesVisitData.add_note' value='1'} checked="checked"{/eq} value="1"/>是
                    <input type="radio" name="add_note" {neq name='saleChancesVisitData.add_note' value='1'} checked="checked"{/neq} value="0"/>否
                </div>
            </div>
        </div>
        <div class="sale-chance sale-chance-finish hide">
            {volist name="saleOrderContractItem" id="voc" key="keyc"}
            <div class="sale-chance-apply-contract" index="{$keyc}">
                <div class="controler">
                    <div class="add"><i class="fa fa-plus-circle fa-2x"></i></div>
                    <div class="delete"><i class="fa fa-trash-o fa-2x"></i></div>
                </div>
                <div>
                    <span class="cont">合同编号</span>
                    <select name="contract_id" class="contract_no_selecter">
                        {volist name="contract_list" id="vo" key="key" empty="$empty"}
                        <option value="{$key-1}" {eq name='voc.contract_id' value='$key-1'} selected="selected"{/eq}>{$vo.contract_no}</option>
                        {/volist}
                    </select>
                    <input type="hidden" class="contract_type_name" value='{$contract_type_name_json}'/>
                    <input type="hidden" class="contract_bank_name" value='{$contract_bank_name_json}'/>
                    <span class="cont">合同类型</span>
                    <span class="cont contract_type">------</span>
                </div>
                <div>
                    <span class="cont-max">合同金额</span>
                    <input type="text" placeholder="请输入成单" name="contract_money" value="{empty name='voc.contract_money'}{$sale_chance.guess_money}{else/}{$voc.contract_money}{/empty}" />
                    <span class="cont">打款金额</span>
                    <input type="text" placeholder="请输入打款金额" name="pay_money" value="{empty name='voc.pay_money'}{$sale_chance.guess_money}{else/}{$voc.pay_money}{/empty}" />
                </div>
                <div>
                    <span class="cont">打款方式</span>
                    <div class="u-inlineRadio">
                        <input type="radio" name="pay_type_{$keyc}" {eq name='voc.pay_type' value='1'} checked="checked"{/eq} value="1"/>现金
                        <input type="radio" name="pay_type_{$keyc}" {neq name='voc.pay_type' value='1'} checked="checked"{/neq} value="2"/>银行转账
                    </div>
                    <span class="cont">银行</span>
                    <select name="pay_bank_{$keyc}" class="pay_bank">
                        <option value="">无</option>
                    </select>
                    <input type="hidden" class="pay_bank_default" value='{$voc.pay_bank}'/>
                </div>
                <div>
                    <span class="cont">打款方名称</span>
                    <input type="text" placeholder="请输入打款方名称" name="pay_name" value="{empty name='voc.pay_name'}{$customer.customer_name}{else/}{$voc.pay_name}{/empty}" />
                    <span class="cont-max-max">预计合同到期时间</span>
                    <input type="date" name="due_time" value="{$voc.due_time|day_format}" />
                </div>
                <div>

                    <span class="cont">发票</span>
                    <div class="u-inlineRadio">
                        <input type="radio" name="need_bill_{$keyc}" {eq name='voc.need_bill' value='1'} checked="checked"{/eq} value="1"/>是
                        <input type="radio" name="need_bill_{$keyc}" {neq name='voc.need_bill' value='1'} checked="checked"{/neq} value="0"/>否
                    </div>
                </div>
            </div>
            {/volist}

            <div>
                <span class="cont u-area">产品详情</span>
                <textarea placeholder="请输入" name="prod_desc">{$saleOrderContractData.prod_desc}</textarea>
            </div>
            <div>
                <span class="cont">到账审核</span>
                <span class="cont-min1">一审人</span>
                <select name="handle_1" class="handle_1">
                    <option value="0">请选择</option>
                </select>
                <span class="cont-min2 hide avtiv_handle">二审人</span>
                <select name="handle_2" class="handle_2 hide avtiv_handle">
                    <option value="0">请选择</option>
                </select>
            </div>
            <div>
                <span class="cont"></span>
                <span class="cont-min3 hide avtiv_handle">三审人</span>
                <select name="handle_3" class="handle_3 hide avtiv_handle">
                    <option value="0">请选择</option>
                </select>
                <span class="cont-min4 hide avtiv_handle">四审人</span>
                <select name="handle_4" class="handle_4 hide avtiv_handle">
                    <option value="0">请选择</option>
                </select>
            </div>
            <div>
                <span class="cont"></span>
                <span class="cont-min5 hide avtiv_handle">五审人</span>
                <select name="handle_5" class="handle_5 hide avtiv_handle">
                    <option value="0">请选择</option>
                </select>
                <span class="cont-min6 hide avtiv_handle">六审人</span>
                <select name="handle_6" class="handle_6 hide avtiv_handle">
                    <option value="0">请选择</option>
                </select>
            </div>
        </div>
        <div class="sale-chance-intentional">
            <div>
                <span class="cont ver_top">备注</span>
                <!-- {volist name="param_list" id="v"}
                <span class="remark"><input type="text" class="remarker" value="{$v.title}" data-id="{$v.id}" readonly="readonly"/><i class="fa fa-pencil"></i><i class="fa fa-check hide"></i><i class="fa fa-close"></i></span>
                {/volist}
                <span class="u-addRemark"><i class="fa fa-plus"></i></span>
                <div class="clearfix"></div>
                <span class="cont"></span> -->
                <textarea name="remark" style="resize:both;" pattern="[\d\D]{0,80}" title="最多可填写80个字符" placeholder="请填写备注"></textarea>
            </div>
        </div>
        <div class="u-submitButton">
            <button class="sale_chance_add_save">提交</button>
            <button class="sale_chance_add_cancel">取消</button>
        </div>
    </form>
</div>