<div class="one">
    <p class="p1 role_manage ">权限管理</p>
    <p class="p1 employee_manage activity">成员管理</p>
</div>
<div class="employee_list">
    <div class="m-tableBox3">
        <div class="m-table table3">
            <ul class="u-tabTitle">
                <li>工号<i class="fa fa-sort-desc"></i></li>
                <li>姓名</li>
                <li>直属部门</li>
                <li>联系方式</li>
                <li>是否领导<i class="fa fa-unsorted"></i></li>
                <li>创建时间<i class="fa fa-unsorted"></i></li>
                <li>操作</li>
                <div class="clearfix"></div>
            </ul>
            <ul class="u-tabList" >
                <li>001</li>
                <li>李理</li>
                <li>销售一部</li>
                <li>13345021406</li>
                <li>是</li>
                <li>2017/07/01/15:10</li>
                <li class="u-tabOperation"><span>详情</span><span>移除</span></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    <div class="u-tabControlRow">
        <span>显示行数</span>
        <select onchange="listNumChange()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
        <span>1-10条/</span>
        <span>共50条</span>
        <button>上一页</button>
        <button>下一页</button>
        <span>前往</span>
        <input type="text" />
        <span>页</span>
    </div>
</div>