.edit_corp_info *{
	margin:0;
	padding:0;
	font-size:12px;
	font-family:"微软雅黑";
}
.edit_corp_info ul,li,ol{list-style:none}
.edit_corp_info a{color:#333;}


.edit_corp_info a{text-decoration:none;}

.edit_corp_info{
	width: 100%;
	height: 810px;
	background-color: #f5f7fa;
}
#top{
	width: 1120px;
	height: 41px;
	background-color: #fff;
	margin: 0 auto;
}
#top p{
	margin-left: 10px;
	font-size: 12px;
	width: 65px;
	height: 41px;
	text-align: center;
	line-height: 41px;
}
#content{
	width: 1120px;
	height: 652px;
	background-color: #fff;
	margin: 0 auto;
	margin-top: 6px;
	margin-bottom: 12px;
	padding-top: 21px;
	
}
#content p{
	margin-bottom: 14px;
	margin-left: 34px;
	/*background-color: red;*/
}
#content img{
	vertical-align: middle;
	
}
#content span{
	vertical-align: middle;
	font-size: 14px;
	margin-left: 10px;
}
#content input{
	vertical-align: middle;
	width: 322px;
	height: 35px;
	margin-left: 18px;
}
#content select{
	vertical-align: middle;
	width: 322px;
	height: 35px;
	margin-left: 18px;
}
#content .p1{
	padding-left: 15px;
}
#content .p2{
	padding-left: 83px;
}
#content .p3{
	padding-left: 1px;
}
#content .ipt1{
	width: 666px;
}
#content .p4{
	padding-left: 97px;
	margin-top: 20px;
	color: #808080;
}
#content .ipt2{
	width: 666px;
	height: 100px;
	vertical-align: top;
	margin-left: 18px;
}
#content .p5{
	margin-top: 39px;
	margin-left: 340px;
}
#content .p5 input{
	width: 100px;
	height: 41px;
	border-radius: 10px;
	margin-right: 100px;
	background-color: #42a5f5;
	color: #fff;
	border: 1px solid #dcdcdc;
}
#content .p5 button{
	width: 100px;
	height: 41px;
	border-radius: 10px;
	margin-right: 100px;
	background-color: #fff;
	border: 1px solid #dcdcdc;
}
