<!--黑色遮罩-->
<section class="blackBg {$fr}blackBg page-client {$fr}blackBg"></section>

<!--新建客户-->
<section class="newClient page-client {$fr}newClient ">
    <header>
        <h1>新建客户<i class="fa fa-close fa-2x close"></i></h1>
    </header>
    <div class="m-formBox m-form">
        <div class="process">
            <div class="circle state1 current"><span>客户信息</span></div>
            <div class="rect line1"></div>
            <div class="circle state2"><span>联系人信息</span></div>
            <div class="rect line2"></div>
            <div class="circle state3"><span>销售机会</span></div>
            <div class="clearfix"></div>
        </div>
        <form class="newClientForm newClientInfoForm {$fr}newClientForm" onsubmit="return false;">
            <div class="form1">
                <div>
                    <span class="cont"><span class="u-required">＊</span>客户名称</span>
                    <input type="text" name="customer_name" required="required" placeholder="请输入客户名称" pattern="[\S]{1,40}" title="请输入1-40个字符"/>
                    <span class="cont">沟通状态</span>
                    <select name="comm_status">
                        <option value="6" selected="selected">有意向</option>
                        <option value="1">无意向</option>
                        <option value="2">号码无效</option>
                        <option value="3">资料有误</option>
                        <option value="4">未接通</option>
                        <option value="5">待定</option>
                    </select>
                </div>
                <div>
                    <!-- <span class="cont">联系人</span>
                    <input type="text" name="contact_name" pattern="[\S]{0,10}" placeholder="请输入联系人名称" title="只可填写10位以内字符"/> -->
                    <span class="cont">获取途径</span>
                    <select name="take_type">
                        <option value="1">转介绍</option>
                        <option value="2">搜索</option>
                        <option value="3">购买</option>
                    </select>
                    <span class="cont">客户级别</span>
                    <select name="grade">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                    </select>
                </div>
                <div>
                    <span class="cont"><span class="u-required">＊</span>联系电话</span>
                    <input type="text" name="telephone" required="required" pattern="^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}|17[0-9]{9}$|18[0-9]{9}$|^((0(10|2[0-9]|[3-9]\d{2}))[- ]?[1-9]\d{6,7})$|^400[0-9]{7}$" placeholder="手机号或xx-xx" title="请输入正确的联系方式" />
                    <!-- <span class="cont">获取途径</span>
                    <select name="take_type">
                        <option value="1">转介绍</option>
                        <option value="2">搜索</option>
                        <option value="3">购买</option>
                    </select> -->
                </div>
                <div>
                    <span class="cont">客户行业</span>
                    <select name="field_1" class="u-3select">
                        <option value="0">请选择</option>
                        {volist name="business_list" id="vo"}
                        <option value="{$vo.id}">{$vo.business_name}</option>
                        {/volist}
                    </select>
                    <select name="field_2" class="u-3select">
                        <option value="0">请选择</option>
                        {volist name="business_list" id="vo"}
                        <option value="{$vo.id}">{$vo.business_name}</option>
                        {/volist}
                    </select>
                    <select name="field" class="u-3select">
                        <option value="0">请选择</option>
                        {volist name="business_list" id="vo"}
                        <option value="{$vo.id}">{$vo.business_name}</option>
                        {/volist}
                    </select>
                </div>
                <div>
                    <span class="cont">公司地址</span>
                    <select id="s_province" name="prov" class="u-3select"></select>
                    <select id="s_city" name="city" class="u-3select" ></select>
                    <select id="s_county" name="dist" class="u-3select"></select>
                </div>
                <div>
                    <span class="cont">详细地址</span>
                    <input type="text" name="address" pattern="[\d\D]{0,40}" title="最多可填写40个字符" placeholder="请输入详细地址"/>
                    <!-- <textarea name="address" pattern="[\d\D]{0,80}" title="最多可填写80个字符" placeholder="请输入详细地址"></textarea> -->
                </div>
                <div>
                    <span class="cont u-area">详细定位</span>
                    <!--<input type="text" name="location" placeholder="请点击地图进行坐标定位"/>-->
                    <input type="hidden" name="lng" />
                    <input type="hidden" name="lat" />
                    <iframe id="mapFrame" name="mapFrame" data-lng="119.1324" data-lat="36.7075" data-edit="true" src="/index/index/map.html"></iframe>
                </div>
                <div>
                    <span class="cont">公司官网</span>
                    <input type="url" name="website" title="最多可填写80个字符" placeholder="请输入公司官网"/>
                </div>
                <div>
                    <span class="cont">备注</span>
                    {volist name="param_list" id="v"}
                    <span class="remark"><input type="text" class="remarker" value="{$v.title}" data-id="{$v.id}" readonly="readonly"/><i class="fa fa-pencil"></i><i class="fa fa-check hide"></i><i class="fa fa-close"></i></span>
                    {/volist}
                    <span class="u-addRemark"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                    <span class="cont"></span>
                    <textarea name="remark" style="resize:both;" pattern="[\d\D]{0,80}" title="最多可填写80个字符" placeholder="请填写备注"></textarea>
                </div>
                <div>
                    <span class="cont">保存到</span>
                    <input type="radio" name="belongs_to" value="3" checked="checked"/>我的客户
                    <input type="radio" name="belongs_to" value="2" />公海池
                    <div class="allStaff hide"></div>
                </div>
                <div class="u-submitButton">
                    <button class="add_new_customer">保存并添加下一客户</button>
                    <button class="save_customer">保存</button>
                    <button class="add_customer_next">下一步</button>
                    <button class="add_customer_cancel">取消</button>
                    <!--<input type="submit" />-->
                </div>
            </div>
        </form>
        <form class="newClientForm newClientContactForm {$fr}newClientContactForm" onsubmit="return false;">
            <div class="form2 hide">
                <div>
                    <span class="cont"><span class="u-required">＊</span>联系人</span>
                    <input type="text" name="contact_name" required="required" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入联系人姓名" />
                    <span class="cont">性别</span>
                    <input type="radio" name="sex" value="male"/>男
                    <input type="radio" name="sex" value="famale"/>女
                </div>
                <div>
                    <span class="cont"><span class="u-required">＊</span>联系方式1</span>
                    <input type="text" name="phone_first" required="required" pattern="^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}|17[0-9]{9}$|18[0-9]{9}$|^((0(10|2[0-9]|[3-9]\d{2}))[- ]?[1-9]\d{6,7})$|^400[0-9]{7}$" title="请输入电话号码" placeholder="请输入电话号码"/>
                    <span class="cont">联系方式2</span>
                    <input type="text" name="phone_second" pattern="^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}|17[0-9]{9}$|18[0-9]{9}$|^((0(10|2[0-9]|[3-9]\d{2}))[- ]?[1-9]\d{6,7})$|^400[0-9]{7}$" title="请输入电话号码" placeholder="请输入电话号码"/>
                </div>
                <div>
                    <span class="cont">联系方式3</span>
                    <input type="text" name="phone_third" pattern="^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}|17[0-9]{9}$|18[0-9]{9}$|^((0(10|2[0-9]|[3-9]\d{2}))[- ]?[1-9]\d{6,7})$|^400[0-9]{7}$" title="请输入电话号码" placeholder="请输入电话号码"/>
                    <span class="cont">邮箱</span>
                    <input type="email" name="email" pattern="^[\w\+-]+(\.[\w\+-]+)*@[a-z\d-]+(\.[a-z\d-]+)*\.([a-z]{2,4})$" placeholder="请输入邮箱"/>
                </div>
                <div>
                    <span class="cont">QQ号</span>
                    <input type="text" name="qqnum" pattern="^[1-9]\d{4,}$" title="请写正确格式" placeholder="请输入QQ号"/>
                    <span class="cont">微信号</span>
                    <input type="text" name="wechat" pattern="[\d\D]{0,40}" title="最多填写40位字符" placeholder="请输入微信号"/>
                </div>
                <div>
                    <span class="cont">部门</span>
                    <input type="text" name="structure" pattern="[\d\D]{0,16}" title="最多填写16位字符" placeholder="请输入所属部门"/>
                    <span class="cont">职务</span>
                    <input type="text" name="occupation" pattern="[\d\D]{0,16}" title="最多填写16位字符" placeholder="请输入职务"/>
                </div>
                <div>
                    <span class="cont">关键决策人</span>
                    <div class="u-inlineRadio">
                        <input type="radio" name="key_decide" value="1"/>是
                        <input type="radio" name="key_decide" value="0"/>否
                    </div>
                    <span class="cont">决策能力</span>
                    <select name="deal_capability">
                        <option value="1">普通人</option>
                        <option value="2">决策人</option>
                        <option value="3">分项决策人</option>
                        <option value="4">商务决策人</option>
                        <option value="5">技术决策人</option>
                        <option value="6">财务决策人</option>
                        <option value="7">使用人</option>
                        <option value="8">意见影响人</option>
                    </select>
                </div>
                <div>
                    <!-- <span class="cont">介绍人</span>
                    <input type="text" name="introducer" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入介绍人"/> -->
                    <span class="cont">亲密程度</span>
                    <select name="close_degree">
                        <option value="0">不亲密</option>
                        <option value="1">亲密</option>
                    </select>
                    <span class="cont">生日</span>
                    <input type="date" name="birthday" />
                </div>
                <div>
                    <!-- <span class="cont">生日</span>
                    <input type="date" name="birthday" /> -->
                    <span class="cont">介绍人</span>
                    <input type="text" name="introducer" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入介绍人"/>
                </div>
                <div>
                    <span class="cont u-area">爱好</span>
                    <textarea name="hobby" placeholder="请输入爱好"></textarea>
                </div>
                <div>
                    <span class="cont">备注</span>
                    {volist name="param_list" id="v"}
                    <span class="remark"><input type="text" class="remarker" value="{$v.title}" data-id="{$v.id}" readonly="readonly"/><i class="fa fa-pencil"></i><i class="fa fa-check hide"></i><i class="fa fa-close"></i></span>
                    {/volist}
                    <span class="u-addRemark"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                    <span class="cont"></span>
                    <textarea name="remark" style="resize:both;" pattern="[\d\D]{0,80}" title="最多可填写80个字符" placeholder="请填写备注"></textarea>
                </div>
                <div class="u-submitButton">
                    <button class="add_contact_new_customer">保存并添加下一客户</button>
                    <button class="save_customer_contact">保存</button>
                    <button class="add_customer_contact_previous">上一步</button>
                    <button class="add_customer_contact_next">下一步</button>
                    <button class="add_customer_cancel">取消</button>
                    <!--<input type="submit" />-->
                </div>
            </div>
        </form>
        <form class="newClientForm newClientSaleChanceForm {$fr}newClientSaleChanceForm" onsubmit="return false;">
            <div class="form3 hide">
                <div>
                    <span class="cont"><span class="u-required">＊</span>销售机会</span>
                    <input type="text" name="sale_name" required="required" placeholder="请输入销售机会" />
                    <span class="cont"><span class="u-required">＊</span>对应业务</span>
                    <select name="business_id">
                        {volist name="business_flows" id="vo"}
                        <option value="{$vo.id}">{$vo.business_flow_name}</option>
                        {/volist}
                    </select>
                </div>
                <div>
                    <span class="cont cont-max">预计成单金额</span>
                    <input type="text" name="guess_money" placeholder="请输入金额" />
                    <span class="cont cont-max">预计成单时间</span>
                    <input type="date" name="prepay_time" value="{$now_time|day_format}"/>
                </div>
                <div>                   
                    <span class="cont">协助人</span>
                    <input type="text" placeholder="请输入协助人电话" name="associator_id" />
                    <span class="cont">负责人</span>
                    <span class="cont">{$truename}</span>
                </div>
                <div>
                    <span class="cont">商机状态</span>
                    <select class="sale-chance-status_selecter">
                        <option value="1">有意向</option>
                        <optgroup label="预约拜访"></optgroup>
                        <optgroup label="成单申请"></optgroup>
                    </select>
                </div>
                <div>
                    <span class="cont">备注</span>
                    {volist name="param_list" id="v"}
                    <span class="remark"><input type="text" class="remarker" value="{$v.title}" data-id="{$v.id}" readonly="readonly"/><i class="fa fa-pencil"></i><i class="fa fa-check hide"></i><i class="fa fa-close"></i></span>
                    {/volist}
                    <span class="u-addRemark"><i class="fa fa-plus"></i></span>
                    <div class="clearfix"></div>
                    <span class="cont"></span>
                    <textarea name="remark" style="resize:both;" pattern="[\d\D]{0,80}" title="最多可填写80个字符" placeholder="请填写备注"></textarea>
                </div>
                <div class="u-submitButton">
                    <button class="add_sale_chance_new_customer">保存并添加下一客户</button>
                    <button class="save_sale_chance">保存</button>
                    <button class="add_sale_chance_previous">上一步</button>
                    <button class="add_customer_cancel">取消</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script class="resources library" src="/static/js/area.js" type="text/javascript"></script>
<script type="text/javascript">_init_area();</script>
<script>
    let interal;
    $("#s_county").change(function(){
        $("#mapFrame")[0].contentWindow.searchKey($("#s_province").val()+$("#s_city").val()+$(this).val());
    })
    $(".newClient input[name='address']").change(function(){
        $("#mapFrame")[0].contentWindow.searchKey($("#s_province").val()+$("#s_city").val()+$("#s_county").val()+$(this).val());
    });
    /*定时搜索，阉割
    $(".newClient input[name='address']").focus(function(){
        interal = setInterval(func,5000);
    });
    $(".newClient input[name='address']").blur(function(){
        clearInterval(interal); 
        $("#mapFrame")[0].contentWindow.searchKey($("#s_province").val()+$("#s_city").val()+$("#s_county").val()+$(".newClient input[name='address']").val());
    });
    
    function func(){
         $("#mapFrame")[0].contentWindow.searchKey($("#s_province").val()+$("#s_city").val()+$("#s_county").val()+$(".newClient input[name='address']").val());
         console.log(1);
    }*/
</script>