<link rel="stylesheet" href="/task/css/task.css" />
<link rel="stylesheet" href="/crm/css/index.css" />

<div class="task task_details">
	<article>
		<div class="dv1">
			<div class="left">
				<img src="/task/img/reward_task.png" class="img1" />
				<div class="border-right">
					<p>发布人</p>
					<div class="name">{$task_info.truename}
						<div class="roll">
							<img src="/task/img/phone.png" />
							<img src="/task/img/note.png" />
						</div>
					</div>
					<p>￥100</p>
					<p>预计奖金</p>
				</div>
			</div>
			<div class="center">
				<p class="theme">{$task_info.task_name}</p>
				<div>
					<div class="details">
						<div class="len">
							{eq name="task_info['target_method']" value="1"}
							<p class="small">其他需求</p>
							<p class="very big">{$task_info.target_description}</p>
							{else/}
							<p class="small">帮跟客户</p>
							{if condition="$uid==$task_info['create_employee'] || in_array($uid,explode(',',$task_info['take_employees']))"}
							<p class="very big blue customer_info" customer_id="{$task_info.target_customer}">{$task_info.customer_name}</p>
							{else /}
							<p class="very big blue">{$task_info.customer_name}</p>
							{/if}
							{/eq}
						</div>
						<div class="very">
							<p class="small">任务领取截止时间</p>
							<p class="big">{$task_info.task_take_end_time|date="Y.m.d/H:i",###}</p>
						</div>
					</div>
					<div class="details">
						<div class="len">
							<p class="small">任务周期</p>
							<p class="big">{$task_info.task_start_time|date="Y.m.d/H:i",###}-{$task_info.task_end_time|date="Y.m.d/H:i",###}</p>
						</div>
						<div class="very flo">
							<p class="small">面向群体</p>
							<p class="very big"><?php $array=explode(',',$task_info['public_to_truename']); if(count($array)>1){echo $array[0].','.$array[1].'等';}elseif($array){echo $array[0];}else{echo '';} ?>（共<?php echo count(explode(',',$task_info['public_to_take'])) ?>人，已参与<span class="partin_count">{$task_info.partin_count}</span>人）</p>
							<div class="flotage">
								{notempty name="task_info['public_to_take_array']"}{foreach name="task_info['public_to_take_array']" item="v" key="k"}<span class="user_{$k} {in name='k' value='$task_info.take_employees'} color-blue{/in}">{$v}</span>{/foreach}{/notempty}
							</div>
						</div>

					</div>
				</div>
			</div>

			
			
			
			<div class="right">
        <div class="within">
            <div class="active details">
                <!--{eq name="$task_info.status" value="2"}
						
						{if condition="in_array($uid,explode(',',$task_info['public_to_take'])) && !in_array($uid,explode(',',$task_info['take_employees'])) && $now_time < $task_info['task_take_end_time'] "}
						<p class="p2 get_reward" data-id="{$task_info.id}" task-type="{$task_info.task_type}" task-money="{$task_info.reward_amount}">领任务</p>
						{elseif condition="in_array($uid,explode(',',$task_info['take_employees']))" /}
						<p>已参与</p>
						{else /}
						<p>报名已截止</p>
						{/if}
						<p class="p2 tip" task_id="{task_info.id}">打赏</p>
						{/eq}-->
				{eq name="task_info.status" value="2"}
				{if condition="$now_time <= $task_info['task_end_time']"}
				<p class="p2 tip" task_id="{$task_info.id}">{if condition="in_array($uid,explode(',',$task_info['tip_employees']))"}继续打赏{else/}打赏{/if}</p>
				{if condition="in_array($uid,explode(',',$task_info['public_to_take'])) && !in_array($uid,explode(',',$task_info['take_employees'])) && $now_time < $task_info['task_take_end_time'] && $task_info['is_guess'] == 0 "}
				<p class="p2 get_reward" data-id="{$task_info.id}" task-type="{$task_info.task_type}" task-money="{$task_info.reward_amount}">领取</p>
				{elseif condition="in_array($uid,explode(',',$task_info['take_employees']))" /}
				<p class="p1">正在参与任务</p>
				{/if}
				{eq name="uid" value="$task_info['create_employee']"}
				{if condition="$task_info['partin_count'] eq 0 && $now_time < $task_info['task_end_time'] "}
				<p class="p2 end_task" data-id="{$task_info.id}">终止任务</p>
				{/if}
				{if condition="!in_array($uid,explode(',',$task_info['take_employees']))"}
				<p class="p1">任务进行中</p>
				{/if}
				{/eq}

				{/if}
				{/eq}
				{eq name="task_info.is_token" value="1"}
				<p class="p6">已领{$task_info.total_money}元</p>
				{/eq}
				{eq name="task_info.status" value="0"}<p class="p3">任务被终止</p>{/eq}
				{eq name="task_info.status" value="1"}<p class="p4">任务未生效</p>{/eq}
				{if condition="$now_time > $task_info['task_end_time']"}
				<p class="p4">任务结束</p>
				{/if}
            </div>
            <!--<div class="comment">-->
                <!--<div>-->
                    <!--<img src="/task/img/comment.png" class="task_details comment_reward" task_id="{$task_info.id}" />-->
                    <!--<span>{$task_info.like_count}</span>-->
                <!--</div>-->
                <!--<div style="text-align: right;">-->
                    <!--{eq name="$task_info.is_like" value="1"}-->
                    <!--<img src="/task/img/praise.png" class="add" task_id="{$task_info.id}" index_img="2"/>-->
                    <!--{else/}-->
                    <!--<img src="/task/img/zan.png" class="add" task_id="{$task_info.id}" index_img="1"/>-->
                    <!--{/eq}-->
                    <!--<span class="yi">{$task_info.like_count}</span>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
			
			
		</div>

		<div class="dv2">
			<div class="left">
	
				<div>
					<p class="title">悬赏任务</p>
					<ul class="list_head">
						<li>序号</li>
						<li>姓名</li>
						<li>部门</li>
						<li>奖金</li>
						<li>状态</li>
					</ul>
					<div class="box">
					</div>
					<!--<p class="addition"><span class="red">已领取任务</span>：你已完成任务指标，排名奖金还需超越<span class="orange">2</span>人才能获得，距离获得奖金还需拨打<span class="orange">5</span>次电话才有机会！</p>-->
				</div>
		
			</div>

			<div class="right">
				<div class="hezi">
					<p class="title">打赏详情</p>

				</div>
				<p class="explain">任务已得到奖金
					<span class="orange">{$all_tip_money}</span>元
					<span class="gray">
						{gt name="my_tip_money" value="0"}
							（你已打赏<span class="my_tip_money">{$my_tip_money}</span>元）
						{else/}
							（你还未进行打赏）
						{/gt}
					</span>
				</p>
				{eq name="task_info.status" value="2"}
				<p class="rate tip">
					{gt name="my_tip_money" value="0"}
						继续打赏
					{else/}
						打赏
					{/gt}
				</p>
				{/eq}
				<div class="particulars">
				</div>
			</div>
		</div>
		<div class="dv3">
			<p class="title">评论<span>（{$task_info.comment_count}）</span></p>
			<div class="up">
				<!--<input type="text" placeholder="回复刘大宝" />-->
				<textarea placeholder="请输入评论" class="content"></textarea>
				<div class="like">
					<div class="left">
						<img src="/task/img/face.png" />
					</div>
					<div class="right">
						<p data-id="{$task_info.id}" now-truename="{$truename}">评论</p>
						{eq name="task_info.is_like" value="1"}
						<img src="/task/img/praise.png" class="add" task_id="{$task_info.id}" index_img="2"/>
						{else/}
						<img src="/task/img/zan.png" class="add" task_id="{$task_info.id}" index_img="1"/>
						{/eq}
						<span class="yi">{$task_info.like_count}</span>
					</div>
				</div>
			</div>
			<div class="down">
				<div class="review">
				</div>
			</div>
		</div>


		<div class="reveal-modal reveal_six guess_ui">
		</div>

		<div class="reveal-modal reveal_seven tip_ui">
		</div>

		<div class="reveal-modal reveal_eight pay_ui pay-pop">
		</div>
	</article>
	<div class="crm_customer crm_reward_details" style="position:static;">
		<div class="customer_info_panel customer_general hide">
		</div>
		<div class="customer_info_panel customer_info hide">
		</div>
		<div class="customer_info_panel customer_edit hide">
		</div>
		<div class="customer_info_panel customer_contact hide">
		</div>
		<div class="customer_info_panel customer_sale_chance hide">
		</div>
		<div class="customer_info_panel customer_trace hide">
		</div>
	</div>

	<script type="text/javascript" src="/task/js/task.js"></script>
	<script type="text/javascript">
		new task_details("{$fr}","{$id}","{$task_type}","{$uid}");
	</script>
	<script src="/crm/js/customer_info_manage.js"></script>
	<script language="javascript">
		var task_list_sel="#"+"{$fr}"+" .task_list";
        var nowflag=$(task_list_sel+" header ul li.flow div").text();
        var list_count=Number(nowflag.substring(nowflag.indexOf("（")+1,nowflag.indexOf("）")));
        var in_column_name=nowflag.substring(0,nowflag.indexOf("（"));
		$("#{$fr} .task_details .center .customer_info").click(function(){
			var id = $(this).attr("customer_id");
			//console.log("id",id);
			var reward_details_info_manage = new customer_info_manage("reward_details","{$fr}",{},"0",in_column_name,list_count);
			reward_details_info_manage.general(id);
		});
	</script>
</div>