<div class="datacount_index datacount_index_target_set h100">
	<div class="target_set_panel target_set h100 o-h">
		<header>
	        <ul class="m-firNav">
	            <li class="current back"><div>简报</div></li>
	            <i class="fa fa-angle-right fa-2x"></i>
	            <span class="u-spanInfo">每日任务设置</span>
	        </ul>
	    </header>
	    <div class="m-3rd-container">
	    	<div class="m-3rd-content">
	    		<div class="m-3rd-content-container">
	    			<div class="m-divBlock mar-0 m-form" style="border: none;box-shadow: none;">
			    		<div>
			    			<span>面向群体</span>
			    			<input type="text"> 
			    		</div>
			    		<div>
			    			<span>任务统计要素</span>
			    		</div>
			    		<div class="task-count-part">
			    			<input type="checkbox">搜集客户<input type="text">个&nbsp;&nbsp;
			    			<input type="checkbox">总通话数<input type="text">个
			    		</div>
			    		<div class="task-count-part">
			    			<input type="checkbox">有效通话<input type="text">个&nbsp;&nbsp;
			    			<input type="checkbox">销售机会<input type="text">个
			    		</div>
			    		<div class="task-count-part">
			    			<input type="checkbox">拜访个数<input type="text">个&nbsp;&nbsp;
			    			<input type="checkbox">成单个数<input type="text">个
			    		</div>
			    	</div>
			    	<div class="m-3rd-footer">
			    		<div class="btn btn-x-large off">取消</div>	
			    		<div class="btn btn-x-large active mar-r-10">保存</div>
			    	</div>
	    		</div>
	    	</div>
	    	
	    </div>
	</div>
</div>
<link rel="stylesheet" href="/datacount/css/index.css"/>
<script src="/datacount/js/index.js"></script>