<div class="knowledgebase knowledgebase_company_library knowledgebase_company_library_new">
	<div class="new_panel new">
		<header>
            <ul class="m-firNav">
                <li class="current"><div>工作圈</div></li>
                <i class="fa fa-angle-right fa-2x"></i>
            	<span class="u-spanInfo">新建</span>
            </ul>
        </header>
        <section class="m-divBlock m-divBlock2">
        	<div class="radio-select">
        		<input type="radio" name="class" value="0" checked="checked"/>&nbsp;&nbsp;原创&nbsp;&nbsp;
        		<input type="radio" name="class" value="1"/>&nbsp;&nbsp;引用
        		<input type="radio" name="class" value="2"/>&nbsp;&nbsp;分享
        	</div>
        	<form class="original new_article_form" method="post" action="/knowledgebase/corporation_share/add_share" onsubmit="return false;">
        		<div><span>简介</span><textarea placeholder="请输入文章简介" name="content"></textarea></div>
        		<div><span>正文</span><textarea id="knowledgebase_company_library_new_editor" name="text" style="width:800px;height:300px;"></textarea></div>
                <input type="hidden" name="type" value="0">
        		<div class="u-submitButton">
        			<button type="button" onclick="submit_share_info();">发布</button>
        			<button>取消</button>
        		</div>
        	</form>
        	<form class="quote hide" onsubmit="return false;">
        		<div><span>URL</span><input type="text" placeholder="请输入URL" name="text" /></div>
        		<div><span>简介</span><textarea placeholder="请输入文章简介" name="content"></textarea></div>
                <input type="hidden" name="type" value="1">
        		<div class="u-submitButton">
        			<button type="button" onclick="submit_share_info();">发布</button>
        			<button>取消</button>
        		</div>
        	</form>
        	<form class="share hide"  enctype="multipart/form-data" onsubmit="return false;">
        		<div><span>文件</span><input type="file" name="img[]" placeholder="请输入文章标题" multiple/></div>
        		<div><span>简介</span><textarea placeholder="请输入文章简介" name="content"></textarea></div>
                <input type="hidden" name="type" value="2">
        		<div class="u-submitButton">
        			<button type="button" onclick="submit_share_info();">发布</button>
        			<button>取消</button>
        		</div>
        	</form>
        </section>
	</div>
</div>
<link rel="stylesheet" href="/knowledgebase/css/default.css" />
<link rel="stylesheet" href="/knowledgebase/css/index.css" />
<script src="/knowledgebase/js/index.js"></script>
<script charset="utf-8" src="/knowledgebase/js/kindeditor-all.js"></script>
<script charset="utf-8" src="/knowledgebase/js/zh-CN.js"></script>
<script>
	var editor2;
	KindEditor.ready(function(K) {
		editor2 = K.create('#knowledgebase_company_library_new_editor', {
			resizeType : 1,
			allowPreviewEmoticons : false,
			allowImageUpload : false,
			items : [
				'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
				'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
				'insertunorderedlist']
		});
	},true);

    function submit_share_info(){
        editor2.sync();
        var data = $(".new_article_form").serialize();
        var formData = new FormData($(".new_article_form" )[0]); 
        var url = "/knowledgebase/corporation_share/add_share";

        $.ajax({
            url: url,
            type: 'POST',
            dataType: 'json',
            data: formData,
            processData: false,  // 告诉jQuery不要去处理发送的数据
            contentType: false,
            success:function(data){
                if (data.status) {
                    layer.msg(data.info,{icon:data.status==1?1:2});
                    loadPage("/knowledgebase/corporation_share/index", "company-libraryfr");
                }
            },
            error:function(){
                layer.msg('发布动态失败!',{icon:2});
            }
        });
        
    }
</script>