<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>create_page</title>
</head>
<body>
<form action="/crm/workflow/work_flow_create" method="post">
  <input type="hidden" name="flow_id" value="{$flow_id}">
  <div>
  <input type="text" name="process_title" value="">
  </div>
  <div>
  类型:<select name="type">
    <option value="">请选择</option>
    <option value="1">类型1</option>
    <option value="2">类型2</option>
    <option value="3">类型3</option>
  </select>
  </div>
  <div>
  数量:<input name="num" type="text" value=''>
  </div>
  <div>
  备注:<textarea name="remark"></textarea>
  </div>
  <div>
    {volist name="next_node_form_item" id="vo"}
    <button type="submit" name="{$vo.name}" value="{$vo.value}">{$vo.title}</button>
    {/volist}
  </div>
</form>
</body>
</html>