<!--存放顶部右上方-->
<header>
    <div id="x-layout">
        <i class="fa fa-navicon fa-2x"></i>
    </div>
    <div id="r-nav">
        <div id="nav-user"><i class="fa fa-2x fa-user"></i><span>达康书记</span></div>
        <div id="nav-shop"><i class="fa fa-2x fa-shopping-cart"></i><span>商城</span></div>
        <div id="nav-commu"><i class="fa fa-2x fa-commenting"></i><span>消息</span></div>
        <div id="nav-notice"><i class="fa fa-2x fa-bullhorn"></i><span>通知</span></div>
        <!--<div class="clearfix"></div>-->
    </div>
</header>