<div class="select-window">
	<div class="select-window-header"><span>选择人员</span></div>
	<div class="select-window-content">
		<div class="select-window-left-content">
			<ul>
			<!-- 部门名称 -->
				{volist name="structures" id="vo"}
					<li class="department-name">
						<div class="title"><i class="fa fa-caret-right"></i><span>{$vo.struct_name}</span><i class="fa fa-plus-square"></i></div>
						<ul class="department-staff hide">
							{volist name="vo.employee_ids_arr" id="voe"}
								{if condition="isset($employees[$voe])"}
									<li select-window-id="{$voe}">{$employees[$voe]["nickname"]}</li>
								{/if}
							{/volist}
						</ul>
					</li>
				{/volist}
			</ul>
		</div>
		<div class="select-window-right-content">
			<ul>
				<!-- <li class="choosen-name" selected-window-id="0">哈哈<i class="fa fa-times"></i></li> -->
			</ul>
		</div>
	</div>
	<div class="select-window-footer">
		<button class="true">确定</button>
		<button class="false">取消</button>
	</div>
</div>
<script type="text/javascript">
	var toggle = 
	//添加
	$(".department-staff li").click(function(){
		// console.log($(this).text());//内容
		// console.log($(this).attr("select-window-id"));//id
		var arr = getElementByAttr("li","selected-window-id",$(this).attr("select-window-id"));
		console.log(arr.length);
		//判断是否已经存在存在
		if(arr.length==0){
			$(".select-window-right-content ul").append("<li class='choosen-name' selected-window-id= '"+$(this).attr("select-window-id")+"'>"+$(this).text()+"<i class='fa fa-times'></i></li>");
		}else{
			alert("已存在");
		}		
		// console.log($(".select-window-right-content ul").html());
	});
	//添加一个群组
	$(".select-window-left-content .department-name .title .fa-plus-square").click(function(){
		let l = $(this).parents(".title").siblings(".department-staff").children("li");
		// console.log(l.length);
		for(var i=0;i<l.length;i++){
			// console.log(l.eq(i).text());
			//删除已经存在的本组的人
			let arr = getElementByAttr("li","selected-window-id",l.eq(i).attr("select-window-id"));
			$(arr[0]).remove();
			//全组加入
			$(".select-window-right-content ul").append("<li class='choosen-name' selected-window-id= '"+l.eq(i).attr("select-window-id")+"'>"+l.eq(i).text()+"<i class='fa fa-times'></i></li>");
		}
	});
	//删除
	$(".select-window .select-window-right-content").on("click",".choosen-name .fa-times",function(){
		// console.log("222");
		$(this).parents(".choosen-name").remove();
	});
	//开关
	$(".department-name .title").children().not(".fa-plus-square").click(function(){
		$(this).parents().toggleClass("on").siblings(".department-staff").toggleClass("hide");
	})
	//确定
	$(".select-window-footer .true").click(function(){
		let l = $(".select-window-right-content ul li");
		if(l.length==0){
			alert("未选择人员");
		}else{
			let text =	l.eq(0).text()+"等"+l.length+"人";
			$(".select-window-choosen-staff").val(text);
			$(".main-content.select-window").children().remove();
		}		
	});
	//取消
	$(".select-window-footer .false").click(function(){
		$(".main-content.select-window").children().remove();
	});
</script>
<style type="text/css">
	.hide{
		display: none;
	}
	.department-name .title:hover{
		background-color: #ecf7fb;
	}
	.department-name .title:hover .fa-plus-square{
		display: inline-block;
	}
	.department-staff{
		/*padding-left: 5px !important;*/
	}
	.department-staff li{
		padding-left: 35px;
	}
	.department-staff li:hover{
		background-color: #ecf7fb;
	}
	.department-name .title.on{
		background-color: #fff4b7;
	}
	.department-name .title .fa{
		/*margin-right: 10px;*/
	}
	.department-name .title .fa-caret-right{
		width: 16px;
	}
	.department-name .title .fa-plus-square{
		float: right;
		display: none;
		font-size: 1.5em;
		margin-right: 10px;
		margin-top: 8px;
		color: #42A5f5;
	}
	.select-window{
		width: 600px;
		height: 525px;
		box-sizing:border-box;
		border-radius: 4px;
		overflow: hidden;
	}
	.select-window ul{
		list-style: none;
		font-size: 12px;
		/*padding-left: 15px;*/
	}
	.select-window ul li{
		line-height: 34px;
		cursor: pointer;
	}
	.select-window-header{
		width: 100%;
		height: 50px;
		line-height: 50px;
		padding-left: 20px;
		box-sizing:border-box;
		font-size: 16px;
		border: 1px solid #e3e3e3;
		background-color: #f1f1f1;
	}
	.select-window-content{
		width: 100%;
		height: 420px;
		padding: 10px 20px;
		box-sizing:border-box;
		border-left: 1px solid #e3e3e3;
		border-right: 1px solid #e3e3e3;
		background-color: #fff;
	}
	.select-window-left-content{
		width: 250px;
		height: 400px;
		float: left;
		box-sizing:border-box;
		border: 1px solid #e3e3e3;
		background-color: #f7fdff;
		overflow-y: auto;
		border-radius: 4px;
	}
	.select-window-left-content ul .department-name{
		/*padding-left: 15px;*/
	}
	.select-window-left-content ul .department-name .title{
		padding-left: 15px;
	}
	.select-window-right-content{
		width: 260px;
		height: 400px;
		float: right;
		box-sizing:border-box;
		border: 1px solid #e3e3e3;
		background-color: #f7fdff;
		border-radius: 4px;
		overflow-y: auto;
	}
	.select-window-right-content ul li.choosen-name{
		padding-left: 15px;
	}
	.select-window-right-content ul li.choosen-name:hover{
		background-color: #ecf7fb;
	}
	.select-window-right-content ul li.choosen-name i{
		/*margin-left: 100px;*/
		/*position: */
		float: right;
		font-size: 1.5em;
		margin-top: 8px;
		margin-right: 5px;
		display: none;
		/*vertical-align: middle;*/
	}
	.select-window-right-content ul li.choosen-name:hover i{
		display: inline-block;
	}
	.select-window-footer{
		width: 100%;
		height: 55px;
		border: 1px solid #e3e3e3;
		box-sizing:border-box;
		background-color: #f9f9f9;
		padding:10px 20px 0 0;
		text-align: right;
	}
	.select-window-footer button{
		width: 88px;
		height: 32px;
		border-style: none;
		border-radius: 4px;
	}
	.select-window-footer .true{
		color: white;
		background-color: #42A5f5;
		margin-right: 10px;
	}
	.select-window-footer .false{
		color: #42A5f5;
		border: 1px solid #42A5f5;
		box-sizing:border-box;
		background-color: #fff;
	}
</style>