/*a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
}*/
/*--  重置公共样式  --*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}
/**{box-sizing: border-box;}*/
html{
  font: 62.5% "Microsoft YaHei",Arial,Helvetica;
  /*color: #929292;*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: transparent;
}
/*h1, h2, h3, h4, h5, h6{font-weight:normal;}*/
ul,ol {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  /*outline: none;*/
  /*border: none;*/
  font-family: 'microsoft yahei';
 
}
input[type="checkbox"]{
	 cursor: pointer;
}
input[type="radio"]{
	 cursor: pointer;
}
select{
	 cursor: pointer;
}
textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

.clearfix:before {
  content: "";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
  text-align: left;
}

.tc {
  text-align: center
}

.tr {
  text-align: right;
}
.mr0{
	margin-right: 0 !important;
}
.bdn{
	border: none !important;
}
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.hide{
	display: none !important;
}
.pointer{
  cursor: pointer;
}
.h100{
  height: 100%;
}
.o-x-h{
  overflow-x:hidden; 
}
.o-y-h{
  overflow-y:hidden; 
}
.o-h{
  overflow: hidden;
}
.m-3rd-container{
  width: 100%;
  overflow: auto;
  background-color: #ecf0f5;
}
.m-3rd-content{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  height: 100%;
  /*background-color: white;*/
}
.m-3rd-content-container{
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}
.m-3rd-footer{
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eee;
  padding-right: 20px;
  padding-top: 10px;
  box-sizing:border-box;
}
.m-3rd-footer .btn{
  width: 100px;
  height: 40px;
  box-sizing:border-box;
  border-radius: 3px;
  float: right;
  line-height: 40px;
  font-size: 15px;
  text-align: center;
  margin-left: 10px;
}
.m-3rd-footer .btn1{
  border: 1px solid #dcdcdc;
  color: #666;
  background-color: white;
}
.m-3rd-footer .btn2{
  background-color: #78beff;
  color: white;
}