<div class="customer_setting_edit">
    <div id="top">
        <ul class="firNav">
            <li class="current" onclick="loadPage('{:url('index')}','customer-settingfr');">
                <div>客户设置</div>
            </li>
            <i class="fa fa-angle-right fa-2x"></i>
            <span class="span-info">
                {gt name="customerSetting.id" value="0"}
                    {$customerSetting.setting_name}
                {else/}
                    添加客户设置
                {/gt}
            </span>
        </ul>

    </div>
    <div class="content">
        <form name="form_customer_setting" class="form_customer_setting" onsubmit="return false;" method="post">
        <p>
            <span class="sp1">客户设置名称</span>
            <input type="text" placeholder="请输入" name="setting_name" value="{$customerSetting.setting_name}"/>
        </p>        <p>
            <span class="sp1">客户保护时间</span>
            <input type="text" placeholder="请输入" name="protect_customer_day" value="{$customerSetting.protect_customer_day}"/>
            <span class="sp">天</span>
            <span class="sp2">（员工拥有客户时间）</span>
        </p>
        <p>
            <span class="sp1">员工可领取单个顾客次数</span>
            <input type="text" placeholder="请输入" name="take_times_employee" value="{$customerSetting.take_times_employee}"/>
            <span class="sp">次</span>
            <span class="sp2">（公海池内员工可持续领取次数）</span>
        </p>
        <p>
            <span class="sp1">部门可领取单个客户次数</span>
            <input type="text" placeholder="请输入" name="take_times_structure" value="{$customerSetting.take_times_structure}"/>
            <span class="sp">次</span>
            <span class="sp2">（公海池内员工可持续领取次数）</span>
        </p>
        <p>
            <span class="sp1">停滞客户（销售机会）时间</span>
            <input type="text" placeholder="请输入" name="to_halt_day" value="{$customerSetting.to_halt_day}"/>
            <span class="sp">天</span>
            <span class="sp2">（多长时间不维护客户变更为停滞状态，根据公司业务情况设置）</span>
        </p>
        <p>
            <span class="sp1">有效通话</span>
            <input type="text" placeholder="请输入" name="effective_call" value="{$customerSetting.effective_call}"/>
            <span class="sp">秒</span>
            <span class="sp2">（超过此时间为有效通话）</span>
        </p>
        <p>
            <span class="sp1">客户保护个数</span>
            <input type="text" class="ipt1" placeholder="请输入" name="protect_customer_num" value="{$customerSetting.protect_customer_num}"/>
            <span class="sp">个</span>
            <span class="sp2">（当前用户最多保护客户个数）</span>
        </p>
        <p class="p6">
            <span class="sp1">公海池客户名称</span>
            <input type="radio" name="public_sea_seen" class="sp3"
                   {eq name="customerSetting.public_sea_seen" value="0"} checked="checked"{/eq}
            / value="0"><span class="sp3">隐藏</span>
            <input type="radio" name="public_sea_seen" class="sp3"
                   {eq name="customerSetting.public_sea_seen" value="1"} checked="checked"{/eq}
            / value="1"><span class="sp3">显示</span>
        </p>
        <p class="fuxuan">该设置对应部门<i class="fa fa-sort-desc"></i></p>
        <p class="yixuan">
            {volist name="structures" id="vo"}
                {if	condition="in_array($vo.id,$customerSetting.set_to_structure_arr)"}
                    <span>{$vo.struct_name}<input type="hidden" name="set_to_structure[]" value="{$vo.id}"/></span>
                {/if}
            {/volist}
        </p>
        <div style="clear: both">
            <div class="xuanze">
                <ul>
                    {volist name="structures" id="vo"}
                        {if	condition="in_array($vo.id,$customerSetting.set_to_structure_arr)"}
                            <li><input type="checkbox" checked="checked" value="{$vo.id}"/><span class="sp3">{$vo.struct_name}</span></li>
                        {else/}
                            <li><input type="checkbox" value="{$vo.id}"/><span class="sp3">{$vo.struct_name}</span></li>
                        {/if}
                    {/volist}
                </ul>
            </div>

            <div class="xuanzhong">
                <p>已选择<span>{:count($customerSetting.set_to_structure_arr)}</span>个对象</p>
                <ul>
                    {volist name="structures" id="vo"}
                        {if	condition="in_array($vo.id,$customerSetting.set_to_structure_arr)"}
                            <li index="{$vo.id}">{$vo.struct_name}<img src="/systemsetting/images/delelet.png" index="{$vo.id}"></li>
                        {/if}
                    {/volist}
                </ul>
                <p class="wancheng">完成</p>
            </div>
        </div>

        <p class="p5">
            <input type="hidden" name="id" value="{$customerSetting.id}"/>
            <input id="customer_setting_submit" type="submit" value="保存" />
            <button onclick="loadPage('{:url('index')}','customer-settingfr');">取消</button>
        </p>
        </form>
    </div>
</div>
<link rel="stylesheet" href="/systemsetting/css/customersetting.css" />
<script language="JavaScript">
    $('#customer_setting_submit').click(function() {
        console.log($(".form_customer_setting").serialize());
        $.ajax({
            url: '{$url}',
            type: 'post',
            data: $(".form_customer_setting").serialize(),
            dataType: 'json',
            success: function(data) {
                //console.log(data);
                layer.msg(data.info,{icon:data.status==1?1:2});
                if(data.status) {
                    loadPage("/systemsetting/customer/index","customer-settingfr");
                }
            },
            error: function() {

            },
        });
    });

    $('.customer_setting_edit .xuanze').on('click', "input", function() {
        var index = $(this).val() //index为input的自定义index
        if ($(this).prop('checked') == true) {
            var main = $(this).next().html();
            $('.customer_setting_edit .xuanzhong ul').append('<li index = ' + index + '>' + main + '<img src=' + "/systemsetting/images/delelet.png" + ' index = "' + index + '"/></li>')
        } else {
            $('.customer_setting_edit .xuanzhong ul li').each(function() {
                if ($(this).attr('index') == index) {
                    $(this).remove();
                }
            })
        }
        systemsetting_customer_setting_update_sel_num();
    });
    function systemsetting_customer_setting_update_sel_num(){
        var allLength=$('.customer_setting_edit .xuanzhong ul li').length;
        console.log(allLength);
        $(".customer_setting_edit .xuanzhong p span").html(allLength);
    }
    $('.customer_setting_edit .xuanzhong').on('click', "ul li img", function() {
        var index1 = $(this).attr("index");
        //console.log(index1);
        var self = $(this);
        $('.customer_setting_edit .xuanze input').each(function() {
            if ($(this).val() == index1) {
                $(this).prop('checked', false);
                $(self).parent().remove();
            }
        });
        systemsetting_customer_setting_update_sel_num();
    });

    $('.customer_setting_edit .fuxuan').click(function() {
  
        $('.customer_setting_edit .fuxuan i').toggleClass("rotate");
            	
        $('.customer_setting_edit .xuanze').toggle();
        $('.customer_setting_edit .xuanzhong').toggle();
    });
    $(".customer_setting_edit .wancheng").click(function() {
        //  	console.log($(this).siblings())
        //  	var content=$(this).siblings().text();
        //
        //  	$('.customer_setting_edit .yixuan').add(content)
        $(".customer_setting_edit .yixuan").empty();
        $(".customer_setting_edit .xuanzhong ul li").each(function() {
            var content = $(this).text();
            var index = $(this).attr("index");
            //			$('.customer_setting_edit .yixuan').append(content)
            $('.customer_setting_edit .yixuan').append('<span >' + content + '<input type="hidden" name="set_to_structure[]" value="'+index+'"/></span>')
        });

        $('.customer_setting_edit .xuanze').css('display', 'none');
        $('.customer_setting_edit .xuanzhong').css('display', 'none')
    });
</script>