<p class="p1">支付</p>
{switch	name="type"}
    {case value="1"}
        <div class="money">
            <span>￥</span>
            <input type="text" class="pay_money" placeholder="00.00" />
        </div>
        <p class="bar">账户余额：<span>{$user_money}</span>元{if condition="$user_money<$money"}，余额不足请<span class="color-blue">充值</span>{/if}</p>
    {/case}
    {case value="2"}
        <div class="money"> </div>
        <h2 class=" color-yellow"><i class="fa fa-cny"></i><span class="money-total">{$money}</span></h2>
        <h3 class="selfmoney hide">个人账户余额：<span>{$user_money}</span>元{if condition="$user_money<$money"}，余额不足请<span class="color-blue">充值</span>{/if}</h3>
        <h3 class="compneymoney">企业账户余额：<span>{$company_money}</span>元{if condition="$company_money<$money"}，余额不足请<span class="color-blue">充值</span>{/if}</h3>
        <div style="margin: 10px auto;width: 80px;height: 20px;">
        	<input type="radio" name="pay_type" value="0">个人
        	<input type="radio" name="pay_type" value="1" checked="checked">企业
        </div>
    {/case}
    {default /}
        <div class="money"> </div>
        <h2 class=" color-yellow"><i class="fa fa-cny"></i><span class="money-total">{$money}</span></h2>
        <h3>账户余额：<span>{$user_money}</span>元{if condition="$user_money<$money"}，余额不足请<span class="color-blue">充值</span>{/if}</h3>
{/switch}
<div class="mima payPwd">
    <div class="box">
        <div class="flex-1 item"><input maxlength="1" type="tel"></div>
        <div class="flex-1 item"><input maxlength="1" type="tel"></div>
        <div class="flex-1 item"><input maxlength="1" type="tel"></div>
        <div class="flex-1 item"><input maxlength="1" type="tel"></div>
        <div class="flex-1 item"><input maxlength="1" type="tel"></div>
        <div class="flex-1 item"><input maxlength="1" type="tel"></div>
    </div>
    <div class="moon">
        <a href="#">忘记密码？</a>
    </div>
</div>

<div class="mianmi">
    <input type="checkbox" />
    <span>小额免密支付?</span>
    <p class="tishi">金额小于100元，无需输入密码</p>
</div>

<div class="import">
    <div class="import">
        <div class="decide">
            <p class="pop-submit-btn">支付</p>
            <p class="pop-close-btn">取消</p>
        </div>
    </div>
</div>
<a class="close-reveal-modal">&#215;</a>
<script src="/task/js/payPwd.js"></script>
<script type="text/javascript">
    $(".new_task_info_panel .pay_ui input[name='pay_type']").change(function() {
        if ($(this).val() == 0) {
            $(".new_task_info_panel .pay_ui .selfmoney").removeClass("hide");
            $(".new_task_info_panel .pay_ui .compneymoney").addClass("hide");
        }else{
            $(".new_task_info_panel .pay_ui .compneymoney").removeClass("hide");
            $(".new_task_info_panel .pay_ui .selfmoney").addClass("hide");
        }
    });
</script>