<div class="structure_list">
	<div class="top">
		<ul class="firNav">
			<li class="current">
				<div>部门管理</div>
			</li>
		</ul>

		<div class="add hide">
			<i class="fa fa-plus fa-2x"></i>
			<p>新增</p>
		</div>
	</div>
	<div class="content">
		<div class="fold">
			<div class="title">
				<span>组织架构</span>
				<i class="fa fa-plus"></i>
			</div>
			<div class="structure_tree">
			</div>
		</div>

		<div class="dv2 hide">
			
		</div>

		<div class="reveal-modal myModal structure_move">
		</div>

		<div class="reveal-modal myModalone structure_del">
            <p class="p1">删除</p>
            <p class="p2">是否删除该部门?</p>
            <p class="p5">
                <input type="submit" class="structure_del_ok" value="确定" />
                <button class="structure_del_cancel">取消</span></button>
            </p>
            <a class="close-reveal-modal">&#215;</a>
        </div>

		<div class="reveal-modal myModal structure_file">
			<p class="p1">新建部门</p>
			<p class="mange">
				<span class="pd_panel">上级部门:<span class="pd_name">总公司</span><br/></span>
				<span>部门名称</span>
				<input name="dept_name" type="text" placeholder="请输入部门名称" value="" />
			</p>
			<p class="herd">
				<input type="checkbox" />
				<span>建群</span>
			</p>
			<p class="p5">
				<input type="submit" class="structure_del_ok" value="确定" />
				<button class="structure_del_cancel">取消</span></button>
			</p>
			<a class="close-reveal-modal">&#215;</a>
		</div>
		
		<div class="reveal-modal myModal structure_edit">
			<p class="p1">编辑部门</p>
			<p class="mange">
				<span>部门名称</span>
				<input name="dept_name" type="text" placeholder="请输入部门名称" value="" />
			</p>
			<p class="herd">
				<input type="checkbox" />
				<span>建群</span>
			</p>
			<p class="p5">
				<input type="submit" class="structure_del_ok" value="确定" />
				<button class="structure_del_cancel">取消</span></button>
			</p>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div class="reveal-modal myModalone structure_del_move">
			<p class="p1">删除</p>
			<p class="p2">该部门有<span class="employee_num">1346</span>名员工，是否删除</p>
			<p class="p5">
				<input type="submit" class="structure_del_move_ok" value="是，删除员工和部门" />
				<button class="structure_del_move_cancel">不，仅删除部门<span>（员工移至待处理员工）</span></button>
			</p>
			<a class="close-reveal-modal">&#215;</a>
		</div>

		<div class="reveal-modal myModal addEmployeeModal">
			<p class="p1">新增职位成员</p>
			<div class="add_employee_list">
			</div>
			<div class="add_employee_select_info">
				<p>已选中<span class="select_num">0</span>位员工</p>
			</div>
			<p class="p5">
				<input type="submit" class="add_employee_ok" value="确定" />
				<button class="add_employee_cancel">取消</button>
			</p>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
	<link rel="stylesheet" href="/static/css/index.css" />
	<link rel="stylesheet" href="/static/css/table.css" />
	<link rel="stylesheet" href="/static/css/form.css" />
	<link rel="stylesheet" href="/static/css/divBlock.css" />
	<link rel="stylesheet" href="/static/css/tree.css" />
	<link rel="stylesheet" href="/systemsetting/css/structure_list.css" />
	<script type="text/javascript" src="/static/js/tree.js"></script>
	<script type="text/javascript">
		var structure_tree_panel = "#division-managementfr .structure_list .content .structure_tree";
		var structure_tree = new tree({
			target: structure_tree_panel,
			data: '{$struct_json}'
		});
	</script>
	<script type="text/javascript" src="/systemsetting/js/structure_list.js"></script>
</div>