<div class="knowledgebase knowledgebase_speechcraft knowledgebase_speechcraft_index">
	<div class="index_panel index">
		<header>
            <ul class="m-firNav">
                <li in_column="0" class="in_column current" onclick="show_class_article('0');"><div>所有分类</div></li>
                {volist name="article_type" id="vo"}
                <li in_column="{$vo.id}" class="in_column " onclick="show_class_article('{$vo.id}');"><div>{$vo.type_name}</div></li>
                {/volist}
                <!--<li in_column="1" class="in_column "><div>百度业务</div></li>
                <li in_column="2" class="in_column "><div>网站建设</div></li>-->
            </ul>
        </header>
        <section class="m-divBlock m-divBlock2">
        	<div class="m-filterNav">
                <div class="new-speechcraft fl">
                    发起话术
                </div>
                <form class="search_form fl" onsubmit="return false;">
                    <input type="text" name="key_word" placeholder="请输入关键字" value=""/>
                    <button class="u-btnSearch" onclick="search_article()">查询</button>
                </form>
                <div class="batch-manage fl">
                    <span class="out hide">退出</span>批量管理
                </div>               
            	<div class="clearfix"></div>
            </div>
        </section>
        <div class="manageNav m-filterNav">
            <input type="checkbox"/><span>全选</span>
            <select>
                <option>分类</option>
            </select>
            <select>
                <option>发表时间</option>
            </select>
        </div>
        <ul class="speech-list">
            {volist name="all_article" id="vo"}
                {eq name="vo.in_show" value="1"}
                <li onclick="article_info_show('{$vo.id}');" {eq name="vo.in_top" value="1" }class="speech-hot"{/eq}>
                    <h1>{$vo.article_name}<span class="hot hide">置顶</span></h1>
                    <h2 class="hide">{$vo.article_content}</h2>
                    <h3>更新时间：<span>{$vo.article_edit_time|time_format}</span></h3>
                    <div class="controler">
                        <div class="edit3"><i class="fa fa-file-text-o fa-2x"></i></div>
                        <div class="delete"><i class="fa fa-trash-o fa-2x"></i></div>
                    </div>
                </li>
                {/eq}
            {/volist}
        </ul>
	</div>
</div>
<link rel="stylesheet" href="/knowledgebase/css/index.css" />
<script src="/knowledgebase/js/index.js"></script>
<script type="text/javascript">
    function article_info_show(id){
    var url = "/knowledgebase/speech_craft/show/id/"+id;
    var panel = 'speech-databasefr';
    loadPage(url,panel);
}
function search_article(){
    var key_word = $("input[name='key_word']").val();
    // alert(key_word);
    // var class_id = $(".current").attr("in_column");
    // alert(class_id);exit;
    var url = "/knowledgebase/speech_craft/index/key_word/"+key_word;
    var panel = 'speech-databasefr';
    loadPage(url,panel);

}
function show_class_article(class_id){  
    var url = "/knowledgebase/speech_craft/index/class_id/"+class_id;
    var panel = 'speech-databasefr';
    loadPage(url,panel);
    console.log(class_id);
    $(".knowledgebase_speechcraft_index .in_column").eq(class_id).addClass("current").siblings().removeClass("current");
}
</script>