@charset "utf-8";
/* CSS Document */

.shareIcon i{background:url(../img/share.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/share.png*/ no-repeat;}
.header .menu li i{background:url(../img/menuIcon.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/menuIcon.png*/ no-repeat;}
.page2 .left .tab span{background:url(../img/icon.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/icon.png*/ no-repeat #dedede; border-radius: 50px;}
.page3 .tab span{background:url(../img/01-1.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/01.png*/ no-repeat;}
.page7 .tool .item h3 i,.page7 .tool .item .club h3 a{background:url(../img/footerIcon.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/footerIcon.png*/ no-repeat;}
.apply .flow .item{background:url(../img/flow.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/flow.png*/ no-repeat;}
.honor .prev,.honor .next,.schoolPage .photo .prev,.schoolPage .photo .next,.productPage .list .prev,.productPage .list .next{background:url(../img/rolling.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/rolling.png*/ no-repeat;}

.honor .prev,.schoolPage .photo .prev,.productPage .list .prev{background-position:0px 0px;}
.honor .prev:hover,.schoolPage .photo .prev:hover,.productPage .list .prev:hover{background-position:-48px 0px;}
.honor .next,.schoolPage .photo .next,.productPage .list .next{background-position:0px -48px;}
.honor .next:hover,.schoolPage .photo .next:hover,.productPage .list .next:hover{background-position:-48px -48px;}

.header .menu li:hover i,.header .menu li.active i{background-color:#7fb80e;}
.header .menu li i.i01{background-position:0px 0px;}
.header .menu li i.i02{background-position:0px -90px;}
.header .menu li i.i03{background-position:0px -180px;}
.header .menu li i.i04{background-position:0px -270px;}
.header .menu li i.i05{background-position:0px -360px;}
.header .menu li i.i06{background-position:0px -450px;}
.header .menu li i.i07{background-position:0px -540px;}

.shareIcon i.i01{background-position:0px 0px;}
.shareIcon i.i02{background-position:0px -36px;}
.shareIcon i.i03{background-position:0px -72px;}
.shareIcon i.i04{background-position:-36px 0px;}
.shareIcon i.i05{background-position:-36px -36px;}
.shareIcon i.i06{background-position:-36px -72px;}
.shareIcon i.i04:hover{background-position:-72px 0px;}
.shareIcon i.i05:hover{background-position:-72px -36px;}
.shareIcon i.i06:hover{background-position:-72px -72px;}

.page2 .left .tab span.i01{background-position:0px 0px;}
.page2 .left .tab span.i02{background-position:-76px 0px;margin-top: 25px;}
.page2 .left .tab span.i03{background-position:-152px 0px;}
.page2 .left .tab span.i04{background-position:-228px 0px;margin-top: 25px;}
.page2 .left .tab span.i01:hover,.page2 .left .tab span.i01.active{background:url(../img/icon.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/icon.png*/ #fff 0px -76px;}
.page2 .left .tab span.i02:hover,.page2 .left .tab span.i02.active{background:url(../img/icon.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/icon.png*/ #fff -76px -76px;}
.page2 .left .tab span.i03:hover,.page2 .left .tab span.i03.active{background:url(../img/icon.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/icon.png*/ #fff -152px -76px;}
.page2 .left .tab span.i04:hover,.page2 .left .tab span.i04.active{background:url(../img/icon.png)/*tpa=http://www.zhenaijiaoyujituan.com/Public/Home/pc/Css/img/icon.png*/ #fff -228px -76px;}

.page3 .tab span.i01{background-position:0px 0px;}
.page3 .tab span.i02{background-position:0px -224px;}
.page3 .tab span.i01.active{background-position:0px -112px;}
.page3 .tab span.i02.active{background-position:0px -336px;}

.page7 .tool .item h3 i.i01{background-position:0px 0px;}
.page7 .tool .item h3 i.i02{background-position:0px -22px;}
.page7 .tool .item h3 i.i03{background-position:0px -44px;}
.page7 .tool .item h3 i.i04{background-position:0px -66px;}
.page7 .tool .item h3 i.i05{background-position:0px -88px;}

.page7 .tool .item .club h3 a.a01{background-position:-30px 0px;}
.page7 .tool .item .club h3 a.a02{background-position:-60px 0px;}
.page7 .tool .item .club h3 a.a03{background-position:-90px 0px;}
.page7 .tool .item .club h3 a.a01:hover{background-position:-30px -30px;}
.page7 .tool .item .club h3 a.a02:hover{background-position:-60px -30px;}
.page7 .tool .item .club h3 a.a03:hover{background-position:-90px -30px;}

.apply .flow .item.i01{background-position:0px 0px;}
.apply .flow .item.i01.active{background-position:0px -54px;}
.apply .flow .item.i03{background-position:0px -108px;}
.apply .flow .item.i02{background:#eaeaea;}
.apply .flow .item.i02.active{background:#efa118;}















