<div class="verification verification_bill verification_bill_index" style="overflow-x: hidden;">
    <div class="index_panel index verification_bill">
        <header>
            <ul class="m-firNav">
                <li in_column="1" class="in_column {eq name='in_column' value='1'}current{/eq}" id="myAllClients"><div>待审核（<span>{$listCount.1}</span>）</div></li>
                <li in_column="2" class="in_column {eq name='in_column' value='2'}current{/eq}" id="awaitComClients"><div>待领取（<span>{$listCount.2}</span>）</div></li>
                <li in_column="3" class="in_column {eq name='in_column' value='3'}current{/eq}" id="notFllowClients"><div>已领取（<span>{$listCount.3}</span>）</div></li>
                <li in_column="4" class="in_column {eq name='in_column' value='4'}current{/eq}" id="overClients"><div>已驳回（<span>{$listCount.4}</span>）</div></li>
                <li in_column="5" class="in_column {eq name='in_column' value='5'}current{/eq}" id="uselessClients"><div>已退款（<span>{$listCount.5}</span>）</div></li>
                <li in_column="0" class="in_column {eq name='in_column' value='0'}current{/eq}" id="allClients"><div>所有发票（<span>{$listCount.0}</span>）</div></li>
            </ul>
        </header>

        <!--客户列表-->
        <section>
            <ul class="m-secNav">
                <li>通过</li>
                <li>驳回</li>
                <li>导出报表</li>
                <div class="clearfix"></div>
            </ul>
            <div class="m-filterNav">
                <form class="search_form" onsubmit="return false;">
                    <select name="bill_type">
                        <option value="">发票类型</option>
                        {volist name="bill_name" id="vo" key="key"}
                        <option value="{$key-1}" {present name='filter.bill_type'}{eq name='filter.bill_type' value='$key-1'} selected="selected"{/eq}{/present}>{$vo}</option>
                        {/volist}
                    </select>
                    <select name="product_type">
                        <option value="">产品类型</option>
                        {volist name="product_type_name" id="vo"}
                        <option value="{$vo}" {present name='filter.product_type'}{eq name='filter.product_type' value='$vo'} selected="selected"{/eq}{/present}>{$vo}</option>
                        {/volist}
                    </select>
                    <select name="pay_type">
                        <option value="">收款银行</option>
                        {volist name="pay_type_name" id="vo"}
                        <option value="{$vo}" {present name='filter.pay_type'}{eq name='filter.pay_type' value='$vo'} selected="selected"{/eq}{/present}>{$vo}</option>
                        {/volist}
                    </select>
                    <input type="text" name="apply_employee" placeholder="输入申请人" value="{present name='filter.apply_employee'}{$filter.apply_employee}{/present}"/>
                    <input type="text" name="customer_name" placeholder="输入对应客户" value="{present name='filter.customer_name'}{$filter.customer_name}{/present}"/>
                    <input type="text" name="tax_num" placeholder="输入公司税号" value="{present name='filter.tax_num'}{$filter.tax_num}{/present}"/>
                    <button class="u-btnSearch">查询</button>
                </form>
            </div>
            <div class="m-tableBox">
                <div class="m-table m-table-nav">
                    <ul class="u-tabTitle">
                        <li class="u-tabCheckbox"><input type="checkbox"/></li>
                        <li>申请人</li>
                        <li>对应客户</li>
                        <li>操作</li>
                        <div class="clearfix"></div>
                    </ul>
                    {volist name="list_data" id="vo"}
                    <ul class="u-tabList">
                        <li class="u-tabCheckbox"><input type="checkbox" value="{$vo.id}"/></li>
                        <li class="u-tabLinkWay">{$vo.operator_name}<i class="fa fa-phone"></i></li>
                        <li class="u-tabCilentName">{$vo.customer_name}</li>
                        <li class="u-tabOperation">
                            {eq name="vo.status" value="0"}
                                <span class="rejected">驳回</span>
                                <span class="approved {eq name='vo[$vo["now_handle_create_item"]]' value='1'}bill_no{/eq}" bill_no="{$vo.bill_no}">通过</span>
                                <!-- <span class="approved remark {eq name='vo[$vo["now_handle_create_item"]]' value='1'}bill_no{/eq}" title="备注通过">备注通过</span> -->
                            {/eq}
                            {eq name="vo.status" value="4"}
                                <span class="received">已领取</span>
                            {/eq}
                        </li>   
                        <div class="clearfix"></div>
                    </ul>
                    {/volist}
                </div>
                <div class="m-table table-v-bill m-table-detail">
                    <ul class="u-tabTitle">
                        <li class="u-tabCheckbox"><input type="checkbox"/></li>
                        <li>申请人</li>
                        <li>对应客户</li>
                        <li>操作</li>
                        <li>申请时间<i class="fa fa-caret-up u-tabCilentName"></i></li>
                        <li>发票号<i class="fa fa-unsorted"></i></li>
                        <li>发票类型</li>
                        <li>开票金额<i class="fa fa-unsorted"></i></li>                       
                        <li>公司税号</li>
                        <li>产品类型</li>
                        <li>认款日期<i class="fa fa-unsorted"></i></li>                        
                        <li>打款类型<i class="fa fa-unsorted"></i></li>
                        <li>打款银行</li>                       
                        <div class="clearfix"></div>
                    </ul>
                    {volist name="list_data" id="vo"}
                    <ul class="u-tabList">
                        <li class="u-tabCheckbox"><input type="checkbox" value="{$vo.id}"/></li>
                        <li class="u-tabLinkWay">{$vo.operator_name}<i class="fa fa-phone"></i></li>
                        <li class="u-tabCilentName">{$vo.customer_name}</li>
                        <li class="u-tabOperation">
                            {eq name="vo.status" value="0"}
                                <span class="rejected">驳回</span>
                                <span class="approved {eq name='vo[$vo["now_handle_create_item"]]' value='1'}bill_no{/eq}" bill_no="{$vo.bill_no}">通过</span>
                                <!-- <span class="approved-mark remark {eq name='vo[$vo["now_handle_create_item"]]' value='1'}bill_no{/eq}" title="备注通过">备注通过</span> -->
                            {/eq}
                            {eq name="vo.status" value="4"}
                                <span class="received">已领取</span>
                            {/eq}
                        </li>
                        <li>{$vo.create_time|time_format}</li>
                        <li>{$vo.bill_no}</li>
                        <li>{$vo.bill_type_name}</li>
                        <li>{$vo.bill_money}元</li>                        
                        <li>{$vo.tax_num}</li>
                        <li>{$vo.product_type_name}</li>
                        <li>
                            {notempty name="vo.check_money_time"}
                            {$vo.check_money_time|time_format}
                            {/notempty}
                        </li>                       
                        <li>{eq name="vo.pay_type" value="现金"}现金{else/}银行打款{/eq}</li>
                        <li>{$vo.pay_type}</li>                       
                        <div class="clearfix"></div>
                    </ul>
                    {/volist}
                </div>

            </div>
            {include file="common@common/page"/}
        </section>
        <section class="verification_bill_index_pop u-pop-min popUp hide">
            
        </section>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/verification/css/verification.css">
<script src="/static/js/list_manage.js"></script>
<script language="javascript">
    var verification_bill_list_manage = new list_manage("verification_bill","verification-billfr","/verification/bill/index",'{$p}','{$num}','{$max_page}','{$in_column}',"");
</script>
<script src="/verification/js/verification_bill.js"></script>
<script type="text/javascript" src="/static/js/popUp.js"></script>
<script type="text/javascript">
    $(".verification_bill_index .u-tabList .u-tabOperation .approved").click(function(){
        let id = $(this).parent().siblings().children("input").val();
        $(".verification_bill_index_pop").attr("id",id);
        let pop =  new popLoad(".verification_bill_index_pop","/verification/bill/approved_page");
    });
    $(".verification_bill_index .u-tabList .u-tabOperation .rejected").click(function(){
        let id = $(this).parent().siblings().children("input").val();
        $(".verification_bill_index_pop").attr("id",id);
        let pop =  new popLoad(".verification_bill_index_pop","/verification/bill/rejected_page");
    });
</script>