<div class="verification_bill verification_bill_index" style="overflow-x: hidden;">
    <div class="index_panel index verification_bill">
        <header>
            <ul class="m-firNav">
                <li in_column="0" class="in_column {eq name='in_column' value='0'}current{/eq}" id="myAllClients">
                    <div>待审核（<span>68</span>）</div>
                </li>
                <li in_column="1" class="in_column {eq name='in_column' value='1'}current{/eq}" id="awaitComClients">
                    <div>待领取（<span>26</span>）</div>
                </li>
                <li in_column="2" class="in_column {eq name='in_column' value='2'}current{/eq}" id="notFllowClients">
                    <div>已领取（<span>32</span>）</div>
                </li>
                <!--
                <li in_column="3" class="in_column {eq name='in_column' value='3'}current{/eq}" id="followClients"><div>尾中审核（<span>6</span>）</div></li>
                <li in_column="4" class="in_column {eq name='in_column' value='4'}current{/eq}" id="stagnantClients"><div>尾中已通过</div></li>
                <li in_column="5" class="in_column {eq name='in_column' value='5'}current{/eq}" id="undeterminedClients"><div>尾款审核（<span>2</span>）</div></li>
                <li in_column="6" class="in_column {eq name='in_column' value='6'}current{/eq}" id="noIntentionClients"><div>已结清订单（<span>8</span>）</div></li>
                -->
                <li in_column="7" class="in_column {eq name='in_column' value='7'}current{/eq}" id="overClients">
                    <div>已驳回（<span>9</span>）</div>
                </li>
                <li in_column="8" class="in_column {eq name='in_column' value='8'}current{/eq}" id="uselessClients">
                    <div>已退款（<span>3</span>）</div>
                </li>
                <li in_column="9" class="in_column {eq name='in_column' value='9'}current{/eq}" id="allClients">
                    <div>所有发票（<span>50</span>）</div>
                </li>
            </ul>
        </header>

        <!--客户列表-->
        <section id="myAllClientsPage">
            <ul class="m-secNav">
                <!--<li class="active" onclick="newClient()">新建客户</li>
                <li class="active">导入客户</li>
                <li class="active">录入记录</li>
                <li class="vertical"></li>-->
                <li>通过</li>
                <li>驳回</li>
                <li>导出报表</li>
                <div class="clearfix"></div>
            </ul>
            <div class="m-filterNav">
                <select>
                    <option>发票类型</option>
                    {volist name="bill_name" id="vo" key="key"}
                    <option value="{$key-1}">{$vo}</option>
                    {/volist}
                </select>
                <select>
                    <option>产品类型</option>
                </select>
                <select>
                    <option>收款银行</option>
                </select>
                <!--<select>
                    <option>沟通状态</option>
                </select>-->
                <input type="text" placeholder="输入申请人"/>
                <input type="text" placeholder="输入对应客户"/>
                <input type="text" placeholder="输入公司税号"/>
                <button class="u-btnSearch">查询</button>
            </div>
            <div class="m-tableBox">
                <div class="m-table table-v-bill">
                    <ul class="u-tabTitle">
                        <li class="u-tabCheckbox"><input type="checkbox"/></li>
                        <li>申请时间<i class="fa fa-caret-up u-tabCilentName"></i></li>
                        <li>发票号<i class="fa fa-unsorted"></i></li>
                        <li>发票类型</li>
                        <li>开票金额<i class="fa fa-unsorted"></i></li>
                        <li>对应客户</li>
                        <li>公司税号</li>
                        <li>产品类型</li>
                        <li>认款日期<i class="fa fa-unsorted"></i></li>
                        <li>申请人</li>
                        <li>打款类型<i class="fa fa-unsorted"></i></li>
                        <li>打款银行</li>
                        <!--<li>打款日期<i class="fa fa-unsorted"></i></li>-->
                        <!--<li>提醒时间<i class="fa fa-unsorted"></i></li>
                        <li>所在列</li>-->
                        <!--<li>分类</li>
                        <li>备注<i class="fa fa-unsorted"></i></li>-->
                        <li>操作</li>
                        <div class="clearfix"></div>
                    </ul>
                    {volist name="list_data" id="vo"}
                    <ul class="u-tabList">
                        <li class="u-tabCheckbox"><input type="checkbox" value="{$vo.id}"/></li>
                        <li>{$vo.create_time|time_format}</li>
                        <li>{$vo.bill_no}</li>
                        <li>{$vo.bill_type_name}</li>
                        <li>{$vo.bill_money}元</li>
                        <li class="u-tabCilentName">{$vo.customer_name}</li>
                        <li>{$vo.tax_num}</li>
                        <li>{$vo.product_type_name}</li>
                        <li>
                            {notempty name="vo.check_money_time"}
                            {$vo.check_money_time|time_format}
                            {/notempty}
                        </li>
                        <li class="u-tabLinkWay">{$vo.operator_name}<i class="fa fa-phone"></i></li>
                        <li>{eq name="vo.pay_type" value="现金"}现金{else/}银行打款{/eq}</li>
                        <li>{$vo.pay_type}</li>
                        <!--<li>潍坊中迅推广</li>-->

                        <!--<li>1天23:59</li>
                        <li>待沟通客户</li>-->
                        <!--<li>定金审核</li>
                        <li>客户要求时间急</li>-->
                        <li class="u-tabOperation">
                            {eq name="vo.status" value="0"}
                                <span class="rejected">驳回</span>
                                <span class="approved">通过</span>
                                <span class="approved remark">备注通过</span>
                            {/eq}
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    {/volist}
                </div>

            </div>
            <div class="u-tabControlRow">
                <span>显示行数</span>
                <span>显示行数</span>
                <select>
                    <option value="5" {eq name="num" value="5" } selected="selected" {
                    /eq}>5</option>
                    <option value="10" {eq name="num" value="10" } selected="selected" {
                    /eq}>10</option>
                    <option value="20" {eq name="num" value="20" } selected="selected" {
                    /eq}>20</option>
                </select>
                <span>{$start_num}-{$end_num}条/</span>
                <span>共{$count}条</span>
                <button class="index_previous_page previous_page  disabled">上一页</button>
                <button class="index_next_page next_page  disabled">下一页</button>
                <span>前往</span>
                <input class="index_jump_page jump_page" type="text" />
                <span>页</span>
            </div>
        </section>
    </div>
</div>
<script src="/static/js/list_manage.js"></script>
<script language="javascript">
    var verification_bill_list_manage = new list_manage("verification_bill","verification-billfr","/verification/bill/index",'{$p}','{$num}','{$max_page}','{$in_column}',"");
</script>
<script src="/verification/js/verification_bill.js"></script>