.sys_employee_list .employee_list {
	height: 100%;
	overflow-x:hidden;
}


.sys_employee_list .employee_list #top {
	/*width: 1120px;*/
	width: 100%;
	height: 41px;
	background-color: #fff;
	/*margin: 0 10px 10px;*/
	
}
.sys_employee_list .employee_list{
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: "微软雅黑";
	width: 100%;
	/*height: 810px;*/
	height: 100%;
	background-color: #ecf0f5;
	overflow-x: hidden;
}
.sys_employee_list .employee_list .content{
	width: 100%;
	/*width: 1120px;*/
	/*height: 800px;*/
	height: 100%;
	background-color: #fff;
	/*margin: auto 10px;*/
	margin-left: 2px;
	margin-top: 6px;
	margin-bottom: 12px;
	padding-top: 10px;
}
.sys_employee_list .employee_list ul.firNav {
	height: 40px;
	margin-left: 1px;
	/*padding: 10px 0;*/
	box-shadow: -1px 2px #ebedf0;
}

.sys_employee_list .employee_list ul.firNav li {
	float: left;
	color: #b2b2b2;
	height: 20px;
	/*width: 130px;*/
	padding: 10px 0;
	/*line-height: 20px;*/
	/*padding: 0 10px;*/
	/*border-right:2px solid #b2b2b2 ;*/
}

.sys_employee_list .employee_list ul.firNav li:hover {
	cursor: pointer;
}

.sys_employee_list .employee_list ul.firNav li div {
	line-height: 20px;
	padding: 0 5px;
	font-size: 12px;
	/*border-right:2px solid #b2b2b2 ;*/
}

.sys_employee_list .employee_list ul.firNav li:last-child div {
	border: none;
}

.sys_employee_list .employee_list ul.firNav li.current {
	color: #333333;
	border-bottom: 1px solid #42a5f5;
}

.sys_employee_list .employee_list #top ul i {
	height: 20px;
	display: inline-block;
	padding-left: 3px;
	font-size: 16px;
	line-height: 40px;
	color: #999999;
	vertical-align: middle;
}

.sys_employee_list .employee_list #top ul span {
	display: inline-block;
	height: 20px;
	vertical-align: middle;
	padding-left: 5px;
	font-size: 12px;
	line-height: 40px;
	color: #999999;
}







.sys_employee_list .employee_list .p5 {
	width: 256px;
	margin-top: 39px;
	margin-left: auto;
	margin-right: auto;
}
.sys_employee_list .employee_list .p5 input {
	width: 100px;
	height: 41px;
	border-radius: 10px;
	background-color: #42a5f5;
	color: #fff;
	border: 1px solid #dcdcdc;
}

.sys_employee_list .employee_list .p5 button {
	width: 100px;
	height: 41px;
	border-radius: 10px;
	/*margin-right: 100px;*/
	background-color: #fff;
	border: 1px solid #dcdcdc;
	margin-left: 50px;
}
/*弹出框*/

.sys_employee_list .employee_list .reveal-modal-bg {
	position: fixed;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
	top: 0;
	left: 0;
	background: rgba(00, 00, 00, 0.4)
}

.sys_employee_list .employee_list .reveal-modal {
	width: 590px;
	height: 280px;
	visibility: hidden;
	top: 150px;
	left: 50%;
	margin-left: -300px;
	position: absolute;
	z-index: 101;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	-box-shadow: 0 0 10px rgba(0, 0, 0, .4);
	background-color: #fff;
}

.sys_employee_list .employee_list .reveal-modal .p1 {
	width: 590px !important;
	height: 50px !important;
	background-color: #6b7a99;
	font-size: 18px !important;
	text-align: center;
	line-height: 50px !important;
	color: #fff;
}

.sys_employee_list .employee_list .reveal-modal .p2 {
	width: 590px;
	font-size: 18px;
	text-align: center;
	line-height: 140px;
	color: #666666;
	display: inline-block;
}

.sys_employee_list .employee_list .reveal-modal select {
	width: 200px;
	height: 30px;
	margin-left: 10px;
}

.sys_employee_list .employee_list #myModal .p5 input {
	/*clear: both;*/
	width: 50px;
	height: 42px;
}
.sys_employee_list .employee_list .reveal-modal .close-reveal-modal {
	font-size: 32px;
	line-height: 0.5;
	position: absolute;
	top: 15px;
	right: 18px;
	color: #fff;
	text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
	font-weight: bold;
	cursor: pointer;
}

/************************************************************************/
.sys_employee_list .employee_list .m-secNav{
	padding: 20px 6px;
}
.sys_employee_list .employee_list .m-secNav li:not(.vertical){
	float: left;
	width: 80px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	text-align: center;
	margin-right: 10px;
	border-radius: 12.5px;
	color: #cccccc;
	background-color: #e6e6e6;
	cursor: pointer;
}
.sys_employee_list .employee_list .m-secNav li:not(.vertival).active{
	color: white;
	background-color: #42a5f5;
}
.sys_employee_list .employee_list .m-secNav li.vertical{
	float: left;
	width: 1px;
	height: 25px;
	margin-right: 10px;
	background-color: #ecf0f5;
}
.sys_employee_list .employee_list .m-filterNav{
	margin-left: 4px;
}
.sys_employee_list .employee_list .m-filterNav select{
	width: 110px;
	height: 25px;
	box-sizing: content-box;
	margin-right: 8px;
	border: 1px solid #dddddd;
	cursor: pointer;
}
.sys_employee_list .employee_list .m-filterNav input[type="text"]{
	width: 110px;
	padding: 0 5px;
	height: 25px;
	box-sizing: content-box;
	margin-right: 8px;
	border: 1px solid #dddddd;
	/*background-color: black;*/
}
.sys_employee_list .employee_list .u-btnSearch{
	width: 60px;
	height: 25px;
	border-radius: 12.5px;
	line-height: 25px;
	margin-left: 10px;
	text-align: center;
	color: white;
	border: none;
	background-color: #42a5f5;
}

/************************************************************************/

.sys_employee_list .employee_list .blackBg{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*height: 100%;*/
	background-color: rgba(0,0,0,0.4);
}

/************************************************************************/
/*新建客户*/
.sys_employee_list .employee_list .newClient{
	width: 1000px;
	height: 650px;
	position: absolute;
	left: 66px;
	top: 96px;
	background-color: #fff;
	/*overflow-y: auto;
	overflow-x:hidden ;*/
}
.sys_employee_list .employee_list .newClient header{
	
	height: 50px;
	background-color: #6b7a99;
	width: 100% !important;
    top: 0 !important;
    position: relative !important;
}
.sys_employee_list .employee_list .newClient header h1{
	position: relative;
	color: white;
	line-height: 50px;
	text-align: center;
}
.sys_employee_list .employee_list .newClient header .fa-close{
	position: absolute;
	color: #939aab;
	right: 10px;
	top: 10px;
}
.sys_employee_list .employee_list .newClient .process{
	padding: 20px 0;
	width: 598px;
	margin:0 auto;
	/*margin-left:15px ;*/
	transform: translateX(-15px);
}
.sys_employee_list .employee_list .newClient .circle{
	float: left;
	position: relative;
	width:18px;
	height: 18px;
	border-radius: 50%;
	background-color: white;
	border: 4px solid #7abd52;
}
.sys_employee_list .employee_list .newClient .rect{
	float: left;
	margin-top: 9px;
	width: 260px;
	height: 8px;
	background-color: #e6e6e6;
}
.sys_employee_list .employee_list .newClient .process span{
	white-space: nowrap;
	position: absolute;
	top: 30px;
	left: 50%;
	/*margin-left: -50%;*/
	transform: translateX(-50%);
}
/*表单*/
.sys_employee_list .employee_list .newClientForm{
	margin-top: 20px;
	padding-left: 30px;
}

/************************************************************************/