<div class="verification verification_sale_chance verification_sale_chance_detail" style="overflow-x: hidden;">
    <div class="detail_panel detail">
    	<header>
	        <ul class="m-firNav">
	            <li class="current back"><div>成单申请</div></li>
	            <i class="fa fa-angle-right fa-2x"></i>
	            <span class="u-spanInfo">详情</span>
	        </ul>
	    </header>
	    <div class="m-divBlock m-form sale-chance-record sale-chance-record-{$vo.id}">
	    	<div>
                <span class="cont">客户名称：</span>
                <span class="cont-x color-blue2"></span>
                <span class="cont">对应业务：</span>
                <span class="cont-x">{$business_flow_names[$vo['business_id']]}</span>
            </div>
            <div>                
                <span class="cont">销售机会：</span>
                <span class="cont-x">{$vo.sale_name}</span>
                <span class="cont">负责人：</span>
                <span class="cont-x">{$vo.employee_name}</span>
            </div>
            <div>
                <span class="cont-max-max">预计成单金额：</span>
                <span class="cont-x"><span class="number">{$vo.guess_money}</span> 元</span>
                <span class="cont-max-max">预计成单时间：</span>
                <span class="cont-x">{$vo.prepay_time|day_format}</span>
            </div>
            
            <hr/>
            <div class="sale-chance-finish-record">
                <div>
                    <h1><span>{$voc.contract_type_name}</span>(合同编号<span>{$voc.contract_no}</span>)</h1>
                </div>
                <div>
                    <span class="cont">收据类型：</span><span class="cont-x">普通收据</span>
                    <span class="cont">打款方式：</span><span class="cont-x">银行转账</span>
                </div>
                <div>
                    <span class="cont">合同金额：</span>
                    <span class="cont-x"><span class="number">{$voc.contract_money}</span> 元</span>
                    <span class="cont">收款银行：</span>
                    <span class="cont-x">中国交通银行潍坊支行</span>
                </div>
                <div>
                    <span class="cont">打款金额：</span>
                    <span class="cont-x">
                        <span class="number">{$voc.pay_money}</span> 元
                    </span>
                    <span class="cont-max-max">打款方名称：</span>
                    <span class="cont-x">山东大器天成股份有限公司</span>
                </div>
            </div>
	    </div>
	</div>
</div>