body{
	overflow: hidden;
	position: relative;
	background-color: #ecf0f5;
}
/*侧边栏*/
#side{
	width: 220px;
	background-color: #263238;
	overflow-x: hidden;
	overflow-y: auto;
	/*max-height: 950px;*/
	scrollbar-track-color:green;
	scrollbar-arrow-color: white;
	scrollbar-track-color: #263238;
	scrollbar-face-color: #202A2F;
	scrollbar-3dlight-color: lightgray;
}
aside{
	width: 220px;
	/*height: 1080px;*/
	/*overflow-y:auto;*/
	overflow: hidden;
	background-color: #263238;
}
#side::-webkit-scrollbar {
        width:0px;
    }
aside dl{
	font-size: 14px;
	color: #abb1b7;
	border-bottom: 1px solid #222d32;
	/*text-indent: 40px;*/
}
aside dl:hover{
	cursor:pointer;
}
.dlcurrent{
	background-color: #202A2F;
}
aside dl dt{
	font-size: 15px;
	line-height: 45px;
	color: #abb1b7;
	text-indent: 20px;
}
.dtcurrent{
	font-weight: bold;
	color: white;
}
aside dl dd{
	/*display: none;*/
	line-height: 37px;
	text-indent: 48px;
}
.ddcurrent{
	border-left: 2px solid #0c80df;
	text-indent: 46px;
	color: white;
	font-weight: bold;
}
aside dl i{
	/*position: absolute;*/
	line-height: 40px;
	display:inline !important;
}
.blod{
	font-weight: bold;
}
.hide{
	display: none;
}
.fa-angle-right{
	float: right;
	margin-right: 20px;
	margin-top: 12px;
}
.fa-angle-down{
	float: right;
	margin-right: 20px;
	margin-top: 12px;
}
#logo{
	width: 120px;
	height: 120px;
	position: relative;
	left: 50%;
	margin-left: -50px;
}
#logo img{
	width: 100%;
	height: 100%;
}
/*顶部栏*/
.header{
	height: 39px;
	/*width: 100%;*/
	position: fixed;
	top: 0;
	left: 220px;
	background-color: #3b4d56;
	box-shadow: 0 2px #dddee0 ;
}
#x-layout{
	line-height: 40px;
	padding-left: 10px;
	color: #919eac;
	float: left;
}
#r-nav{
	height: 40px;
	line-height: 30px;
	color: #919eac;
	float: right;
}
#r-nav i{
	line-height: 30px;
	margin-right: 5px;
}
#r-nav span{
	display: inline-block;
	height: 30px;
	line-height: 30px;
	position: relative;
	top: -2px;
	/*margin-bottom: 2px;*/
}
#r-nav>div{
	border-right: 1px solid #384951;
	height: 30px;
	float: left;
	margin: 5px 0;
	padding: 0 10px;
}
#r-nav>div:last-child{
	border: none;
}
/*section*/
section#subt{
	height: 38px;
	padding-top: 1px;
	position: fixed;
	top: 42px;
	left: 220px;
	background-color: #f5f7fa;
	overflow: hidden;
}
/*::-webkit-scrollbar{height:0;}*/
#subtitle{
	height: 38px;
	width: 152px;
	/*overflow: hidden !important;*/
	/*overflow: scroll;*/
}
#subtitle>div{
	float: left;
	width: 110px;
	height: 38px;
	position: relative;
	margin-right: 2px;
	padding: 0 30px 0 10px;
	font-size: 14px;
	line-height: 38px;
	color: #333333;
	background-color: #e3e7ed;
	border-radius: 5px 5px 0 0;
}
#subtitle>div:hover{
	cursor: pointer;
}
#subtitle>div.active{
	height: 37px;
	box-shadow: 0 -1px #d4d4d4;
	background-color: white;
}
#subtitle span{
	text-overflow: ellipsis;
	overflow: hidden;
	/*white-space: nowrap;*/
}
#subtitle i{
	width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    line-height: 18px;
	color: #b2b2b2;
}
#subtitle>div.active i{
	background-color: red;
	color: white;
}
#subtitle span span{
	font-size: 12px;
}
/*iframe*/
#frames{
	width: 100%;
	/*height: 100%;*/
	margin-left: 4px;
	position: fixed;
	left: 220px;
	top: 80px;
}
#frames .once {
	/*width: 100%;
	height: 100%;*/
	position: absolute;
	left: 0;
	top: 0;
	border: none;
	background-color: #FFFFFF;
	overflow: auto;
}
#frames .hid{
	display: none;
}
