.five_tree {

}
.five_tree .node {
}
.five_tree .node .node_item {
    height: 42px;
}
.five_tree .node .node_item .node_plus{
    margin:5px;
    font-size: 18px;
}
.five_tree .node .node_item .node_tool{
    display: none;
}
.five_tree .node .node_item:hover {
    background-color: #e6e6e6;
}
.five_tree .node .node_item:hover .node_tool{
    display: inline-block;
}
.five_tree .node .child_list {
    margin-left: 20px;
}