<div class="one">
    <p class="p1 role_manage activity">权限管理</p>
    <p class="p1 employee_manage ">成员管理</p>
</div>
<div class="table role_list">
    <input type="hidden" value="{$role.id}" />
    <div class="up">
        <div class="tab_1">
            <p>数据权限</p>
        </div>
        <div class="tab_2">
            <div class="xuanze" >
                <input type="radio" name="data_type" {eq name="role.data_type" value="0"} checked="checked" {/eq} /><span>本人</span>
                <input type="radio" name="data_type" {eq name="role.data_type" value="1"} checked="checked" {/eq} /><span>本部门</span>
                <input type="radio" name="data_type" {eq name="role.data_type" value="2"} checked="checked" {/eq} /><span>下级部门</span>
                <input type="radio" name="data_type" {eq name="role.data_type" value="3"} checked="checked" {/eq} /><span>本部门及下级部门</span>
                <input type="radio" name="data_type" {eq name="role.data_type" value="4"} checked="checked" {/eq} /><span>指定部门</span>
                <select name="struct_ids">
                    <option>请选择部门</option>
                </select>
            </div>
        </div>
    </div>
    <div class="down">
        <div class="tab_3">
            <p>权限功能</p>
        </div>
        <div class="tab_4">
            <div class="left">
                <ul>
                    <li>模块</li>
                    {volist name="rule_list" id="vo"}
                        {eq name="vo.type" value="0"}
                    <li><span>{$vo.rule_title}</span></li>
                        {else/}
                    <li><input type="checkbox" name="rule_ids"
                               {in name="vo.id" value="role_rule_ids"}
                               checked="checked"
                               {/in}
                            /><span>{$vo.rule_title}</span></li>
                        {/eq}
                    {/volist}
                    <li>----------------------</li>
                    <li><input type="checkbox" name="rule_ids"/><span>数据统计</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>员工任务</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>员工成长</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>CRM</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>客户搜集</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>知识库</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>积分商城</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>个人中心</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>系统管理</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>员工管理</span></li>
                </ul>
            </div>
            <div class='right'>
                <ul>
                    <li>功能</li>
                    {volist name="rule_sub_list" id="vo"}
                    <li>
                        {neq name="vo" value="false"}
                            {volist name="vo" id="voc"}
                    <input type="checkbox" name="rule_ids" value="{$voc.id}"
                               {in name="vo.id" value="role_rule_ids"}
                               checked="checked"
                               {/in}
                    /><span>{$voc.rule_title}</span>
                            {/volist}
                        {/neq}
                    </li>
                    {/volist}
                    <li>-----------------------</li>
                    <li><input type="checkbox" name="rule_ids"/><span>导出数据</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>导出数据</span><input type="checkbox" name="rule_ids"/><span>增删改</span></li>
                    <li><input type="checkbox" name="rule_ids"/><span>增删改查</span></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>