<div class="systemsetting_content block_list h100 o-h">
	<div id="top">
		<ul class="firNav">
			<li class="current">
				<div>合同设置</div>
			</li>
		</ul>
	</div>
	<div class="m-3rd-container o-x-h">
		<div class="content">
		{volist name="listdata" id="vo"}
		<a class="content_link" href="javascript:loadPage('{:url('edit_page',['id'=>$vo.id])}','contract-settingfr');">
			<div class="content_item ">
				<h4 class="content_title center">{$vo.contract_name}</h4>
			</div>
		</a>
		{/volist}
		<a class="content_link add" href="javascript:loadPage('{:url('add_page')}','contract-settingfr');">
			<div class="content_item">
				<h2 class="content_sub_title">+</h2>
			</div>
		</a>
	</div>
	</div>
	
</div>
<link rel="stylesheet" href="/static/css/block_list.css" />
<link rel="stylesheet" href="/systemsetting/css/contract_list.css" />