<!--存放顶部加载的资源-->
<link rel="stylesheet" href="/static/css/reset.css" />
<link rel="stylesheet" href="/static/css/index.css" />
<link rel="stylesheet" href="/static/css/divBlock.css" />
<link rel="stylesheet" href="/static/css/form.css" />
<link rel="stylesheet" href="/static/css/table.css" />
<link rel="stylesheet" href="/static/css/font-awesome.min.css" />
<link rel="stylesheet" href="/static/css/popUp.css" />
<link rel="stylesheet" href="/static/css/response.css" />
<link rel="stylesheet" href="/static/css/call.css" />

<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.reveal.js"></script>
<!--右键菜单插件-->
<script type="text/javascript" src="/static/js/jquery.smartmenus.min.js"></script>
<script type="text/javascript" src="/static/js/map.js"></script>