<div class="m-divBlock m-form edit-sale-chance edit-sale-chance-{$id}">
    <h1><i class="fa fa-tag"></i>编辑销售机会</h1>
    <form class="editSaleChanceForm {$fr}editSaleChanceForm" onsubmit="return false;">
        <div>
            <span class="cont">销售机会</span>
            <input type="text" name="sale_name" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入销售机会" value="{$sale_chance.sale_name}" />
            <span class="cont">对应业务</span>
            <select name="business_id" class="business_flow_selecter" disabled="disabled">
                {volist name="business_flows" id="vo"}
                    <option value="{$vo.id}" {eq name='sale_chance.business_id' value='$vo.id'} selected="selected"{/eq}>{$vo.business_flow_name}</option>
                {/volist}
            </select>
        </div>
        <div>
            <span class="cont-max">预计成单金额</span>
            <input type="text" name="guess_money" placeholder="请输入金额" value="{$sale_chance.guess_money}" />
            <span class="cont-max">预计成单时间</span>
            <input type="date" name="prepay_time" value="{$sale_chance.prepay_time|day_format}" />
        </div>
        <div>            
            <span class="cont">协助人</span>
            <input type="text" placeholder="请输入协助人电话" name="associator_id" value="{$sale_chance.associator_id}" />
            <span class="cont">负责人</span>
            <span class="cont-x">{$sale_chance.employee_name}</span>
        </div>
        <div>
            <span class="cont">业务状态</span>
            <select name="sale_status" class="sale-chance-status_selecter">
                {volist name="business_flow_item_links" id="vo"}
                    {in name="vo.item_id" value="$activity_business_flow_item_index"}
                        {in name="vo.item_id" value="$now_and_next_item"}
                            <option value="{$vo.item_id}" {eq name='sale_chance.sale_status' value='$vo.item_id'} selected="selected"{/eq}>{$vo.item_name}</option>
                        {else/}
                            <optgroup label="{$vo.item_name}"></optgroup>
                        {/in}
                    {/in}
                {/volist}
            </select>
        </div>

        {eq name='show_visit' value='1'}
        <div class="sale-chance sale-chance-visit {neq name='now_item' value='2'} hide{/neq}">
            <div>
                <span class="cont">拜访时间</span>
                <input type="datetime-local" name="visit_time" value="{$saleChancesVisitData.visit_time|minutes_format_html5}" />
            </div>
            <div>
                <span class="cont">拜访地点</span>
                <!-- <input type="text" name="visit_place" placeholder="请输入地址" value="{$saleChancesVisitData.visit_place}" /> -->
                <input type="text" name="visit_place" pattern="[\d\D]{0,40}" title="最多可填写40个字符" placeholder="请输入详细地址" value="{$saleChancesVisitData.visit_place}" />
            </div>
            <!-- <div>
                <span class="cont">&nbsp;</span>
                <img src="/systemsetting/images/map.jpg" />
                <input type="hidden" value="36,119" />
            </div> -->
            <div>
                <span class="cont u-area">详细定位</span>
                <!--<input type="text" name="location" placeholder="请点击地图进行坐标定位"/>-->
                <input type="hidden" name="lng" class="lng" value="{$saleChancesVisitData.lng}"/>
                <input type="hidden" name="lat" class="lat" value="{$saleChancesVisitData.lat}"/>
                <iframe class="mapFrame sale_chance_edit_map" name="sale_chance_edit_map" data-lng="{$saleChancesVisitData.lng}" data-lat="{$saleChancesVisitData.lat}" data-edit="true" src="/index/index/map.html" onload="mapLoad('sale_chance_edit_map')"></iframe>
            </div>
            <div>
                <span class="cont">结伴提醒</span>
                <div class="u-inlineRadio">
                    <input type="radio" name="partner_notice" {eq name='saleChancesVisitData.partner_notice' value='1'} checked="checked"{/eq} value="1"/>是
                    <input type="radio" name="partner_notice" {neq name='saleChancesVisitData.partner_notice' value='1'} checked="checked"{/neq} value="0"/>否
                </div>
            </div>
            <div>
                <span class="cont">添加备忘录</span>
                <div class="u-inlineRadio">
                    <input type="radio" name="add_note" {eq name='saleChancesVisitData.add_note' value='1'} checked="checked"{/eq} value="1"/>是
                    <input type="radio" name="add_note" {neq name='saleChancesVisitData.add_note' value='1'} checked="checked"{/neq} value="0"/>否
                </div>
            </div>
        </div>
        {/eq}

        {eq name='show_fine' value='1'}
        <div class="sale-chance sale-chance-finish {notin name='now_item' value='3,4'} hide{/notin}">
            <input type="hidden" name="refresh" value="{$refresh}" />

            {volist name="saleOrderContractItem" id="voc" key="keyc"}
                <div class="sale-chance-apply-contract" index="{$keyc}">
                    <div class="controler">
                        <div class="add"><i class="fa fa-plus-circle fa-2x"></i></div>
                        <div class="delete"><i class="fa fa-trash-o fa-2x"></i></div>
                    </div>
                    <div>
                        <span class="cont">合同编号</span>
                        <select name="contract_id" class="contract_no_selecter">
                            {volist name="contract_list" id="vo" key="key" empty="$empty"}
                                <option value="{$key-1}" {eq name='voc.contract_id' value='$key-1'} selected="selected"{/eq}>{$vo.contract_no}</option>
                            {/volist}
                        </select>
                        <input type="hidden" class="contract_type_name" value='{$contract_type_name_json}'/>
                        <input type="hidden" class="contract_bank_name" value='{$contract_bank_name_json}'/>
                        <span class="cont">合同类型</span>
                        <span class="cont-x contract_type">------</span>
                    </div>
                    <div>
                        <span class="cont-max">合同金额</span>
                        <input type="text" placeholder="请输入成单" name="contract_money" value="{empty name='voc.contract_money'}{$sale_chance.guess_money}{else/}{$voc.contract_money}{/empty}" />
                        <span class="cont">打款金额</span>
                        <input type="text" placeholder="请输入打款金额" name="pay_money" value="{empty name='voc.pay_money'}{$sale_chance.guess_money}{else/}{$voc.pay_money}{/empty}" />
                    </div>
                    <div>
                        <span class="cont">打款方式</span>
                        <div class="u-inlineRadio">
                            <input type="radio" name="pay_type_{$keyc}" {eq name='voc.pay_type' value='1'} checked="checked"{/eq} value="1"/>现金
                            <input type="radio" name="pay_type_{$keyc}" {neq name='voc.pay_type' value='1'} checked="checked"{/neq} value="2"/>银行转账                           
                        </div>
                        <span class="cont">银行</span>
                        <select name="pay_bank_{$keyc}" class="pay_bank">
                            <option value="">无</option>
                        </select>
                        <input type="hidden" class="pay_bank_default" value='{$voc.pay_bank}'/>
                    </div>
                    <div>
                        <span class="cont">打款方名称</span>
                        <input type="text" placeholder="请输入打款方名称" name="pay_name" value="{empty name='voc.pay_name'}{$customer.customer_name}{else/}{$voc.pay_name}{/empty}" />
                        <span class="cont-max-max">预计合同到期时间</span>
                        <input type="date" name="due_time" value="{$voc.due_time|day_format}" />
                    </div>
                    <div>
                        
                        <span class="cont">发票</span>
                        <div class="u-inlineRadio">
                            <input type="radio" name="need_bill_{$keyc}" {eq name='voc.need_bill' value='1'} checked="checked"{/eq} value="1"/>是
                            <input type="radio" name="need_bill_{$keyc}" {neq name='voc.need_bill' value='1'} checked="checked"{/neq} value="0"/>否
                        </div>
                    </div>
                </div>
            {/volist}

            <div>
                <span class="cont u-area">产品详情</span>
                <textarea placeholder="请输入" name="prod_desc">{$saleOrderContractData.prod_desc}</textarea>
            </div>
            <div>
                <span class="cont">到账审核</span>
                <span class="cont-min1">一审人</span>
                <select name="handle_1" class="handle_1">
                    {volist name="role_employee_index[$business_flow_item_link['handle_1']]" id="vo"}
                        <option value="{$vo.user_id}" {eq name="saleOrderContractData.handle_1" value="$vo.user_id"} selected="selected"{/eq}>{$vo.truename}</option>
                    {/volist}
                </select>
                {notempty name="business_flow_item_link.handle_2"}
                <span class="cont-min2">二审人</span>
                <select name="handle_2" class="handle_2">
                    {volist name="role_employee_index[$business_flow_item_link['handle_2']]" id="vo"}
                    <option value="{$vo.user_id}" {eq name="saleOrderContractData.handle_2" value="$vo.user_id"} selected="selected"{/eq}>{$vo.truename}</option>
                    {/volist}
                </select>
                {/notempty}
            </div>
            <div>
                <span class="cont"></span>
                {notempty name="business_flow_item_link.handle_3"}
                <span class="cont-min1">三审人</span>
                <select name="handle_3" class="handle_3">
                    {volist name="role_employee_index[$business_flow_item_link['handle_3']]" id="vo"}
                    <option value="{$vo.user_id}" {eq name="saleOrderContractData.handle_3" value="$vo.user_id"} selected="selected"{/eq}>{$vo.truename}</option>
                    {/volist}
                </select>
                {/notempty}
                {notempty name="business_flow_item_link.handle_4"}
                <span class="cont-min2">四审人</span>
                <select name="handle_4" class="handle_4">
                    {volist name="role_employee_index[$business_flow_item_link['handle_4']]" id="vo"}
                    <option value="{$vo.user_id}" {eq name="saleOrderContractData.handle_4" value="$vo.user_id"} selected="selected"{/eq}>{$vo.truename}</option>
                    {/volist}
                </select>
                {/notempty}
            </div>
            <div>
                <span class="cont"></span>
                {notempty name="business_flow_item_link.handle_5"}
                <span class="cont-min1">五审人</span>
                <select name="handle_5" class="handle_5">
                    {volist name="role_employee_index[$business_flow_item_link['handle_5']]" id="vo"}
                    <option value="{$vo.user_id}" {eq name="saleOrderContractData.handle_5" value="$vo.user_id"} selected="selected"{/eq}>{$vo.truename}</option>
                    {/volist}
                </select>
                {/notempty}
                {notempty name="business_flow_item_link.handle_6"}
                <span class="cont-min2">六审人</span>
                <select name="handle_6" class="handle_6">
                    {volist name="role_employee_index[$business_flow_item_link['handle_6']]" id="vo"}
                    <option value="{$vo.user_id}" {eq name="saleOrderContractData.handle_6" value="$vo.user_id"} selected="selected"{/eq}>{$vo.truename}</option>
                    {/volist}
                </select>
                {/notempty}
            </div>
        </div>
        {/eq}

        <div class="sale-chance-intentional">
            <div>
                <span class="cont">备注</span>
                {volist name="param_list" id="v"}
                <span class="remark"><input type="text" class="remarker" value="{$v.title}" data-id="{$v.id}" readonly="readonly"/><i class="fa fa-pencil"></i><i class="fa fa-check hide"></i><i class="fa fa-close"></i></span>
                {/volist}
                <span class="u-addRemark"><i class="fa fa-plus"></i></span>
                <div class="clearfix"></div>
                <span class="cont"></span>
                <textarea name="remark" style="resize:both;" pattern="[\d\D]{0,80}" title="最多可填写80个字符" placeholder="请填写备注">{$sale_chance.remark}</textarea>
            </div>
        </div>

        <div class="u-submitButton">
            <button class="sale_chance_edit_save">{gt name='sale_chance.sale_status' value='3'}申请{else/}提交{/gt}</button>
            <button class="sale_chance_edit_cancel">取消</button>
        </div>
    </form>
</div>