<div class="m-divBlock m-form create-sale-chance">
    <h1><i class="fa fa-tag"></i>新建销售机会</h1>
    <form class="newSaleChanceForm {$fr}newSaleChanceForm" onsubmit="return false;">
        <div>
            <span class="cont">销售机会</span>
            <input type="text" name="sale_name" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入销售机会" />
            <span class="cont">对应业务</span>
            <select name="business_id" class="business_flow_selecter">
                {volist name="business_flows" id="vo"}
                    <option value="{$vo.id}">{$vo.business_flow_name}</option>
                {/volist}
            </select>
        </div>
        <div>
            <span class="cont-max">预计成单金额</span>
            <input type="text" name="guess_money" placeholder="请输入金额" />
            <span class="cont-max">预计成单时间</span>
            <input type="date" name="prepay_time" value="{$sale_chance.prepay_time|day_format}"/>
        </div>
        <div>            
            <span class="cont">协助人</span>
            <input type="text" class="create-sale-chance-select-window" placeholder="请输入协助人电话" name="associator_id" />
            <span class="cont">负责人</span>
            <span class="cont-x">{$true_name}</span>
            <div class="main-content select-window" style="margin:0 auto;" data-num="1" data-str='departments[]=,&,&,employees[]=,&' data-selector=".create-sale-chance-select-window"></div>
        </div>
        <div>
            <span class="cont">业务状态</span>
            <select class="sale-chance-status_selecter">
                <option value="1">有意向</option>
                <optgroup label="预约拜访"></optgroup>
                <optgroup label="成单申请"></optgroup>
            </select>
        </div>
        <div class="sale-chance sale-chance-intentional">
            <div>
                <span class="cont ver_top">备注</span>
                <!-- {volist name="param_list" id="v"}
                <span class="remark"><input type="text" class="remarker" value="{$v.title}" data-id="{$v.id}" readonly="readonly"/><i class="fa fa-pencil"></i><i class="fa fa-check hide"></i><i class="fa fa-close"></i></span>
                {/volist}
                <span class="u-addRemark"><i class="fa fa-plus"></i></span>
                <div class="clearfix"></div>
                <span class="cont"></span> -->
                <textarea name="remark" style="resize:both;" pattern="[\d\D]{0,80}" title="最多可填写80个字符" placeholder="请填写备注"></textarea>
            </div>
        </div>
        <div class="u-submitButton">
            <button class="sale_chance_add_save">提交</button>
            <button class="sale_chance_add_cancel">取消</button>
        </div>
    </form>
</div>
<script type="text/javascript">
    $(".create-sale-chance-select-window").focus(function(){
        $(".select-window-container").remove();
        $(".create-sale-chance .main-content.select-window").load("/index/index/select_window.html");
    })
</script>