<!--客户详情-->
<section class="page-info">
    <header>
        <ul class="m-firNav">
            <li class="current back"><div>我的所有客户（<span>160</span>）</div></li>
            <i class="fa fa-angle-right fa-2x"></i>
            <span class="u-spanInfo">详情</span>
        </ul>
    </header>
    <ul class="m-pageInfoNav">
        <div class="clearfix"></div>
        <li class="customer_general_show">概要</li>
        <li class="customer_info_show">客户信息</li>
        <li class="customer_contact_show">联系人（{$customer_contact_num}）</li>
        <li class="current">销售机会（{$sale_chance_num}）</li>
        <li class="customer_trace_show">跟踪记录（{$customer_trace_num}）</li>
        <div class="clearfix"></div>
    </ul>
    <!--新建销售机会-->
    <section class="clientInfoSaleChance" >
        <div class="new-sale-chance">
            <i class="fa fa-plus fa-2x"></i>
            新建销售机会
        </div>

        <!--销售机会-->
        {volist name="sale_chance" id="vo"}
        <div class="m-divBlock m-form sale-chance-record sale-chance-record-{$vo.id}">
            <div class="z-recordState">
                {lt name="vo.sale_status" value="5"}
                    {if condition="($vo.sale_status==4) AND ($vo.order_status==0)"}
                        <div class="z-backspace">
                            <div class="edit2 sale_chance_reply">
                                <i class="fa fa-2x fa-reply"></i></br>
                                <span>撤回</span>
                            </div>
                        </div>
                    {elseif condition="($vo.sale_status==4) AND ($vo.order_status==2)"/}
                        <div class="z-reapply sale_chance_refresh">
                            <div class="edit2">
                                <i class="fa fa-2x fa-refresh" style="margin-left: 13px;"></i></br>
                                <span>重新申请</span>
                            </div>
                        </div>
                    {else/}
                        <div class="z-modify">
                            <div class="edit2 sale_chance_edit">
                                <i class="fa fa-file-text-o fa-2x"></i></br>
                                <span>编辑</span>
                            </div>
                            <div class="edit2 sale_chance_invalid">
                                <i class="fa fa-2x fa-file-excel-o"></i></br>
                                <span>作废</span>
                            </div>
                        </div>
                    {/if}
                    <input type="hidden" class="edit_id" value="{$vo.id}"/>
                {/lt}
                {eq name="vo.sale_status" value="5"}
                <div class="z-win">
                    <img src="/crm/img/win.png" />
                </div>
                {/eq}
                {eq name="vo.sale_status" value="6"}
                <div class="z-lose">
                    <img src="/crm/img/lose.png" />
                </div>
                {/eq}
                {eq name="vo.sale_status" value="7"}
                <div class="z-invalid">
                    <img src="/crm/img/invalid.png" />
                </div>
                {/eq}
            </div>
            <div>
                <span class="cont">销售机会：</span>
                <span class="cont-x">{$vo.sale_name}</span>
                <span class="cont">对应业务：</span>
                <span class="cont-x">{$business_flow_names[$vo['business_id']]}</span>
            </div>
            <div>
                <span class="cont-max-max">预计成单金额：</span>
                <span class="cont-x"><span class="number">{$vo.guess_money}</span> 元</span>
                <span class="cont-max-max">预计成单时间：</span>
                <span class="cont-x">{$vo.prepay_time}</span>
            </div>
            <div>
                <span class="cont">负责人：</span>
                <span class="cont-x">{$vo.employee_name}</span>
                <span class="cont">协助人：</span>
                <span class="cont-x telephone">{$vo.associator_name}<i class="fa fa-phone"></i></span>
            </div>
            <div>
                <span class="cont">客户状态：</span>
                <span class="cont-x">{$vo.sale_status|getSaleStatusName}</span>
            </div>

            {in name="vo.sale_status" value="2,3"}
            <!--拜访：应该显示的部分-->
            <div class="sale-chance-visit-record">
                <div>
                    <span class="cont">拜访时间：</span>
                    <span class="cont-x">{$vo.visit_time|time_format}</span>
                    <span class="cont">拜访地点：</span>
                    <span class="cont-x">{$vo.visit_place}</span>
                </div>
                <div>
                    <span class="cont">&nbsp;</span>
                    <img src="/systemsetting/images/map.jpg" />
                </div>
                <div>
                    <span class="cont">结伴提醒：</span>
                    <span class="cont-x">{eq name='vo.partner_notice' value='1'}是{else/}否{/eq}</span>
                    <span class="cont-max-max">添加到备忘录：</span>
                    <span class="cont-x">{eq name='vo.add_note' value='1'}是{else/}否{/eq}</span>
                </div>
            </div>
            {/in}

            {in name="vo.sale_status" value="4,5,6,8"}
            <!--成单：应该显示的部分-->
            <div class="sale-chance-finish-record">
                <div>
                    <span class="cont">合同类型：</span>
                    <span class="cont-x">技术合同 <span class="cont-in">收据类型：<span class="cont-in-x">普通收据</span></span></span>
                    <span class="cont-max-max">合同/收据编号：</span>
                    <span class="cont-x">4651782</span>
                </div>
                <div>
                    <span class="cont">发票类型：</span>
                    <span class="cont-x"><span class="number">7,000</span> 元<span class="cont-in">发票带领取</span></span>
                </div>
                <div>
                    <span class="cont">定金：</span>
                    <span class="cont-x"><span class="number">6,000</span> 元</span>
                </div>
                <div>
                    <span class="cont">尾中款：</span>
                    <span class="cont-x"><span class="number">500</span> 元<span class="cont-in color-blue">申请发票</span></span>
                </div>
                <div>
                    <span class="cont">共缴纳：</span>
                    <span class="cont-x"><span class="number">6,500</span> 元</span>
                </div>
                <div>
                    <span class="cont">剩余尾款：</span>
                    <span class="cont-x"><span class="number">500</span> 元<span class="cont-in color-blue">尾款缴纳申请</span></span>
                </div>
            </div>
            {/in}

            {egt name="vo.sale_status" value="1"}
            <!--有意向：应该显示的部分-->
            <div class="sale-chance-intentional-record">
                <span class="cont">备注：</span>
                <span class="remark">{$vo.remark}</span>
            </div>
            {/egt}
        </div>
        {/volist}
    </section>
</section>