<div class="systemsetting_business_flow block_list h100 o-h">
	<div id="top">
		<ul class="firNav">
			<li class="current">
				<div>业务流管理</div>
			</li>
		</ul>
	</div>
	<div class="m-3rd-container o-x-h">
		<div class="content b-x">
			{volist name="listdata" id="vo"}
			<a class="content_link" href="javascript:loadPage('{:url('edit_page',['id'=>$vo.id])}','business-flowfr');">
				<div class="content_item">
					<h4 class="content_title">{$vo.business_flow_name}</h4> {volist name="vo.set_to_role_arr" id="svo" length="4"}
					<p class="content_info">{$role_name[$svo]}</p>
					{/volist}
				</div>
			</a>
			{/volist}
			{if condition="hava_permission('systemsetting/business_flow/index/add',$rule_white_list)"}
			<a href="javascript:loadPage('{:url('add_page')}','business-flowfr');" class="content_link add">
				<div class="content_item">
					<h2 class="content_sub_title">+</h2>
				</div>
			</a>
			{/if}
		</div>
	</div>
	
</div>
<link rel="stylesheet" href="/static/css/block_list.css" />
<link rel="stylesheet" href="/systemsetting/css/business_flow.css" />