<div class="task_setting task_setting_list m-2nd-container h100">
	<div class="task-list-panel b-w">
		<div class="m-filterNav">
			<input type="text" name="" placeholder="请输入姓名" value="">
	        <button class="u-btnSearch">查询</button>
		</div>
	</div>
	<div class="m-tableBox p-r o-h mar-0 pad-t-20 b-w">
        <div class="m-table m-table-nav">
            <ul class="u-tabTitle">
                <li>姓名</li>
                <li>操作</li>
                <div class="clearfix"></div>
            </ul>
            <ul class="u-tabList">
                <li class="color-blue2">张雨</li>
                <li class="u-tabOperation">
                    <span class="">编辑</span>
                    <span class="clear">清除</span>
                </li>    
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="o-a w100">
            <div class="m-table m-table-detail">
	            <ul class="u-tabTitle">
	               	<li>姓名</li>
	                <li>操作</li>
	                <li>录入客户</li>
	                <li>通话数</li>
	                <li>有效通话数</li>
	                <li>通话时长</li>
	                <li>新增意向客户数</li>
	                <li>新增销售机会</li>
	                <li>成单数</li>
	                <div class="clearfix"></div>
	            </ul>
	            <ul class="u-tabList">
	                <li class="color-blue2">张雨</li>
	                <li class="u-tabOperation">
	                    <span class="">编辑</span>
	                    <span class="clear">清除</span>
	                </li> 
	                <li>12/30</li>
	                <li>12/30</li>
	                <li>12/30</li>
	                <li>12/30</li>
	                <li>12/30</li>
	                <li>12/30</li>
	                <li>12/30</li>
	                <div class="clearfix"></div>
	            </ul>
	        </div> 
        </div>        
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/task/css/task_setting.css">