<div class="u-pop-header">
	新模板<i class="fa fa-close fa-2x pop-close-btn"></i>
</div>
<div class="new-template-pop b-w">
	<div class="object b-w" style="padding-left: 0;padding-bottom:10px ">
		<span class="inline">模板名称</span>
		<input class="staff inline">
	</div>
	<div class="content b-w" style="padding-left: 0">
		<h1>任务统计要素</h1>
		<div class="container">
			<div class="left fl">
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">录入客户</li>
					<li class="number"><input type="text">个</li>
					<div class="clearfix"></div>
				</ul>
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">通话次数</li>
					<li class="number"><input type="text">个</li>
					<div class="clearfix"></div>
				</ul>
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">有效通话数</li>
					<li class="number"><input type="text">个</li>
					<div class="clearfix"></div>
				</ul>
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">通话时长</li>
					<li class="number"><input type="text">分</li>
					<div class="clearfix"></div>
				</ul>						
			</div>
			<div class="right fl">
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">新增意向客户</li>
					<li class="number"><input type="text">个</li>
					<div class="clearfix"></div>
				</ul>
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">新增商机</li>
					<li class="number"><input type="text">个</li>
					<div class="clearfix"></div>
				</ul>
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">拜访客户</li>
					<li class="number"><input type="text">个</li>
					<div class="clearfix"></div>
				</ul>
				<ul>
					<li class="check"><input type="checkbox"></li>
					<li class="world">成单数</li>
					<li class="number"><input type="text">个</li>
					<div class="clearfix"></div>
				</ul>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="new-template-pop-footer u-pop-footer">
	<button class="pop-close-btn type1">取消</button>
	<button class="pop-submit-btn type2">保存</button>
</div>
<style type="text/css">
	.new-template-pop{
		padding: 15px 30px;
	}
</style>