<div class="crm_phone_call phone_call_assistant h100 o-h">
    <div class="assistant_panel assistant o-h h100">
        <header>
            <ul class="m-firNav">
                <li in_column="0" class="in_column current"><div>通话记录</div></li>
            </ul>
        </header>
        <div class="m-3rd-container o-h h100">
            <section class="m-divBlock m-low-nav mar-0" style="padding-left: 4px">
                <div class="m-filterNav">
                    <div class="u-select-container">
                        <span>姓名<i class="fa fa-caret-down"></i></span>
                        <select class="tq-uin">
                            <option></option>
                            <option value="9797871" data-tq-name="guguo001">潘三龙</option>
                            <option value="9796248" data-tq-name="sdzhcs1">马一荣</option>
                            <option value="9796249" data-tq-name="sdzhcs2">鞠培丽</option>
                            <option value="9797569" data-tq-name="sdzhcs3">李丽</option>
                        </select>
                    </div>
                    开始时间<input type="datetime-local" class="tq-start-time">
                    结束时间<input type="datetime-local" class="tq-end-time">
                    <button class="tq-search u-btnSearch">查询</button>
                </div>     
            </section>
            <div class="m-4th-container b-w">
                <div class="tq-result m-tableBox mar-0">
                    <div class="m-table m-table-detail">
                        <ul class="u-tabTitle">
                            <li class="u-tabCheckbox">序号</li>
                            <li>客户名称</li>
                            <li>坐席工号</li>
                            <li>客户电话</li>
                            <li>呼叫方式</li>
                            <li class="u-tq-time">接通时间</li>
                            <li class="u-tq-time">结束时间</li>
                            <li>通话时长</li>
                            <li class="u-tq-audio">录音</li>
                            <div class="clearfix"></div>
                        </ul>
                        <ul class="u-tabList">
                            <li class="u-tabCheckbox">1</li>
                            <li class="u-tabCilentName">中迅网媒</li>
                            <li>600</li>
                            <li>17186761671</li>
                            <li>外呼电话</li>
                            <li class="u-tq-time">2017-11-24 10:49</li>
                            <li class="u-tq-time">2017-11-24 10:49</li>
                            <li>00:00:07</li>
                            <li class="u-tq-audio">录音</li>
                            <div class="clearfix"></div>
                        </ul>
                    </div>
                </div>

            </div>                                     
        </div>
    </div>   
</div>
<link rel="stylesheet" href="/crm/css/phonecall.css" />
<script type="text/javascript" src="/crm/js/tq_assistant.js"></script>
<script type="text/javascript">


</script>