<!--<link rel="stylesheet" href="/static/css/hsCheckData.css" />-->
<!--<link rel="stylesheet" href="/systemsetting/css/hsCheckData.css" />-->
<link rel="stylesheet" href="/systemsetting/css/select.css" />
<form class="employee_import_from" onsubmit="return false;" method="post" enctype="multipart/form-data">
	<p class="p1">转移</p>
	<p>
		<div>
			<div>
				<span class="span1">移至</span>
				<!--<div id="employee_list_transfer" style="width:200px;overflow: hidden;">
				</div>-->
				<div class="content">
					<img src="/systemsetting/img/tra_dowm.png" class="nc" />
				</div>
			</div>
			<div class="select_box">
				<div class="big_box">
					<input type="text" placeholder="请输入查找的关键字" class="ipt1" />
					<img src="/systemsetting/img/search.png" class="search" />
				</div>
				<ul>
					<!--<?php var_dump($struct_tree); ?>-->
					{notempty name='struct_tree'}
					{volist name='struct_tree' id='v1'}
					<li class="bumen">
						{notempty name='v1.child'}
						<img src="/systemsetting/img/tra_right.png" class="drop" />
						{/notempty}
						<label>{$v1.struct_name}</label>
						<input type="checkbox" class="selectAll" index="{$v1.id}" />
						{notempty name='v1.child'}
						<ol class="yincang">
							{volist name='v1.child' id='v2'}
							<li>
								{notempty name='v2.child'}
								<img src="/systemsetting/img/tra_right.png" class="drop" />
								{/notempty}
								<label>{$v2.struct_name}</label>
								<input type="checkbox" class="sid" index="{$v2.id}" />
								{notempty name='v2.child'}
								<ol class="yincang">
									{volist name='v2.child' id='v3'}
									<li>
										{notempty name='v3.child'}
										<img src="/systemsetting/img/tra_right.png" class="drop" />
										{/notempty}
										<label>{$v3.struct_name}</label>
										<input type="checkbox" class="sid" index="{$v3.id}" />
										{notempty name='v3.child'}
										<ol class="yincang">
											{volist name='v3.child' id='v4'}
											<li>
												{notempty name='v4.child'}
												<img src="/systemsetting/img/tra_right.png" class="drop" />
												{/notempty}
												<label>{$v4.struct_name}</label>
												<input type="checkbox" class="sid" index="{$v4.id}" />
												{notempty name='v4.child'}
												<div class="sanceng yincang">
													{volist name='v4.child' id='v5'}
													<label for="">{$v5.struct_name}</label><input type="checkbox" class="geren" index="{$v5.id}" /><br />
													{/volist}
												</div>
												{/notempty}
											</li>
											{/volist}
										</ol>
										{/notempty}
									</li>
									{/volist}
								</ol>
								{/notempty}
							</li>
							{/volist}
						</ol>
						{/notempty}
					</li>

					{/volist}
					{/notempty}
					<!--<li class="bumen">-->
						<!--<img src="/systemsetting/img/tra_right.png" class="drop" />-->
						<!--<label>研发部</label>-->
						<!--<input type="checkbox" class="selectAll" index="32" />-->
						<!--<ol class="yincang">-->
							<!--<li>-->
								<!--<img src="/systemsetting/img/tra_right.png" class="drop" />-->
								<!--<label>研发一部</label>-->
								<!--<input type="checkbox" class="sid" index="33" />-->
								<!--<div class="sanceng yincang">-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="12" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="13" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="14" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="15" />-->
								<!--</div>-->
							<!--</li>-->
							<!--<li>-->
								<!--<img src="/systemsetting/img/tra_right.png" class="drop" />-->
								<!--<label>研发二部</label>-->
								<!--<input type="checkbox" class="sid" index="34" />-->
								<!--<div class="sanceng yincang">-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="16" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="17" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="18" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="19" />-->
								<!--</div>-->
							<!--</li>-->
							<!--<li>-->
								<!--<img src="/systemsetting/img/tra_right.png" class="drop" />-->
								<!--<label>研发三部</label>-->
								<!--<input type="checkbox" class="sid" index="35" />-->
								<!--<div class="sanceng yincang">-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="20" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="21" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="22" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="23" />-->
								<!--</div>-->
							<!--</li>-->
							<!--<li>-->
								<!--<img src="/systemsetting/img/tra_right.png" class="drop" />-->
								<!--<label>研发四部</label>-->
								<!--<input type="checkbox" class="sid" index="36" />-->
								<!--<div class="sanceng yincang">-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="24" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="25" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="26" /><br />-->
									<!--<label for="">部门一</label><input type="checkbox" class="geren" index="27" />-->
								<!--</div>-->
							<!--</li>-->
						<!--</ol>-->
					<!--</li>-->

				</ul>
			</div>

			<div class="selected">
				<p>已选择的部门(<span class="renshu">0</span>个)</p>
				<ul>

				</ul>
				<p class="wancheng">完成</p>
			</div>
		</div>
	</p>
	<p class="p5">
		<input type="submit" class="structure_move_ok" value="确定" />
		<button class="structure_move_cancel">取消</button>
	</p>
	<a class="close-reveal-modal">&#215;</a>
</form>
<script src="/systemsetting/structure/employee_list_transfer_structure"></script>
<script type="text/javascript" src="/systemsetting/js/select.js" ></script>
<!--<script src="/systemsetting/js/hsCheckData.js"></script>-->
<!--<script>
    $('#employee_list_transfer').hsCheckData({
        isShowCheckBox: true,
        data: cityData
    });
</script>-->