<link rel="stylesheet" href="/task/css/task.css" />

<div class="task hot_task">
	<header>
		<ul class="nav">
			<li id="myAllClients" class="flow">
				<div>热门任务（<span>9</span>）</div>
			</li>
			<li id="awaitComClients">
				<div>PK任务（<span>12</span>）</div>
			</li>
			<li id="notFllowClients">
				<div>激励任务（<span>14</span>）</div>
			</li>
			<li id="notFllowClients">
				<div>悬赏任务（<span>5</span>）</div>
			</li>
		</ul>
		<div class="sort">
			<img src="/task/img/sort.png" />
			<p>排序</p>
			<div class="classify">
				<p>按时间</p>
				<p>按奖金</p>
				<p>按热度</p>
			</div>
		</div>
		<div class="xinjian">
			<i class="fa fa-plus fa-2x"></i>
			<p>新建任务</p>
		</div>
	</header>

	<article>
		<div class="dv1">
			<div class="left">
				<img src="/task/img/task.png" class="img1" />
				<p>发布人</p>
				<div class="name">王大陆
					<div class="roll">
						<img src="/task/img/phone.png" />
						<img src="/task/img/note.png" />
					</div>
				</div>
				<p>￥100</p>
				<p>预计奖金</p>
			</div>
			<div class="center">
				<p class="theme">当日有效通话最多挑战</p>
				<div>
					<div class="details">
						<div class="len">
							<p class="small">统计周期</p>
							<p class="big">2017.01.02-2017.02.01</p>
						</div>
						<div>
							<p class="small">PK项目</p>
							<p class="big">通话数</p>
						</div>
						<div class="very">
							<p class="small">鉴定人</p>
							<p class="very big">张涛、李志</p>
						</div>
					</div>
					<div class="details">
						<div class="len">
							<p class="small">任务领取截止时间</p>
							<p class="big">2017.05.02/15:00:00</p>
						</div>
						<div>
							<p class="small">PK金额</p>
							<p class="big">100元</p>
						</div>
						<div class="very flo">
							<p class="small">面向群体</p>
							<p class="big">张三、李四等（共10人，已参与2人）</p>
							<div class="flotage">
								<span>张三</span>
								<span>李四</span>
								<span>王五</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="active">
					<p class="p2">领任务</p>
					<p class="p2">
						<span class="big-link" data-reveal-id="myModalsix" data-animation="fade">猜输赢</span>
					</p>
					<p class="p2">
						<span class="big-link" data-reveal-id="myModalseven" data-animation="fade">打赏</span>
					</p>
				</div>

				<div class="comment">
					<div>
						<img src="/task/img/comment.png" class="commont_img" task_id="1" />
						<span>38</span>
					</div>
					<div style="text-align: right;">
						<img src="/task/img/zan.png" class="add" task_id="1" index_img="1" />
						<span class="yi">23</span>
					</div>
				</div>
			</div>
		</div>

		<div class="dv1">
			<div class="left">
				<img src="/task/img/incentive_task.png" class="img1" />
				<p>发布人</p>
				<div class="name">王大陆
					<div class="roll">
						<img src="/task/img/phone.png" />
						<img src="/task/img/note.png" />
					</div>
				</div>
				<p>￥100</p>
				<p>预计奖金</p>
			</div>
			<div class="center">
				<p class="theme">当日有效通话最多挑战</p>
				<div>
					<div class="details">
						<div class="len">
							<p class="small">统计周期</p>
							<p class="big">2017.01.02-2017.02.01</p>
						</div>
						<div>
							<p class="small">考核项目</p>
							<p class="big">有效通话数</p>
						</div>
						<div>
							<p class="small">达标要求</p>
							<p class="big">前10名</p>
						</div>
						<div class="very  flo">
							<p class="small">面向群体</p>
							<p class="very big">销售中心等（100人）</p>
							<div class="flotage">
								<span>张三</span>
								<span>李四</span>
								<span>王五</span>
							</div>
						</div>
					</div>
					<div class="details">
						<div class="len">
							<p class="small">任务领取截止时间</p>
							<p class="big">2017.05.02/15:00:00</p>
						</div>
						<div>
							<p class="small">奖金</p>
							<p class="big">100元/人</p>
						</div>
						<div class="very">
							<p class="small">当前名次</p>
							<p class="big">第0名</p>

						</div>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="stimulate">

					<p class="p2">打赏</p>

				</div>
				<div class="comment">
					<div>
						<img src="/task/img/comment.png" class="commont_img" task_id="1" />
						<span>38</span>
					</div>
					<div style="text-align: right;">
						<img src="/task/img/zan.png" class="add" task_id="1" index_img="1" />
						<span class="yi">23</span>
					</div>
				</div>
			</div>
		</div>
		<div class="dv1">
			<div class="left">
				<img src="/task/img/reward_task.png" class="img1" />
				<p>发布人</p>
				<div class="name">王大陆
					<div class="roll">
						<img src="/task/img/phone.png" />
						<img src="/task/img/note.png" />
					</div>
				</div>
				<p>￥100</p>
				<p>预计奖金</p>
			</div>
			<div class="center">
				<p class="theme">当日有效通话最多挑战</p>
				<div>
					<div class="details">
						<div class="len">
							<p class="small">任务领取截止时间</p>
							<p class="big">2017.05.02/15:00:00</p>
						</div>

						<div class="very">
							<p class="small">对应客户</p>
							<p class="very big  blue">山东中呼信息科技有限公司</p>
						</div>
					</div>
					<div class="details">
						<div class="len">
							<p class="small">求助上限人数</p>
							<p class="big">8人</p>
						</div>
						<div class="very">
							<p class="small">悬赏金</p>
							<p class="big">10元/人</p>
						</div>

					</div>
				</div>
			</div>
			<div class="right">
				<div class="give">
					<p class="p2">领任务</p>

					<p class="p2">打赏</p>
				</div>
				<div class="comment">
					<div>
						<img src="/task/img/comment.png" class="commont_img" task_id="1" />
						<span>38</span>
					</div>
					<div style="text-align: right;">
						<img src="/task/img/zan.png" class="add" task_id="1" index_img="1" />
						<span class="yi">23</span>
					</div>
				</div>
			</div>
		</div>

	</article>

	<div id="myModalsix" class="reveal-modal reveal_six">
		<p class="p1">猜输赢</p>
		<ul class="number1">
				<li>姓名</li>
				<li>部门</li>
				<li></li>

		</ul>
		<div class="list">
			
			<ul class="number2">
				<li>李晓芬</li>
				<li>销售一部</li>
				<li>
					<span class="fill">下注</span>
				</li>

			</ul>
			<ul class="number2">
				<li>秦昊</li>
				<li>销售五部</li>
				<li>
					<span class="fill">下注</span>
				</li>
			</ul>
			<ul class="number2">
				<li>李晓芬</li>
				<li>销售一部</li>
				<li>
					<span class="fill">下注</span>
				</li>

			</ul>
			<ul class="number2">
				<li>秦昊</li>
				<li>销售五部</li>
				<li>
					<span class="fill">下注</span>
				</li>
			</ul>
			<ul class="number2">
				<li>秦昊</li>
				<li>销售五部</li>
				<li>
					<span class="fill">下注</span>
				</li>
			</ul>
			<ul class="number2">
				<li>秦昊</li>
				<li>销售五部</li>
				<li>
					<span class="fill">下注</span>
				</li>
			</ul>
			<ul class="number2">
				<li>秦昊</li>
				<li>销售五部</li>
				<li>
					<span class="fill">下注</span>
				</li>
			</ul>
		</div>
		<p class="compare">最近下注（当前下注池为<span class="orange">2233</span>元）</p>
		<ul class="list_head">
			<li>姓名</li>
			<li>部门</li>
			<li>猜输赢支持</li>
		</ul>
		<div class="box">
			<!--<ul class="backdrop">-->
			<ul>
				<li>张亮</li>
				<li>销售一部</li>
				<li><span>7</span>人支持<span>100</span>元</li>
			</ul>
			<ul>
				<li>张三</li>
				<li>销售一部</li>
				<li><span>8</span>人支持<span>90</span>元</li>
			</ul>
			<ul>
				<li>张三</li>
				<li>销售一部</li>
				<li><span>5</span>人支持<span>80</span>元</li>
			</ul>
			<ul>
				<li>张三</li>
				<li>销售一部</li>
				<li><span>8</span>人支持<span>90</span>元</li>
			</ul>
			<ul>
				<li>张三</li>
				<li>销售一部</li>
				<li><span>6</span>人支持<span>100</span>元</li>
			</ul>
			<ul>
				<li>张三</li>
				<li>销售一部</li>
				<li><span>8</span>人支持<span>90</span>元</li>
			</ul>
			<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>

	<div id="myModalseven" class="reveal-modal reveal_seven">
		
		<p class="p1">打赏</p>
		<div class="money">
			<span>￥</span>
			<input type="text" placeholder="00.00" />
		</div>
		<p class="bar">总共打赏<span class="orange">200</span>元（你已打赏<span class="orange">50</span>元）</p>
		
		<div class="mid">
			<ul>
				<li>02.12&nbsp;&nbsp;09:08</li>
				<li>王梦瑶</li>
				<li>打赏<span>5</span>元</li>
			</ul>
			<ul>
				<li>02.12&nbsp;&nbsp;09:08</li>
				<li>王梦瑶</li>
				<li>打赏<span>5</span>元</li>
			</ul>
			<ul>
				<li>02.12&nbsp;&nbsp;09:08</li>
				<li class="orange">你</li>
				<li class="orange">打赏<span>10</span>元</li>
			</ul>
			<ul>
				<li>02.12&nbsp;&nbsp;09:08</li>
				<li>王梦瑶</li>
				<li>打赏<span>5</span>元</li>
			</ul>
			<ul>
				<li>02.12&nbsp;&nbsp;09:08</li>
				<li>王梦瑶</li>
				<li>打赏<span>5</span>元</li>
			</ul>
			<ul>
				<li>02.12&nbsp;&nbsp;09:08</li>
				<li class="orange">你</li>
				<li class="orange">打赏<span>10</span>元</li>
			</ul>

		</div>
		<div class="import">
			<div class="decide">
				<p>继续打赏</p>
				<p>取消</p>
			</div>
		</div>
		<a class="close-reveal-modal">&#215;</a>
	</div>

</div>
<script type="text/javascript" src="/task/js/task.js"></script>
<script>
	skip("hot_task","task-hellfr","task-hellfr")
</script>