.popUp{
	width: 800px;
	position: absolute;
	top: 100px;
	left: 100px;
	/*border: 1px solid #e6e6e6;*/
	border-radius: 3px;
}
/*小型弹窗*/
.popUp.u-pop-min{
	width: 580px;
}
.popUp.u-pop-min .u-pop-min-content{
	height: 100px;
	background-color: #fff;
	color: #4c4c4c;
}
.popUp header{
	width: 100% !important;
	position: relative !important;
	top: 0 !important;
	height: 50px !important;
	background-color: #6b7a99 !important;
	text-align: center;
}
.u-pop-header{
	height: 45px;
	font-size: 16px;
	line-height: 45px;
	padding: 0 20px;
	background-color: #fff;
	border-bottom: 1px solid #e6e6e6;
}
.u-pop-header i.fa-close{
	float: right;
	color: #ccc;
	line-height: 30px;
	margin: 10px 10px 0 0;
}
.u-pop-radio-content{
	/*font-size: 12px;*/
}
.u-pop-footer{
	height: 56px;
	border-top: 1px solid #e6e6e6;
	background-color: #f4f6f9;
}
.u-pop-footer button{
	width: 90px;
	height: 35px;
	line-height: 35px;
	box-sizing:border-box;
	border-style: none;
	border-radius: 3px;
	margin-top: 10px;
	float: right;
}
.u-pop-footer button.pop-submit-btn{
	background-color: #78beff;
	color: white;
	margin-right: 12px;
}
.u-pop-footer button.pop-close-btn{
	background-color: #fff;
	color: #666;
	border:1px solid #dcdcdc;
	margin-right: 20px;
}
.popUp header h1{
	text-align: center;
	color: white;
	font-size: 1.5em;
	line-height: 50px;
}
.popUp header h1 i{
	float: right;
	line-height: 30px !important;
	margin: 10px 10px 0 0 !important;
}
.popUp .pop_content{
	width: 100%;
	background-color: white;
	padding: 40px 0;
	box-sizing:border-box;
	border: 1px solid #EEEEEE;
}
.popUp .pop_content>div{
	width: 100%;
}
.popUp input[type="text"],.popUp select,.popUp input[type="email"],.popUp input[type="date"],.popUp input[type="url"]{
	width: 190px !important;
}
.popUp .pop_content .main{
	margin-bottom: 40px;
	text-align: center;
}
.popUp .pop_content .add{
	width: 600px;
	margin: 0 auto;
	height: 48px;
	border: 1px solid #eee;
	border-radius: 8px;
	text-align: center;
	line-height: 48px;
}
.popUp .pop_content .u-submitButton{
	width: 300px !important;
	margin: 20px auto !important;
	/*padding-left: 70px;*/
}
.popUp .pop_content .main-content{
	margin-bottom: 20px;
	/*border-bottom: ;*/
}
.popUp .pop_content .pop_bill_block{
	padding-left: 55px;
	font-size: 14px;
}
.popUp .pop_content .pop_bill_block h2{
	display: inline-block;
	line-height: 39px;
}
.popUp .pop_content .pop_bill_block h4{
	color: #6b7a99;
	font-size: 12px;
	display: inline-block;
	line-height: 39px;
	margin-left: 30px;
}
.popUp .pop_content .pop_bill_block .product-type .cont{
	/*width: 44px;*/
	text-align: left;
    margin-left: 50px
}
.popUp .pop_content .pop_bill_block .cont-x{
	width: 270px !important;
}
.popUp .pop_content .pop_bill_block .line{
	line-height: 39px;
}
.popUp .pop_content .pop_bill_block input[type="checkbox"]{
	margin-right: -36px;
    margin-left: 30px;
}

.popUpClose{
	position: absolute;
	width: 18px;
	height: 18px;
	background-color: red;
	color: white;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	top: 5px;
	right: 5px;
}
.popUpClose i{
	font-size: 1.6em;
}
/**/
#create-contract.popUp .pop_content .main>div{
	text-align: left !important;
}
/*删除话术*/
.delete-change-set-container .pop_content.deleteCraft h2,.delete-change-set-container .pop_content.deleteClass h2{
	text-align: center;
	font-size: 18px;
	font-weight: normal;
}
