<div class="m-filterNav">
	<select>
		<option>职位</option>
	</select>
	
	<input type="text" placeholder="输入工号" />
	<input type="text" placeholder="输入姓名" />
	<button class="u-btnSearch">查询</button>
	<button class="u-btnTransfer"><span class="big-link" data-reveal-id="employee_list_transfer" data-animation="fade">批量转移</span></button>
</div>
<div class="employee_list">
	<div class="m-tableBox">
		<div class="m-table m-table-nav ">
			<ul class="u-tabTitle">
				<li class="u-tabCheckbox"><input type="checkbox" class="check_all"/></li>
				<li>操作</li>
				<div class="clearfix"></div>
			</ul>
			{volist name="listdata" id="vo"}
			<ul class="u-tabList">
				<li class="u-tabCheckbox"><input type="checkbox" /></li>
				<li class="u-tabOperation">
					{if condition="strpos($vo.struct_id,',')"}
					<span onclick="struct_list_employee_del('{$id}','{$vo.user_id}');">删除</span> {/if}
					<span onclick="struct_list_employee_move('{$id}','{$vo.user_id}');">移至</span>
				</li>
				<div class="clearfix"></div>
			</ul>
			{/volist}
		</div>
		<div class="m-table table3 m-table-detail">
			<ul class="u-tabTitle">
				<li class="u-tabCheckbox"><input type="checkbox" class="check_all"/></li>
				<li>操作</li>
				<li>工号<i class="fa fa-sort-desc"></i></li>
				<li>姓名<i class="fa fa-unsorted"></i></li>
				<li>角色</li>
				<li>是否部门领导人</li>
				<li>注册手机号</li>
				<li>邮箱</li>
				
				<div class="clearfix"></div>
			</ul>
			{volist name="listdata" id="vo"}
			<ul class="u-tabList">
				<li class="u-tabCheckbox"><input type="checkbox" /></li>
				<li class="u-tabOperation">
					{if condition="strpos($vo.struct_id,',')"}
					<span onclick="struct_list_employee_del('{$id}','{$vo.user_id}');">删除</span> {/if}
					<span onclick="struct_list_employee_move('{$id}','{$vo.user_id}');">移至</span>
				</li>
				<li>{$vo.worknum}</li>
				<li>{$vo.truename}</li>
				<li>{$vo.role_name}</li>
				<li>{$vo.is_leader|getYesNoName}</li>
				<li>{$vo.telephone}</li>
				<li>{$vo.email}</li>
				<li>{$vo.create_time|time_format}</li>
				
				<div class="clearfix"></div>
			</ul>
			{/volist}
		</div>
	</div>
	{include file="common@common/page"/}
</div>

<div id="employee_list_transfer" class="reveal-modal employee_import_ui">
			<form class="employee_import_from" onsubmit="return false;" method="post" enctype="multipart/form-data">
				<p class="p1">批量转移</p>
				<!--<p class="p2">
					<img class="employee_import_templet_download" src="/static/images/file.jpg" />
					<span class="employee_import_templet_download" style="font-size: 12px;">导入模板下载</span>
					<input type="file" name="files" required="required" placeholder="请选择文件" style="width: 256px;height: 26px;border-radius: 6px;background-color: #efefef;" title="选择文件" />
				</p>-->
				<!--<input type="hidden" name="type" value="1" />-->
				<p>
					<span>移至</span>
					
				</p>
				<p class="p5">
					<input class="employee_import_submit_btn" type="submit" value="确定" />
					<button class="employee_import_cancel_btn">取消</button>
				</p>
				<a class="close-reveal-modal">&#215;</a>
			</form>
		</div>

<script src="/static/js/list_manage.js"></script>
<script language="javascript">
	var employee_list_list_manage = new list_manage("content", "division-managementfr", "/systemsetting/structure/employee_list/id/{$id}", '{$p}', '{$num}', '{$max_page}', '0', " .dv2");
</script>