<!--存放顶部右上方-->
<header class="header">
    <div id="x-layout">
        <i class="fa fa-navicon fa-2x"></i>
    </div>
    <div id="r-nav">
        <div id="nav-user">
            <i class="fa fa-2x fa-user"></i><span>{$userinfo.truename}</span>
            <!-- 个人：退出登录 -->
            <div class="user-box">
                <dl class="user-box-content">
                    <dd class="log-out pointer">退出登录</dd>
                </dl>       
            </div>
        </div>
        <div id="nav-shop"><i class="fa fa-2x fa-shopping-cart"></i><span>商城</span></div>
        <div id="nav-commu">
            <i class="fa fa-2x fa-commenting"></i><span>消息</span>
            <!-- 消息中心 -->
            <div class="message-box">
                <div class="message-class">
                    <h4>系统消息（<span class="color-red">5</span>）</h4>
                    <h4>任务消息（<span class="color-red">5</span>）</h4>
                    <h4>CRM消息（无）</h4>
                    <h4 class="current">知识库消息（无）</h4>
                </div>
                <div class="message-content">
                    <div class="message-content-header">
                        知识库消息
                    </div>
                    <ul class="message-content-container">
                        <li class="current"><p><span> * </span>你报名的在线直播课程《销售技巧》还有15分 钟开课啦，快快去学习</p><div class="message-content-container-time">今天16:20</div></li>
                        <li><p><span> * </span>你报名的在线直播课程《销售技巧》还有15分 钟开课啦，快快去学习</p><div class="message-content-container-time">今天09:20</div></li>
                        <li><p><span> * </span>你报名的在线直播课程《销售技巧》还有15分 钟开课啦，快快去学习</p><div class="message-content-container-time">9月12日 16:20</div></li>
                        <li><p><span> * </span>你报名的在线直播课程《销售技巧》还有15分 钟开课啦，快快去学习</p><div class="message-content-container-time">9月12日 10:20</div></li>
                    </ul>
                    <div class="message-content-footer color-blue">
                        设为已读
                    </div>
                </div>
            </div>
        </div>
        <!-- <div id="nav-notice"><i class="fa fa-2x fa-bullhorn"></i><span>通知</span></div> -->
        <div id="nav-call" data-subid="phone-call" _src="{:url('workerman/index/index')}"><i class="fa fa-2x fa-volume-control-phone"></i><span>拨号</span></div>
        <!--<div class="clearfix"></div>-->
    </div>
</header>