<!--侧边栏-->
<section id="side">
    <aside class="_panel-box">
        <div id="logo">
            <img src="/static/images/logo.png" />
        </div>
        <dl id="#">
            <dt><i class="fa fa-line-chart"></i>&nbsp;&nbsp;数据统计<i class="fa fa-angle-right"></i></dt>
            <dd data-subid="index" _src="/index/index/developing.html">简报</dd>
            <dd data-subid ="work-count" _src="/index/index/developing.html">工作统计</dd>
            <dd data-subid="sales-funnel" _src="/index/index/developing.html">销售漏斗</dd>
            <dd data-subid = "data-analyse" _src="/index/index/developing.html">数据分析</dd>
            <dd data-subid = "data-estimate" _src="/index/index/developing.html">数据预估</dd>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-flag"></i>&nbsp;&nbsp;员工任务<i class="fa fa-angle-right"></i></dt>
            <dd data-subid="lazy" _src="/index/index/developing.html">设计师很懒</dd>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-cubes"></i>&nbsp;&nbsp;员工成长<i class="fa fa-angle-right"></i></dt>
            <dd data-subid="lazy" _src="/index/index/developing.html">设计师很懒</dd>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-user-plus"></i>&nbsp;&nbsp;客户搜集<i class="fa fa-angle-right"></i></dt>
            <dd data-subid="search-engines" _src="/index/index/developing.html">搜索引擎</dd>
            <dd data-subid="b2b" _src="/index/index/developing.html">B2B网站</dd>
            <dd data-subid="search-zone" _src="/index/index/developing.html">按区域查询公司</dd>
            <dd data-subid="search-qualification" _src="/index/index/developing.html">企业资质查询</dd>
            <dd data-subid="zx-library" _src="/index/index/developing.html">中讯库</dd>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-pie-chart"></i>&nbsp;&nbsp;CRM<i class="fa fa-angle-right"></i></dt>
            <dd data-subid="cilents-manage" _src="{:url('/crm/customer/customer_manage')}">客户管理</dd>
            <dd data-subid="number-screening" _src="/index/index/developing.html">号码筛选</dd>
            <dd data-subid="mycliets" _src="{:url('/crm/customer/my_customer')}">我的客户</dd>
            <dd data-subid="subordinate-cilents" _src="/index/index/developing.html">下属客户</dd>
            <dd data-subid="high-sea" _src="{:url('/crm/customer/public_customer_pool')}">公海池</dd>
            <dd data-subid="pending-cilents" _src="/index/index/developing.html">待处理客户</dd>
            <dd data-subid="mails" _src="/index/index/developing.html">邮件</dd>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-book"></i>&nbsp;&nbsp;知识库<i class="fa fa-angle-right"></i></dt>
            <dd data-subid="zx-lessons" _src="/index/index/developing.html">中讯大课堂</dd>
            <dd data-subid="speech-database" _src="/index/index/developing.html">话术库</dd>
            <dd data-subid="company-library" _src="/index/index/developing.html">企业库</dd>
            <dd data-subid="cloud-library" _src="/index/index/developing.html">云端库</dd>
            <dd data-subid="live-telecast" _src="/index/index/developing.html">直播</dd>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-gavel"></i>&nbsp;&nbsp;审核<i class="fa fa-angle-right"></i></dt>
            <dd data-subid="lazy" _src="/index/index/developing.html">设计师很懒</dd>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-gears"></i>&nbsp;&nbsp;系统管理<i class="fa fa-angle-right"></i></dt>
            <!--<dd data-subid="lazy" _src="/index/index/developing.html">设计师很懒</dd>-->
            <dd data-subid="company-information" _src="{:url('systemsetting/corporation/showCorpInfo')}">公司信息</dd>
            <dd data-subid="division-management" _src="{:url('systemsetting/structure/index')}">部门管理</dd>
            <dd data-subid="role-management" _src="{:url('systemsetting/role/index')}">职位管理</dd>
            <dd data-subid="staff-management" _src="{:url('systemsetting/employee/manage')}">员工管理</dd>
            <dd data-subid="staff-management2" _src="/index/index/developing.html">员工管理(二)</dd>
            <dd data-subid="business-flow" _src="/index/index/developing.html">业务流</dd>
            <dd data-subid="customer-setting" _src="{:url('systemsetting/customer/index')}">客户设置</dd>
        </dl>
    </aside>
</section>