<!--侧边栏-->
<section id="side">
    <aside class="_panel-box">
        <div id="logo">
            <!--<img src="/static/images/logo.png" />-->
        </div>
        <dl id="#">
            <dt><i class="fa fa-line-chart"></i><span>&nbsp;&nbsp;数据统计</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="index" _src="/datacount/index/summary.html">简报</dd>
                <dd data-subid="day-count" _src="/datacount/index/summary.html">日报统计</dd>
                <dd data-subid="sales-funnel" _src="/index/index/developing.html">销售漏斗</dd>
                <dd data-subid="call-count" _src="/index/index/developing.html">通话记录统计</dd>
                <dd data-subid="cilents-count" _src="/index/index/developing.html">客户状态统计</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-flag"></i><span>&nbsp;&nbsp;任务管理</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="public-task" _src="/task/going_task/PK_ranking.html">任务大厅</dd>
                <dd data-subid="my-task" _src="/task/historical_task/direct.html">进行中的任务</dd>
                <dd data-subid="task-histroy" _src="/task/Task_Hall/hot_task.html">历史任务</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-cubes"></i><span>&nbsp;&nbsp;员工成长</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="employeegrowth-xxx" _src="/index/index/developing.html">我的成长</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-user-plus"></i><span>&nbsp;&nbsp;客户搜集</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="search-engines" _src="/index/index/developing.html">搜索引擎搜索</dd>
                <dd data-subid="search-zone" _src="/index/index/developing.html">按地区搜索</dd>
                <dd data-subid="zx-library" _src="/index/index/developing.html">中迅库</dd>
                <dd data-subid="my-search-cilents" _src="/index/index/developing.html">我搜集的客户</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-pie-chart"></i><span>&nbsp;&nbsp;CRM</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="cilents-manage" _src="/crm/customer/customer_manage.html">客户管理</dd>
                <dd data-subid="mycliets" _src="/crm/customer/my_customer.html">我的客户</dd>
                <dd data-subid="high-sea" _src="/crm/customer/public_customer_pool.html">公海池</dd>
                <dd data-subid="high-sea" _src="/crm/customer/customer_pool.html">公海池(另一个)</dd>
                <dd data-subid="sale-chance" _src="/crm/sale_chance/index.html">销售机会</dd>
                <dd data-subid="pending-cilents" _src="/crm/customer/customer_pending.html">待处理客户</dd>
                <dd data-subid="my-order" _src="/crm/order/index.html">我的订单</dd>
                <dd data-subid="my-contract" _src="/crm/contract/index.html">我的合同</dd>
                <dd data-subid="my-bill" _src="/crm/bill/index.html">我的发票</dd>
                <dd data-subid="subordinate-cilents" _src="/crm/customer/customer_subordinate.html">下属的客户</dd>
                <dd data-subid="subordinate-sales" _src="/crm/sale_chance/sale_chance_subordinate.html">下属的销售机会</dd>
                <dd data-subid="mails" _src="/crm/mailer/index.html">邮件</dd>
                <dd data-subid="call-assistant" _src="/workerman/index/assistant.html">通话助手</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-book"></i><span>&nbsp;&nbsp;知识库</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="zx-lessons" _src="/index/index/developing.html">中讯大课堂</dd>
                <dd data-subid="live-telecast" _src="/index/index/developing.html">直播</dd>
                <dd data-subid="speech-database" _src="/index/index/developing.html">话术库</dd>
                <dd data-subid="company-library" _src="/index/index/developing.html">企业库</dd>
                <dd data-subid="company-cloud-space" _src="/index/index/developing.html">企业云盘</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-gavel"></i><span>&nbsp;&nbsp;待我审核</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="verification-contract" _src="/verification/contract/index.html">合同申请</dd>
                <dd data-subid="verification-index" _src="/verification/index/index.html">成单申请</dd>
                <dd data-subid="verification-bill" _src="/verification/bill/index.html">发票申请</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-gears"></i><span>&nbsp;&nbsp;系统管理</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="company-information" _src="/systemsetting/corporation/showcorpinfo.html">公司信息</dd>
                <dd data-subid="division-management" _src="/systemsetting/structure/index.html">部门管理</dd>
                <dd data-subid="role-management" _src="/systemsetting/role/index.html">职位管理</dd>
                <dd data-subid="staff-management" _src="/systemsetting/employee/manage.html">员工管理</dd>
                <dd data-subid="business-flow" _src="/systemsetting/business_flow/index.html">业务流管理</dd>
                <dd data-subid="contract-setting" _src="/systemsetting/contract/index.html">合同设置</dd>
                <dd data-subid="bill-setting" _src="/systemsetting/bill/index.html">发票设置</dd>
                <dd data-subid="customer-setting" _src="/systemsetting/customer/index.html">工作参数设置</dd>
                <dd data-subid="change-my-password" _src="/index/index/developing.html">密码修改</dd>
            </div>
        </dl>
    </aside>
</section>