/*页脚*/
.footer{ width:100%; background:url(../img/fbg.jpg)/*tpa=http://xinshijibancai.com/Public/Home/pc/Css/img/fbg.jpg*/ no-repeat top center;padding-top: 480px;color: #6d100c;font-size: 14px;padding-bottom:28px;position: relative;margin-top: -80px;}
.footer a{color: #6d100c;}
.footer .fhonor{font-size: 30px;text-align: center;}
.footer .fhonor a h3{font-weight: bold;color: #6d100c;transition: all .3s;}
.footer .fhonor a:hover h3{color: #de283e;transition: all .3s;}
.footer .f_nav{padding: 0 155px 0 190px;}
.footer .f_nav ul{width: 205px;}
.footer .f_nav ul.yichu{width: 240px;}
.footer .f_nav ul li{line-height: 25px;}
.footer .f_nav ul li img{transition:all .2s ease;}
.footer .f_nav ul li img:hover{transform:scale(1.04,1.04);transition:all .2s ease;}
.footer .f_nav ul li a{font-size: 15px;transition: all .3s;}
.footer .f_nav ul li a:hover{color: #de283e;transition: all .3s;padding-left: 10px;}
.footer .f_nav ul li.bt{margin-bottom: 20px;font-size: 20px;font-weight: bold;}
.footer .f_nav ul li.bt a{font-size: 20px;font-weight: bold;}
.footer .f_nav ul li.tel{margin: 15px 0;}
.footer .f_nav ul li.tel span{font-size: 18px;}
.footer .f_nav ul li.tel h3{font-size: 29px;font-weight: bold;font-style: italic;}
.footer .bq{color: #c09c7b;text-align: center;margin-top: 74px;text-transform: uppercase;}
.footer .rtCont{margin:25px 500px 10px 500px;position:relative;}
.footer .rtCont ul{margin:0 auto;width:208px;overflow:hidden;}
.footer .rtCont li{width:208px;float:left;text-align:center;}
.footer .rtCont li a{display:block;overflow:hidden;width:208px;height:153px;position: relative;transition:all .2s ease;}
.footer .rtCont li a img{display:block;font-size:0px;width:172px;height:119px;transition:all .2s ease;padding: 17px 18px;background: url(../img/hbg.jpg)/*tpa=http://xinshijibancai.com/Public/Home/pc/Css/img/hbg.jpg*/ no-repeat center;}
.footer .rtCont li a:hover{-webkit-box-shadow:0 0px 10px rgba(0,0,0,0.2);box-shadow:0 0px 10px rgba(0,0,0,0.2);transition:all .2s ease;}
.footer .rtCont .btnLeft,.footer .rtCont .btnRight{position:absolute;top:80px;margin-top:-15px;width:32px;height:32px;}
.footer .rtCont .btnLeft{left:-70px;background:url(../img/icoLeft.png)/*tpa=http://xinshijibancai.com/Public/Home/pc/Css/img/icoLeft.png*/ no-repeat center;}
.footer .rtCont .btnRight{right:-70px;background:url(../img/icoRight.png)/*tpa=http://xinshijibancai.com/Public/Home/pc/Css/img/icoRight.png*/ no-repeat center;}

/*body{
   -moz-user-select: none; 
   -webkit-user-select: none; 
   -ms-user-select: none;  
   -khtml-user-select: none;
   user-select: none;
}*/