<style type="text/css">
	input[type="datetime-local"]{
		width: 150px;
		border-radius: 4px;
		margin-right: 20px !important;
	}
</style>
<header>
	<h1>设置置顶<i class="fa fa-close fa-2x pop-close-btn"></i></h1>
</header>
<div class="pop_content set_top_form m-form">
	<div class="tc">
		置顶时间<input type="datetime-local"  name="article_start_top_time" />至
	<input type="datetime-local" name="article_end_top_time" />
	</div>
	
	<div class="u-submitButton">
		<button class="pop-submit-btn">确定</button>
		<button class="pop-close-btn">取消</button>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/static/css/popUp.css">
<script type="text/javascript">
	$(".pop_content.set_top_form.m-form .pop-submit-btn").click(function(){
		let article_id = $(".delete-change-set-container .set_top_form ").attr("data-id");
		let article_start_top_time = $(".delete-change-set-container .set_top_form input[name='article_start_top_time']").val();
		let article_end_top_time = $(".delete-change-set-container .set_top_form input[name='article_end_top_time']").val();
		console.log(article_id);
	    $.ajax({
	        url: '/knowledgebase/speech_craft/changeIsTop',
	        type: 'POST',
	        dataType: 'json',
	        data:{'article_id':article_id,'article_start_top_time':article_start_top_time,'article_end_top_time':article_end_top_time},
	        success:function(data){
	            layer.msg(data.info,{icon:data.status==1?1:2});
	            if(data.status) {
					$(".delete-change-set-container").children().remove();
	            }
	        },
	        error:function(){
	            layer.msg('修改失败!',{icon:2});
	        }
	    }); 
		
	});
</script>

