{notempty name="task_list"}
{volist name="task_list" id="vo"}
{eq name="vo.task_type" value="1"}
<div class="dv1" task_id="{$vo.id}">
    {eq name="vo.is_token" value="0"}
    <div class="mengceng m_c" hongbao_id="{$vo.redid}">{/eq}
    <div class="left">
        <img src="/task/img/incentive_task.png" class="img1" />
        <div class="border-right">
            <p>发布人</p>
            <div class="name">{$vo.truename}
                <div class="roll">
                    <img src="/task/img/phone.png" />
                    <img src="/task/img/note.png" />
                </div>
            </div>
            <p>￥100</p>
            <p>预计奖金</p>
        </div>
    </div>
        <div class="center">
            <p class="theme">{$vo.task_name}</p>
            <div>
                <div class="details">
                    <div>
                        <p class="small">考核项目</p>
                        <p class="big">{$vo.target_type|get_target_type_name}</p>
                    </div>
                    <div class="fu">
                        <p class="small">奖金</p>
                        <p class="big">{$vo.re_amount}元/人</p>
                        <?php $rewardArray=explode(',',$vo['ranking']); ?>
                        <div class="xuanfu">
                            {volist name="rewardArray" id="v1"}
                            <P><span>{$v1}</span></P>
                            {/volist}

                        </div>
                    </div>
                    <div class="len">
                        <p class="small">奖金规则</p>
                        <p class="big">任务结束后，按完成任务量的最终排名</p>
                    </div>


                </div>
                <div class="details">
                    <div class="len">
                        <p class="small">统计周期</p>
                        <p class="big">{$vo.task_start_time|date="Y.m.d/H:i",###}-{$vo.task_end_time|date="Y.m.d/H:i",###}</p>
                    </div>
                    <div class="very flo">
                        <p class="small">面向群体</p>
                        <p class="very big"><?php $array=explode(',',$vo['public_to_truename']); if(count($array)>1){echo $array[0].','.$array[1].'等';}elseif($array){echo $array[0];}else{echo '';} ?>（共<span class="partin_count"><?php echo count(explode(',',$vo['public_to_take'])) ?></span>人参与）</p>
                        <div class="flotage">
                            {notempty name="vo['public_to_take_array']"}{foreach name="vo['public_to_take_array']" item="v" key="k"}<span class="user_{$k} {in name='k' value='$vo.take_employees'} color-blue{/in}">{$v}</span>{/foreach}{/notempty}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <div class="right">
        <div class="within">
            <div class="give details">
                <!--<p class="p3">任务失败</p>-->
                <p class="p2 task_details" task_id="{$vo.id}">查看详情</p>
            </div>
            <div class="comment">
                <div>
                    <img src="/task/img/comment.png" class="task_details comment_incentive" task_id="{$vo.id}" />
                    <span>{$vo.comment_count}</span>
                </div>
                <div style="text-align: right;">
                    {eq name="vo.is_like" value="1"}
                    <img src="/task/img/praise.png" class="add" task_id="{$vo.id}" index_img="2"/>
                    {else/}
                    <img src="/task/img/zan.png" class="add" task_id="{$vo.id}" index_img="1"/>
                    {/eq}
                    <span class="yi">{$vo.like_count}</span>
                </div>
            </div>
        </div>
    </div>
    {eq name="vo.is_token" value="0"}
    <img src="/task/img/redPacket.png" class="picture"/>
    </div>{/eq}
</div>
{/eq}
{eq name="vo.task_type" value="2"}
<div class="dv1 a" task_id="{$vo.id}">
    {eq name="vo.is_token" value="0"}
    <div class="mengceng m_c" hongbao_id="{$vo.redid}">{/eq}
    <div class="left">
        <img src="/task/img/task.png" class="img1" />
        <div class="border-right">
            <p>发布人</p>
            <div class="name">{$vo.truename}
                <div class="roll">
                    <img src="/task/img/phone.png" />
                    <img src="/task/img/note.png" />
                </div>
            </div>
            <p>￥100</p>
            <p>预计奖金</p>
        </div>
    </div>
        <div class="center">
            <p class="theme">{$vo.task_name}</p>
            <div>
                <div class="details">
                    <div>
                        <p class="small">PK项目</p>
                        <p class="big">{$vo.target_type|get_target_type_name}</p>
                    </div>
                    <div>
                        <p class="small">PK金额</p>
                        <p class="big">
                            {eq name="vo.reward_type" value="2"}{$vo.reward_amount}{/eq}
                            {eq name="vo.reward_type" value="1"}{$vo.reward_amount/$vo.partin_count|floor}{/eq}

                            元
                        </p>
                    </div>
                    <div class="len">
                        <p class="small">任务领取截止时间</p>
                        <p class="big">{$vo.task_take_end_time|date="Y.m.d/H:i",###}</p>
                    </div>


                </div>
                <div class="details">

                    <div class="len">
                        <p class="small">统计周期</p>
                        <p class="big">{$vo.task_start_time|date="Y.m.d/H:i",###}-{$vo.task_end_time|date="Y.m.d/H:i",###}</p>
                    </div>
                    <div class="very flo">
                        <p class="small">面向群体</p>
                        <p class="very big"><?php $array=explode(',',$vo['public_to_truename']); if(count($array)>1){echo $array[0].','.$array[1].'等';}elseif($array){echo $array[0];}else{echo '';} ?>（共<?php echo count(explode(',',$vo['public_to_take'])) ?>人，已参与<span class="partin_count">{$vo.partin_count}</span>人）</p>
                        <div class="flotage">
                            {notempty name="vo['public_to_take_array']"}{foreach name="vo['public_to_take_array']" item="v" key="k"}<span class="user_{$k}  {in name='k' value='$vo.take_employees'} color-blue{/in}">{$v}</span>{/foreach}{/notempty}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="right">
        <div class="within">
            <div class="give details">
                <p class="p2 task_details" task_id="{$vo.id}">查看详情</p>
            </div>
            <div class="comment">
                <div>
                    <img src="/task/img/comment.png" class="task_details a comment_pk" task_id="{$vo.id}" />
                    <span>{$vo.comment_count}</span>
                </div>
                <div style="text-align: right;">
                    {eq name="vo.is_like" value="1"}
                    <img src="/task/img/praise.png" class="add" task_id="{$vo.id}" index_img="2"/>
                    {else/}
                    <img src="/task/img/zan.png" class="add" task_id="{$vo.id}" index_img="1"/>
                    {/eq}
                    <span class="yi">{$vo.like_count}</span>
                </div>
            </div>
        </div>
    </div>
    {eq name="vo.is_token" value="0"}
    <img src="/task/img/redPacket.png" class="picture"/>
    </div>{/eq}
</div>
{/eq}
{eq name="vo.task_type" value="3"}
<div class="dv1" task_id="{$vo.id}">
    {eq name="vo.is_token" value="0"}
    <div class="mengceng m_c" hongbao_id="{$vo.redid}">{/eq}
    <div class="left">
        <img src="/task/img/reward_task.png" class="img1" />
        <div class="border-right">
            <p>发布人</p>
            <div class="name">{$vo.truename}
                <div class="roll">
                    <img src="/task/img/phone.png" />
                    <img src="/task/img/note.png" />
                </div>
            </div>
            <p>￥100</p>
            <p>预计奖金</p>
        </div>
    </div>
        <div class="center">
            <p class="theme">{$vo.task_name}</p>
            <div>
                <div class="details">
                    <div class="len">
                        {eq name="vo['target_method']" value="1"}
                        <p class="small">其他需求</p>
                        <p class="very big">{$vo.target_description}</p>
                        {else/}
                        <p class="small">帮跟客户</p>
                        <p class="very big blue">{$vo.customer_name}</p>
                        {/eq}
                    </div>
                    <div class="very">
                        <p class="small">任务领取截止时间</p>
                        <p class="big">{$vo.task_take_end_time|date="Y.m.d/H:i",###}</p>
                    </div>
                </div>
                <div class="details">
                    <div class="len">
                        <p class="small">任务周期</p>
                        <p class="big">{$vo.task_start_time|date="Y.m.d/H:i",###}-{$vo.task_end_time|date="Y.m.d/H:i",###}</p>
                    </div>
                    <div class="very flo">
                        <p class="small">面向群体</p>
                        <p class="very big"><?php $array=explode(',',$vo['public_to_truename']); if(count($array)>1){echo $array[0].','.$array[1].'等';}elseif($array){echo $array[0];}else{echo '';} ?>（共<?php echo count(explode(',',$vo['public_to_take'])) ?>人，已参与<span class="partin_count">{$vo.partin_count}</span>人）</p>
                        <div class="flotage">
                            {notempty name="vo['public_to_take_array']"}{foreach name="vo['public_to_take_array']" item="v" key="k"}<span class="user_{$k}  {in name='k' value='$vo.take_employees'} color-blue{/in}">{$v}</span>{/foreach}{/notempty}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    <div class="right">
        <div class="within">
            <div class="give details">
                <p class="p2 task_details" task_id="{$vo.id}">查看详情</p>
            </div>
            <div class="comment">
                <div>
                    <img src="/task/img/comment.png"  class="task_details comment_reward" task_id="{$vo.id}" />
                    <span>{$vo.comment_count}</span>
                </div>
                <div style="text-align: right;">
                    {eq name="vo.is_like" value="1"}
                    <img src="/task/img/praise.png" class="add" task_id="{$vo.id}" index_img="2"/>
                    {else/}
                    <img src="/task/img/zan.png" class="add" task_id="{$vo.id}" index_img="1"/>
                    {/eq}
                    <span class="yi">{$vo.like_count}</span>
                </div>
            </div>
        </div>
    </div>
    {eq name="vo.is_token" value="0"}
    <img src="/task/img/redPacket.png" class="picture"/>
    </div>{/eq}
</div>
{/eq}
{/volist}
<p class="more">
    <a class="page_next" href="{:url('task/employee_task/historical_task_load',['p'=>$p+1])}"></a>
</p>
{eq name="p" value="1"}
    <!--<script src="/vendor/endless/jquery-1.3.2.min.js"></script>-->
    <script src="/vendor/infinite/jquery.infinitescroll.js"></script>
    <script>
        $('.historical_task_load').infinitescroll({
            binder:$('.historical_task_load').parents(".once"),//滚动条所在对象
            navSelector  : ".historical_task_load .more", //导航的选择器，会被隐藏
            nextSelector : ".historical_task_load .more a",//包含下一页链接的选择器
            itemSelector : ".dv1",//你将要取回的选项(内容块)
            debug        : true, //启用调试信息
            //默认采用："http://www.infinite-scroll.com/loading.gif"
            animate      : true, //当有新数据加载进来的时候，页面是否有动画效果，默认没有
            extraScrollPx: 50, //滚动条距离底部多少像素的时候开始加载，默认150
            bufferPx     : 40,//载入信息的显示时间，时间越大，载入信息显示时间越短
            errorCallback: function(){},//当出错的时候，比如404页面的时候执行的函数
            loading:{finishedMsg:"没有更多了",msgText:"加载中..."},
            localMode    : true //是否允许载入具有相同函数的页面，默认为false
        },function(newElements){
            //程序执行完的回调函数
            console.log('again more');
        });
    </script>
{/eq}
{/notempty}