/*a,
input,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
input,
button {
  -webkit-appearance: none;
  border-radius: 0;
}
body {
  -webkit-user-select: none;
  -webkit-text-size-adjust: 100%;
}*/
/*--  重置公共样式  --*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
  margin: 0;
  padding: 0;
}
/**{box-sizing: border-box;}*/
html{
  font: 62.5% "Microsoft YaHei",Arial,Helvetica;
  /*color: #929292;*/
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  background-color: transparent;
}
/*h1, h2, h3, h4, h5, h6{font-weight:normal;}*/
ul,ol,li {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #232323;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

input, textarea {
  /*outline: none;*/
  /*border: none;*/
  font-family: 'microsoft yahei';
 
}
input[type="checkbox"]{
	 cursor: pointer;
}
input[type="radio"]{
	 cursor: pointer;
}
select{
	 cursor: pointer;
}
textarea {
  resize: none;
  overflow: auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: "";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

.clearfix:before {
  content: "";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
  text-align: left;
}

.tc {
  text-align: center
}

.tr {
  text-align: right;
}
.mar-0{
  margin: 0 !important;
}
.mar-l-10{
  margin-left: 10px !important;
}
.mar-r-10{
  margin-right: 10px !important;
}
.mar-r-0{
	margin-right: 0 !important;
}
.mar-t-0{
  margin-top: 0 !important;
}
.pad-l-0{
  padding-left: 0 !important;
}
.pad-t-20{
  padding-top: 20px !important;
}
.bdn{
	border: none !important;
}
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.inline{
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.hide{
	display: none !important;
}
.pointer{
  cursor: pointer;
}
.h100{
  height: 100% !important;
}
.o-x-h{
  overflow-x:hidden !important; 
}
.o-y-h{
  overflow-y:hidden; 
}
.o-h{
  overflow: hidden;
}
.m-2nd-container{
  background-color: #ecf0f5;
  box-sizing: border-box;
  padding: 20px 15px;
}
.m-3rd-container{
  width: 100%;
  overflow: auto;
  background-color: #ecf0f5;
}
.m-4th-container{
  width: 100%;
  overflow: auto;
  background-color: #ecf0f5;
}
.m-3rd-content{
  width: 100%;
  box-sizing: border-box;
  padding: 20px 15px;
  height: 100%;
  /*background-color: white;*/
}
.m-3rd-content-container{
  width: 100%;
  height: 100%;
  background-color: white;
  position: relative;
}
.m-3rd-footer{
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #eee;
  padding-right: 20px;
  padding-top: 10px;
  box-sizing:border-box;
  background-color: white;
}
.m-3rd-footer .btn{
  float: right;
}
.m-3rd-footer .btn1{
  border: 1px solid #dcdcdc;
  color: #666;
  background-color: white;
}
.m-3rd-footer .btn2{
  background-color: #78beff;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
  color: white;
}
.p-r{
  position: relative;
}
.b-w{
  background-color: white;
}
.b-x{
  box-sizing:border-box;
}
.w100{
  width: 100%;
}
#blackBg{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}
.o-a{
  overflow: auto;
}

/*按钮规范,默认为灰色disable*/
.btn{
  box-sizing:border-box;
  text-align: center;
  border-radius: 3px;
  color: #cccccc;
  background-color: #fafafa;
  border: 1px solid #d1d9de;  
  cursor: pointer;
}
.btn.active{
  color: white;
  border: none;
  background-color: #42a5f5;
}
.btn.active:hover{
  background-color: #2594ed;
}
.btn.off{
  color:black ;
  background-color: white;
  border: 1px solid #dcdcdc;  
}
.btn.off:hover{
  background-color: #f8f8f8;
}
.btn-usual{
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  font-size: 12px;  
}
.btn-large{
  font-size: 14px;
  line-height: 30px;
  height: 30px;
  padding: 0 26px;
}
.btn-x-large{
  padding: 0 34px;
  height: 38px;
  line-height: 38px;
  font-size: 16px; 
}