<link rel="stylesheet" href="/task/css/task.css" />

<div class="task task_list hot_task" id="hot_task_fr">
	<div class="hot_task_load">
	<header>
		<ul class="nav" >
			<li  data-id="0" class="flow">
				<div>全部任务（<span>{$task_count.0}</span>）</div>
			</li>
			<li data-id="2">
				<div>PK任务（<span>{$task_count.2}</span>）</div>
			</li>
			<li  data-id="1">
				<div>激励任务（<span>{$task_count.1}</span>）</div>
			</li>
			<li data-id="3">
				<div>悬赏任务（<span>{$task_count.3}</span>）</div>
			</li>
		</ul>
		<div class="sort">
			<img src="/task/img/sort.png" />
			<p>排序</p>
			<div class="classify">
				<p data-id="create_time">按时间</p>
				<p data-id="reward_amount">按奖金</p>
				<p data-id="like_count">按热度</p>
			</div>
		</div>
		<div class="xinjian">
			<i class="fa fa-plus fa-2x"></i>
			<p>新建任务</p>
		</div>
	</header>

	<article id="hot_task">
        {include file="employee_task/hot_task_load"/}
	</article>

		<div class="reveal-modal reveal_six guess_ui">
		</div>

		<div class="reveal-modal reveal_seven tip_ui">
		</div>

		<div class="reveal-modal reveal_eight pay_ui pay-pop">
		</div>
	</div>
</div>
<div class="task_info_panel new_task_panel hide">
	<header>
		<div class="top">
			<ul class="firNav">
				<li class="current">
					<div>间接参与（<span>7</span>）</div>
				</li>
				<i class="fa fa-angle-right fa-2x"></i>
				<span class="span-info">新建任务</span>
			</ul>
		</div>
	</header>
	<div class="new_task_info_panel"></div>
</div>
<div class="task_info_panel task_direct_panel hide">
	<header>
		<div class="top">
			<ul class="firNav">
				<li class="current">
					<div>间接参与（<span>7</span>）</div>
				</li>
				<i class="fa fa-angle-right fa-2x"></i>
				<span class="span-info">任务详情</span>
			</ul>
		</div>
	</header>
	<div class="task_direct_info_panel"></div>
</div>
<script type="text/javascript" src="/task/js/task.js"></script>
<script src="/knowledgebase/js/index.js"></script>
<script src="/static/js/PopUp.js"></script>
<script>
	new task_list("task-hallfr",'{$uid}');
</script>