<div class="employee_list">
    <div class="m-tableBox">
        <div class="m-table table3">
            <ul class="u-tabTitle">
                <li>工号<i class="fa fa-sort-desc"></i></li>
                <li>姓名<i class="fa fa-unsorted"></i></li>
                <li>角色</li>
                <li>是否部门领导人</li>
                <li>注册手机号</li>
                <li>邮箱</li>
                <li>操作</li>
                <div class="clearfix"></div>
            </ul>
            {volist name="listdata" id="vo"}
            <ul class="u-tabList">
                <li>{$vo.worknum}</li>
                <li>{$vo.truename}</li>
                <li>{$vo.role_name}</li>
                <li>{$vo.telephone}</li>
                <li>{$vo.email}</li>
                <li>{$vo.create_time|time_format}</li>
                <li class="u-tabOperation">
                    {if condition="strpos($vo.struct_id,',')"}
                        <span onclick="struct_list_employee_del('{$id}','{$vo.user_id}');">删除</span>
                    {/if}
                    <span onclick="struct_list_employee_move('{$id}','{$vo.user_id}');">移至</span>
                </li>
                <div class="clearfix"></div>
            </ul>
            {/volist}
        </div>
    </div>
    <div class="u-tabControlRow">
        <span>显示行数</span>
        <select>
            <option value="5" {eq name="num" value="5"} selected="selected"{/eq}>5</option>
            <option value="10" {eq name="num" value="10"} selected="selected"{/eq}>10</option>
            <option value="20" {eq name="num" value="20"} selected="selected"{/eq}>20</option>
        </select>
        <span>{$start_num}-{$end_num}条/</span>
        <span>共{$count}条</span>
        <button class="employee_list_previous_page previous_page {eq name='p' value='1'} disabled{/eq}">上一页</button>
        <button class="employee_list_next_page next_page {eq name='p' value='$max_page'} disabled{/eq}">下一页</button>
        <span>前往</span>
        <input class="employee_list_jump_page jump_page" type="text" />
        <span>页</span>
    </div>
</div>
<script src="/static/js/list_manage.js"></script>
<script language="javascript">
    var employee_list_list_manage = new list_manage("content","role-managementfr","/systemsetting/role/employee_list/id/{$id}",'{$p}','{$num}','{$max_page}','0'," .dv2");
</script>