body{
	position: relative;
	background-color: #f5f7fa;
	overflow-x: hidden;
	/*height: 800px;*/
}
/*.hiddenY{
	overflow-y: hidden;
}*/
/************************************************************************/
/*header*/
header{
	height: 40px;
	background-color: white;
}
.m-firNav{
	height: 40px;
	margin-left: 1px;
	box-shadow: -1px 2px #ebedf0;
}
.m-firNav li{
	float: left;
	color: #b2b2b2;
	height: 20px;
	padding: 10px 0;
}
.m-firNav li:hover{
	cursor: pointer;
}
.m-firNav li div{
	line-height: 20px;
	padding: 0 5px;
	font-size: 12px;
	border-right:2px solid #b2b2b2 ;
}
.m-firNav li:last-child div{
	border: none;
}
.m-firNav li.current{
	color: #333333;
	border-bottom: 1px solid #42a5f5;
}

/************************************************************************/
/*客户列表*/
#myAllClientsPage{
	
}
.m-secNav{
	padding: 20px 6px;
}
.m-secNav li:not(.vertical){
	float: left;
	width: 80px;
	height: 25px;
	line-height: 25px;
	font-size: 12px;
	text-align: center;
	margin-right: 10px;
	border-radius: 12.5px;
	color: #cccccc;
	background-color: #e6e6e6;
	cursor: pointer;
}
.m-secNav li:not(.vertival).active{
	color: white;
	background-color: #42a5f5;
}
.m-secNav li.vertical{
	float: left;
	width: 1px;
	height: 25px;
	margin-right: 10px;
	background-color: #ecf0f5;
}
.m-filterNav{
	margin-left: 4px;
}
.m-filterNav select{
	width: 110px;
	height: 25px;
	box-sizing: content-box;
	margin-right: 8px;
	border: 1px solid #dddddd;
}
.m-filterNav input[type="text"]{
	width: 110px;
	padding: 0 5px;
	height: 25px;
	box-sizing: content-box;
	margin-right: 8px;
	border: 1px solid #dddddd;
	/*background-color: black;*/
}
.u-btnSearch{
	width: 60px;
	height: 25px;
	border-radius: 12.5px;
	line-height: 25px;
	margin-left: 10px;
	text-align: center;
	color: white;
	border: none;
	background-color: #42a5f5;
}



/************************************************************************/
/*黑色遮罩*/
#blackBg{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*height: 100%;*/
	background-color: rgba(0,0,0,0.4);
}

/************************************************************************/
/*新建客户*/
#newClient{
	width: 1000px;
	height: 650px;
	position: absolute;
	left: 66px;
	top: 96px;
	background-color: #fff;
	/*overflow-y: auto;
	overflow-x:hidden ;*/
}
#newClient header{
	width: 100%;
	height: 50px;
	background-color: #6b7a99;
}
#newClient header h1{
	position: relative;
	color: white;
	line-height: 50px;
	text-align: center;
}
#newClient header .fa-close{
	position: absolute;
	color: #939aab;
	right: 10px;
	top: 10px;
}
#newClient .process{
	padding: 20px 0;
	width: 598px;
	margin:0 auto;
	/*margin-left:15px ;*/
	transform: translateX(-15px);
}
#newClient .circle{
	float: left;
	position: relative;
	width:18px;
	height: 18px;
	border-radius: 50%;
	background-color: white;
	border: 4px solid #7abd52;
}
#newClient .rect{
	float: left;
	margin-top: 9px;
	width: 260px;
	height: 8px;
	background-color: #e6e6e6;
}
#newClient .process span{
	white-space: nowrap;
	position: absolute;
	top: 30px;
	left: 50%;
	/*margin-left: -50%;*/
	transform: translateX(-50%);
}
/*表单*/
#newClientForm{
	margin-top: 20px;
	padding-left: 30px;
}

/************************************************************************/
/*客户详情*/

.page-info header i{
	line-height: 40px;
	margin-left: 5px;
	/*margin-top: 5px;*/
}

.page-info header div{
	border: none !important;
}
.u-spanInfo{
	display: inline-block;
    /* line-height: 40px; */
    vertical-align: middle;
    margin-top: -8px;
    margin-left: 5px;
}
.m-pageInfoNav{
	height: 54px;
	margin-top: 5px;
	/*border-top: 5px solid #f5f7fa;*/
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
}
.m-pageInfoNav li{
	float: left;
	width: 120px;
	text-align: center;
	margin-right: 40px;
	line-height: 54px;
	color: #333;
	font-size: 16px;
}
.m-pageInfoNav li.current{
	color: #77b8ff;
	font-weight: bold;
	border-bottom: 2px solid #42a5f5;
}
/*************************************************/
/*客户详情----概要*/

/*some*/


#outlineCharge .set-remind{
	background-color: #38a0f4;
}
#outlineCharge .order-visit{
	/*margin-left: 20px;*/
	background-color: #ffa31c;
}
#outlineCharge .fa-clock-o{
	background-color: #3390dc;
}
#outlineCharge .fa-users{
	background-color: #e69319;
}

#outlineCharge .detail{
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	color: #afb9c3;
	vertical-align: middle;
}


#outlineInfo div>span{
	line-height: 32px;
	/*vertical-align: top;*/
}
#outlineInfo .buttons{
	background-color: #b3b3b3;
}
#outlineInfo .buttons i{
	background-color: #999;
}
#outlineInfo .buttons.active{
	background-color: #e60012;
}
#outlineInfo .buttons.active i{
	background-color: #ff0b39;
}
#outlineInfo .buttons.active span{
	background-color: white;
	color: #333;
}

#outlineChance div>span {
    line-height: 32px;
    /* vertical-align: top; */
}
.keyman-link:nth-child(3n){
	border: none !important;
}
#outlineKeyman .keyman-link{
	width: 33%;
	box-sizing: border-box;
	float: left;
	height: 150px;
	padding-left: 27px;
	border-right: 1px solid #eee;
}
.keyman-link>span{
	font-size: 18px;
	border-bottom: 1px solid #6da4a5;
}
.keyman-link>span>span{
	font-size: 14px;
}
.keyman-link .telephone{
	color: #13ae6b;
	margin-left: 13px;
	margin-top: 10px;
}

#outlineCreatPerson{
	margin: 20px 0;
	background-color: transparent !important;
	border: none !important;
	box-shadow: none !important;
	color: #939aab;
}
#outlineCreatPerson div{
	text-align: right;
	padding-right: 10px;
	line-height: 24px;
}
/*客户详情-联系人*/
#clientInfoLinkman{
	position: relative;
}
#new-linkman,#new-sale-chance,#new-trace{
	position: fixed;
	right: 0;
	top: 50%;
	width: 25px;
	/*height: 124px;*/
	padding: 5px 5px;
	border-radius:5px 0 0 5px ;
	background-color: #ffa03a;
	z-index: 999;
	text-align: center;
	font-size: 14px;
	color: white;
	cursor: pointer;
}


.creat-info{
	margin-left: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.creat-info div{
	width: 200px;
	/*height: 80px;*/
	display: inline-block;
}
.creat-info div span:nth-child(1){
	display: block;
	border-left: 1px solid #ffb431;
	line-height: 16px !important;
	padding-left: 5px;
	color: #999;
}
.creat-info div span:nth-child(2){
	display: block;
	padding-left: 6px;
	margin: 5px 0;
	color: #666;
}
.linkman-info{
	position: relative;
	padding-left: 20px;
	padding-top: 10px;
}
.fa-qq,.fa-wechat{
	color: #b3b3b3;
}
.fa-question-circle{
	color: #ef5350;
}
.fa.active{
	color: #77b8ff;
}
.fa.mar{
	margin-left: 5px;
}
.z-recordState{
	position: absolute;
	right: 40px;
	top: 20px;
}
/*跟踪记录*/
#clientInfoTrace{
	/*padding-top: 20px;*/
}
#clientInfoTrace .m-divBlock{
	padding-top: 50px ;
	padding-left: 50px ;
}
.u-traceRecord{
	height: 120px;
	/*padding-top: 20px;*/
	position: relative;
	border-left: 2px solid #42A5F5;
}
#creat-traceRecord{
	height: 250px;
}
.u-traceRecord .circle{
	width: 20px;
	height: 20px;
	position: absolute;
	left: -10px;
	top: -10px;
	background-color: #42A5F5;
	border-radius: 50%;
}
.u-traceRecord .circle.first{
	background-color: #f9a219;
}
.u-traceRecord .date{
	padding-left: 50px;
	color: #B2B2B2;
}
.u-traceRecord .detail{
	padding-left: 50px;
}
.u-traceRecord .underline{
	color: #f9a219;
}
.u-traceRecord textarea{
	margin-left: 50px !important;
	width: 800px !important;
	height: 130px !important;
}
.u-traceRecord .u-submitButton{
	margin-top:20px !important ;
	margin-left: 200px !important;
}
