/******************************/
/*table*/
.m-tableBox1{
	clear: both;
	width: 640px;
	/*display: inline-block;*/
	margin-top: 20px;
	margin-left: 4px;
	overflow-y: auto;
	height: 300px;
	/*background-color: yellow;*/
}
.m-tableBox2{
	clear: both;
	width: 1290px;
	/*display: inline-block;*/
	margin-top: 20px;
	margin-left: 4px;
	overflow-y: auto;
	height: 300px;
	/*background-color: yellow;*/
}
.m-tableBox3{
	clear: both;
	width: 977px;
	/*display: inline-block;*/
	margin-top: 20px;
	margin-left: 4px;
	overflow-y: auto;
	height: 300px;
	/*background-color: yellow;*/
	margin-left: 25px;
}
.table1{
	width: 600px;
	/*background-color: cyan;*/
}
.table2{
	width: 1274px;
}
.table3{
	width: 960px;
}
.m-table ul{
	border-bottom: 1px solid #eeeeee;
}
.m-table ul:nth-child(2n+1){
	background-color: #f8f9fa;
}
.tab-list li{
	border-right: 1px solid #f2f2f2;
}
.m-table li{
	float: left;
	height: 40px;
	width: 179px;
	padding: 0 10px;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: left;
}
.table2 li{
	width: 116px;
}
.table3 li{
	width: 116px;
}
.m-table i{
	margin-left: 10px;
}
.u-tabTitle{
	border-bottom: 2px solid #eeeeee !important;
}
.u-tabTitle li{
	color: #333333;
	border-right: 1px solid white;
	background-color: #f7f7f7;
}
.u-tabList li{
	/*color: #666666;*/
	border-right: 1px solid white;
}
.u-tabCheckbox{
	text-align: center !important;
	width: 40px !important;
	padding: 0 !important;
}
.u-tabCilentName{
	color: #77b8ff;
}
.u-tabLinkWay{
	color: #13ae6b;
}
.u-tabOperation span{
	margin-right: 10px;
	color: #77b8ff;
}
.u-tabControlRow{
	margin-left: 20px;
	height: 30px;
	margin-top: 20px;
	font-size: 14px;
}

.u-tabControlRow input{
	width: 42px;
	height: 18px;
}
