<!--客户详情-->
<section class="page-info">
    <header>
        <ul class="m-firNav">
            <li class="current back"><div>我的所有客户（<span>0</span>）</div></li>
            <i class="fa fa-angle-right fa-2x"></i>
            <span class="u-spanInfo">详情</span>
        </ul>
    </header>
    <ul class="m-pageInfoNav">
        <div class="clearfix"></div>
        <li class="current">概要</li>
        <li class="customer_info_show">客户信息</li>
        <li class="customer_contact_show">联系人（0）</li>
        <li class="customer_sale_chance_show">销售机会（0）</li>
        <li class="customer_trace_show">跟踪记录（0）</li>
        <div class="clearfix"></div>
    </ul>
    <section class="clientInfoOutline page-info-detail">
        <div class="m-divBlock outlineCharge">
            <div>
                {$error_msg}
            </div>
        </div>
    </section>
</section>