<div class="u-pop-header">
	合同审核<i class="fa fa-close fa-2x pop-close-btn"></i>
</div>
<div class="u-pop-min-content">
	<h1 class="tc">确定审核通过么？</h1>
</div>
<div class="u-pop-footer">
	<button class="pop-close-btn type1 ">取消</button>
	<button class="pop-submit-btn type2">通过</button>
</div>
<link rel="stylesheet" type="text/css" href="/static/css/popUp.css">
<style type="text/css">
	.verification_contract_index_pop .u-pop-min-content h1{
		line-height: 100px;
		font-weight: normal;
		font-size: 14px;
	}
</style>
<script type="text/javascript">
$(".verification_contract_index_pop .pop-submit-btn").click(function(){
	let id = $(".verification_contract_index_pop").attr("id");
	let remark = "";
	let data = "id="+id+"&remark="+remark;
    $.ajax({
        url: '/verification/contract/approved',
        type: 'post',
        data: data,
        success: function(data) {
            //console.log(data);
            layer.msg(data.info,{icon:data.status==1?1:2});
            if(data.status) {
                verification_contract_list_manage.reload_list();
            }
        },
        error: function() {
            layer.msg('通过合同申请时发生错误!',{icon:2});
        }
    });
});
</script>