<div class="crm_customer sys_employee_list">
    <div class="employee_list_panel employee_list">
        <!--员工列表-->
        <section id="myAllClientsPage" >
            <ul class="m-secNav">
                <li class="active" onclick="employee_list_newClient();">新建员工</li>
                <li class="active">批量导入</li>
                <li class="active">导入记录</li>
                <li class="vertical"></li>
                <li>导出</li>
                <li>删除</li>
                <div class="clearfix"></div>
            </ul>
            <div class="m-filterNav">
                <select id="employee_list_search_structure">
                    <option value="">直属部门</option>
                    <option value="1" {present name='filter.structure'}{eq name='filter.structure' value='1'} selected="selected"{/eq}{/present}>员工添加</option>
                    <option value="2" {present name='filter.structure'}{eq name='filter.structure' value='2'} selected="selected"{/eq}{/present}>批量导入</option>
                    <option value="3" {present name='filter.structure'}{eq name='filter.structure' value='3'} selected="selected"{/eq}{/present}>员工搜集</option>
                </select>
                <select id="employee_list_search_role">
                    <option value="">角色</option>
                    <option value="1" {present name='filter.role'}{eq name='filter.role' value='1'} selected="selected"{/eq}{/present}>转介绍</option>
                    <option value="2" {present name='filter.role'}{eq name='filter.role' value='2'} selected="selected"{/eq}{/present}>指定人</option>
                    <option value="3" {present name='filter.role'}{eq name='filter.role' value='3'} selected="selected"{/eq}{/present}>指定部门</option>
                </select>
                <select id="employee_list_search_on_duty">
                    <option value="">状态</option>
                    <option value="1" {present name='filter.on_duty'}{eq name='filter.on_duty' value='1'} selected="selected"{/eq}{/present}>在职</option>
                    <option value="2" {present name='filter.on_duty'}{eq name='filter.on_duty' value='2'} selected="selected"{/eq}{/present}>休假</option>
                </select>
                <input type="text" id="employee_list_search_worknum" placeholder="输入工号" value="{present name='filter.worknum'}{$filter.worknum}{/present}"/>
                <input type="text" id="employee_list_search_truename" placeholder="输入姓名" value="{present name='filter.truename'}{$filter.truename}{/present}"/>
                <button onclick="employee_list_search({$p},{$num});" class="u-btnSearch">查询</button>
            </div>
            <div class="m-tableBox">
                <div class="m-table table2">
                    <ul class="u-tabTitle">
                        <li class="u-tabCheckbox"><input type="checkbox"/></li>
                        <li>工号<i class="fa fa-unsorted"></i></li>
                        <li>姓名</li>
                        <li>直属部门<i class="fa fa-unsorted"></i></li>
                        <li>联系方式</li>
                        <li>是否领导<i class="fa fa-unsorted"></i></li>
                        <li>角色<i class="fa fa-unsorted"></i></li>
                        <li>状态</li>
                        <li>创建时间<i class="fa fa-unsorted"></i></li>
                        <li>操作</li>
                        <div class="clearfix"></div>
                    </ul>
                    {volist name="listdata" id="vo"}
                    <ul class="u-tabList">
                        <li class="u-tabCheckbox"><input type="checkbox" value="{$vo.id}"/></li>
                        <li>{$vo.worknum}</li>
                        <li>{$vo.truename}</li>
                        <li>{$vo.struct_name}</li>
                        <li>{$vo.telephone}</li>
                        <li>{eq name="vo.is_leader" value="1"}是{else/}否{/eq}</li>
                        <li>{$vo.role_name}</li>
                        <li>{$vo.on_duty}</li>
                        <li>{$vo.create_time|time_format}</li>
                        <li class="u-tabOperation">
                            <span onclick="employee_list_show('{$vo.id}');">详情</span>
                            <span onclick="employee_list_edit('{$vo.id}');">编辑</span>
                            <span onclick="employee_list_del('{$vo.id}',{$p},{$num});">删除</span>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    {/volist}
                </div>
            </div>
            <div class="u-tabControlRow">
                <span>显示行数</span>
                <select onchange="employee_list_listNumChange();">
                    <option value="5" {eq name="num" value="5"} selected="selected"{/eq}>5</option>
                    <option value="10" {eq name="num" value="10"} selected="selected"{/eq}>10</option>
                    <option value="20" {eq name="num" value="20"} selected="selected"{/eq}>20</option>
                </select>
                <span>{$start_num}-{$end_num}条/</span>
                <span>共{$count}条</span>
                <button onclick="employee_list_previous_page({$p},{$num});" class="employee_list_previous_page {eq name='p' value='1'} disabled{/eq}">上一页</button>
                <button onclick="employee_list_next_page({$p},{$num},{$max_page});" class="employee_list_next_page {eq name='p' value='$max_page'} disabled{/eq}">下一页</button>
                <span>前往</span>
                <input onblur="employee_list_jump_page({$num},{$max_page});" class="employee_list_jump_page" type="text" />
                <span>页</span>
            </div>
        </section>

        <!--黑色遮罩-->
        <section id="employee_list_blackBg" class="hide page-client"></section>

        <!--新建员工-->
        <section id="employee_list_newClient" class="newClient hide page-client">
            <header>
                <h1>新建员工<i class="fa fa-close fa-2x" onclick="employee_list_removeNewClient()"></i></h1>
            </header>
            <div class="m-formBox m-form">
                <form id="employee_list_newClientForm" class="newClientForm" onsubmit="return false;">
                    <div id="form2" class="">
                        <div>
                            <span class="cont">姓名</span>
                            <input type="text" name="truename" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入联系人姓名" />

                            <span class="cont">直属部门</span>
                            <input type="text" name="struct_id" pattern="[\d\D]{0,16}" title="最多填写16位字符" placeholder="请输入所属部门" />

                        </div>
                        <div>
                            <span class="cont">昵称</span>
                            <input type="text" name="nickname" pattern="[\S]{0,10}" title="最多可填写10个字符" placeholder="请输入昵称" />

                            <span class="cont">工号</span>
                            <input type="text" name="worknum" pattern="[\d\D]{0,10}" title="最多填写10位字符" placeholder="请输入工号" />

                        </div>
                        <div style="height: 30px;">
                            <span class="cont">性别</span>
                            <input type="radio" name="gender" value="1" checked="checked"/>男
                            <input type="radio" name="gender" value="0" />女

                            <span class="cont" style="margin-left: 216px;">是否领导</span>
                            <div class="u-inlineRadio">
                                <input type="radio" name="is_leader" value="1" />是
                                <input type="radio" name="is_leader" value="0" checked="checked"/>否
                            </div>
                        </div>

                        <div>
                            <span class="cont">手机号</span>
                            <input type="text" name="telephone" pattern="[\d]{7,12}" title="请输入电话号码" placeholder="请输入电话号码" />
                            <span class="cont">邮箱</span>
                            <input type="email" name="email" placeholder="请输入邮箱" />
                        </div>
                        <div>
                            <span class="cont">座机号</span>
                            <input type="text" name="wired_phone" pattern="[\d]{7,12}" title="请输入电话号码" placeholder="请输入电话号码" />
                            <span class="cont">QQ号</span>
                            <input type="text" name="qqnum" pattern="[\d]{0,10}" title="请写正确格式" placeholder="请输入QQ号" />

                        </div>
                        <div>
                            <span class="cont">分机号</span>
                            <input type="text" name="part_phone" pattern="[\d]{7,12}" title="请输入电话号码" placeholder="请输入电话号码" />

                            <span class="cont">微信号</span>
                            <input type="text" name="wechat" pattern="[\d\D]{0,40}" title="最多填写40位字符" placeholder="请输入微信号" />
                        </div>

                        <div>
                            <span class="cont">员工状态</span>
                            <select name="on_duty">
                                <option value="1">在职</option>
                                <option value="2">休假</option>
                            </select>
                            <span class="cont">职位</span>
                            <select name="role">
                                <option value="1">请选择</option>
                            </select>
                        </div>
                        <p class="p5">
                            <input type="submit" onclick="employee_list_add_employee();" value="确定" />
                            <button onclick="employee_list_removeNewClient();">取消</button>
                        </p>

                    </div>
                </form>
            </div>
        </section>
        <script src="/systemsetting/js/employee_list.js"></script>
    </div>
    <div class="employee_list_panel employee_info hide">
    </div>
</div>
<link rel="stylesheet" href="/crm/css/index.css"/>
<link rel="stylesheet" href="/crm/css/table.css" />
<link rel="stylesheet" href="/crm/css/form.css" />
<link rel="stylesheet" href="/crm/css/divBlock.css" />
<link rel="stylesheet" href="/systemsetting/css/employeelist.css" />