
/*折叠树面板*/

.structure_list {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 580px;
    background-color: #f5f7fa;
}

.structure_list .top {
    /*width: 1120px;*/
    width: 100%;
    height: 40px;
    background-color: #fff;
    margin: 0 10px;
    position: relative;
}

.structure_list .fold {
    width: 250px;
    height: 550px;
    background-color: #f5f5f5;
    float: left;
}

.structure_list .fold .title {
    height: 50px;
    border-bottom: 1px solid #ebebeb;
}

.structure_list .fold .title span {
    font-size: 16px;
    line-height: 50px;
    margin-left: 15px;
}

.structure_list .fold .title i {
    font-size: 20px;
    line-height: 50px;
    margin-left: 136px;
    color: #b3b3b3;
}

.structure_list ul.firNav {
    height: 40px;
    margin-left: 1px;
    /*padding: 10px 0;*/
    box-shadow: -1px 2px #ebedf0;
}

.structure_list ul.firNav li {
    float: left;
    color: #b2b2b2;
    height: 20px;
    /*width: 130px;*/
    padding: 10px 0;
    /*line-height: 20px;*/
    /*padding: 0 10px;*/
    /*border-right:2px solid #b2b2b2 ;*/
}

.structure_list ul.firNav li:hover {
    cursor: pointer;
}

.structure_list ul.firNav li div {
    line-height: 20px;
    padding: 0 5px;
    font-size: 12px;
    /*border-right:2px solid #b2b2b2 ;*/
}

.structure_list ul.firNav li:last-child div {
    border: none;
}

.structure_list ul.firNav li.current {
    color: #333333;
    border-bottom: 2px solid #42a5f5;
}

.structure_list .top ul i {
    height: 20px;
    display: inline-block;
    padding-left: 3px;
    font-size: 16px;
    line-height: 40px;
    color: #999999;
    vertical-align: middle;
}

.structure_list .top ul span {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    padding-left: 5px;
    font-size: 12px;
    line-height: 40px;
    color: #999999;
}

.structure_list .top .add {
    width: 26px;
    height: 38px;
    position: absolute;
    right: 50px;
    top: 0;
    padding-top: 2px;
}

.structure_list .top .add p {
    font-size: 12px;
    text-align: center;
}

.structure_list .top .add i {
    display: block;
    color: #1f7ed0;
    text-align: center;
}

.structure_list .content {
    /*width: 1090px;*/
    width: 100%;
    height: 580px;
    background-color: #fff;
    margin: auto 10px;
    margin-top: 6px;
    margin-bottom: 12px;
}

/*.structure_list .content .dv1 {
    width: 250px;
    height: 800px;
    float: left;
}*/

.structure_list .content .dv2 {
    width: 870px;
    height: 550px;
    float: left;
}

.structure_list .content .p1 {
    font-size: 12px;
    float: left;
    width: 67px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e5e5e5;
    padding: 0px;
}

.structure_list .content .two {
    margin-top: 30px;
    clear: both;
    width: 875px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #E5E5E5;
    margin-left: 25px;
}

.structure_list .content .table1 {
    margin-left: 21px;
}

.structure_list .content input {
    width: 42px;
    height: 18px;
}
/*弹出框*/

.structure_list .reveal-modal-bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
    top: 0;
    left: 0;
    background: rgba(00, 00, 00, 0.4)
}

.structure_list .reveal-modal {
    width: 590px;
    height: 280px;
    visibility: hidden;
    top: 150px;
    left: 50%;
    margin-left: -300px;
    position: absolute;
    z-index: 101;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    -box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    background-color: #fff;
}

.structure_list .reveal-modal .p1 {
    width: 589px !important;
    height: 50px !important;
    background-color: #6b7a99;
    font-size: 18px !important;
    text-align: center;
    line-height: 50px !important;
    color: #fff;
}

.structure_list .reveal-modal .p2 {
    width: 590px;
    font-size: 18px;
    text-align: center;
    line-height: 140px;
    color: #666666;
    display: inline-block;
}

.structure_list .reveal-modal select {
    width: 200px;
    height: 30px;
    margin-left: 10px;
}

.structure_list .myModal .p5 {
    margin-left: 165px;
}
.structure_list .myModalone .p5 {
    margin-left: 50px;
}
.structure_list .myModal .p5 input {
    width: 100px;
    height: 41px;
    border-radius: 10px;
    margin-right: 60px;
    background-color: #42a5f5;
    color: #fff;
    border: 1px solid #dcdcdc;
}
.structure_list .myModalone .p5 input {
    width: 160px;
    height: 41px;
    border-radius: 10px;
    margin-right: 60px;
    background-color: #42a5f5;
    color: #fff;
    border: 1px solid #dcdcdc;
}
.structure_list .myModal .p5 button {
    width: 100px;
    height: 41px;
    border-radius: 10px;
    margin-right: 100px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
}
.structure_list .myModalone .p5 button {
    width: 270px;
    height: 41px;
    border-radius: 10px;

    background-color: #fff;
    border: 1px solid #dcdcdc;
}
.structure_list .reveal-modal .close-reveal-modal {
    font-size: 32px;
    line-height: 0.5;
    position: absolute;
    top: 15px;
    right: 18px;
    color: #fff;
    text-shadow: 0 -1px 1px rbga(0, 0, 0, .6);
    font-weight: bold;
    cursor: pointer;
}

/*******************************列表**********************************/

.structure_list .content {
    /*width: 1090px;*/
    width: 100%;
    height: 646px;
    background-color: #fff;
    margin: auto 10px;
    margin-top: 6px;
    margin-bottom: 12px;
}

.structure_list .content .dv1 {
    width: 246px;
    height: 100%;
    background-color: #f5f5f5;
    float: left;
}

.structure_list .content .dv2 {
    width: 870px;
    height: 800px;
    float: left;
}

.structure_list .content .one {
    clear: both;
    height: 30px;
    margin-left: 25px;
    margin-top: 10px;
}

.structure_list .content .p1 {
    font-size: 12px;
    float: left;
    width: 67px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #e5e5e5;
    padding: 0px;
    border-top: 2px solid #e5e5e5;
}
.structure_list .content .one .activity{
    border-top: 2px solid #77b8ff;
    background-color: #ffffff;
}

.structure_list .content .two {
    margin-top: 30px;
    clear: both;
    width: 875px;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #E5E5E5;
    margin-left: 25px;
}

.structure_list .content .table1 {
    margin-left: 21px;
}

.structure_list .content input {
    width: 42px;
    height: 18px;
}
.structure_list .dv1 .role{
    width: 246px;
    height: 42px;
    border-bottom: 1px solid #eee;

}
.structure_list .dv1 .role p{
    font-size: 18px;
    margin-left: 25px;
    line-height: 42px;
}
.structure_list .dv1 ul li{
    width: 244px;
    height: 40px;
    border: 1px solid #eee;
    background-color: #f5f5f5;
}
.structure_list .dv1 ul li:hover{
    background-color: #e6e6e6;
    color: #77b8ff;
}
.structure_list .dv1 ul li:hover img{
    display: inline-block;
}
.structure_list .dv1 ul li span{
    display: inline-block;
    width: 160px;
    line-height: 40px;
    margin-left: 15px;
    font-size: 14px;
    vertical-align: middle;
}
.structure_list .dv1 ul li img{
    vertical-align: middle;
    margin-right: 10px;
    display: none;
}

.structure_list .content .table1 {
    margin-left: 21px;
}

.structure_list .content input {
    width: 42px;
    height: 18px;
}
.structure_list .table{
    clear: both;
    width: 852px;
    height: 519px;
    border: 1px solid #e5e5e5;
    margin-left: 25px;

}
.structure_list .m-tableBox{
    margin-top: 0;
    margin-left: 25px;
}
.structure_list .tab_1{
    width: 133px;
    height: 80px;
    float: left;
    border-bottom:1px solid #e5e5e5 ;
    border-right: 1px solid #e5e5e5;
    background-color: #ebf3ff;
}
.structure_list .tab_1 p{
    text-align: center;
    line-height: 80px;
    font-size: 12px;

}
.structure_list .tab_2{
    width: 718px;
    height: 81px;
    float: left;
    /*border-bottom:1px solid #e5e5e5 ;*/
}

.structure_list .tab_2 div{
    width: 718px;
    height: 40px;
}
.structure_list .tab_2 .xuanze {
    border-bottom: 1px solid #e5e5e5;
    line-height: 40px;
}
.structure_list .tab_2 .xuanze  input{
    vertical-align: middle;
    margin-left: 5px;
}
.structure_list .tab_2 .xuanze span{
    vertical-align: middle;
}
.structure_list .tab_2 select{
    vertical-align: middle;
    width: 170px;
    height: 26px;
    margin-left: 10px;
}
.structure_list .tab_3{
    width: 133px;
    height: 440px;
    float: left;
    border-right: 1px solid #e5e5e5;
    background-color: #ebf3ff;
}
.structure_list .tab_3 p{
    text-align: center;
    line-height: 440px;
    font-size: 12px;

}
.structure_list .tab_4{
    width: 718px;
    height: 440px;
    float: left;

}
.structure_list .tab_4 .left{
    width: 220px;
    height: 440px;
    float: left;
    border-right: 1px solid #e5e5e5;

}
.structure_list .tab_4 .right{
    width: 496px;
    height: 440px;
    float: right;
}
.structure_list .tab_4 .left ul li{
    width: 220px;
    height: 39px;
    border-top:1px solid #e5e5e5;

}
.structure_list .tab_4 .right ul li{
    width: 498px;
    height: 39px;
    border-top:1px solid #e5e5e5;

}
.structure_list .tab_4 ul li:nth-child(1){
    border-top:none;
    background-color: #f2f6fd;
    text-align: center;
    line-height: 40px;
}
.structure_list .tab_4 ul li:nth-child(11){

    height: 40px;
}
.structure_list .tab_4 ul li input{
    vertical-align: middle;
}
.structure_list .tab_4 ul li span{
    vertical-align: middle;
    line-height: 40px;
    margin-right: 20px;
}
