<!--客户详情-->
<section class="page-info">
    <header>
        <ul class="m-firNav">
            <li class="current back"><div>我的所有客户（<span>160</span>）</div></li>
            <i class="fa fa-angle-right fa-2x"></i>
            <span class="u-spanInfo">详情</span>
        </ul>
    </header>
    <ul class="m-pageInfoNav">
        <div class="clearfix"></div>
        <li class="customer_general_show">概要</li>
        <li class="customer_info_show">客户信息</li>
        <li class="customer_contact_show">联系人（{$customer_contact_num}）</li>
        <li class="customer_sale_chance_show">销售机会（{$sale_chance_num}）</li>
        <li class="current">跟踪记录（{$customer_trace_num}）</li>
        <div class="clearfix"></div>
    </ul>
    <!--添加跟踪记录-->
    <section class="clientInfoTrace" >
        <div class="new-trace">
            <i class="fa fa-plus fa-2x"></i>
            添加跟踪记录
        </div>
        <div class="m-divBlock m-form">
            <div class="u-traceRecord creat-traceRecord hide">
                <div class="circle  first"></div>
                <textarea></textarea>
                <div class="u-submitButton">
                    <button>保存</button>
                    <button>取消</button>
                </div>
            </div>
            {volist name="customer_trace" id="vo" key="key"}
                <div class="u-traceRecord">
                    <div class="circle"></div>
                    <div class="date">
                        <span>{$key|time_format}</span>
                    </div>
                    {volist name="vo" id="voi"}
                        <div class="detail">
                            <span>{$voi.operator_user_name} {$voi.option_name} <span class="underline">{$voi.item_name} </span> {$voi.from_name} {$voi.link_name} <span class="underline">{$voi.to_name}</span></span>
                        </div>
                    {/volist}
                </div>
            {/volist}
        </div>
    </section>
</section>