<div class="systemsetting_content_edit">
    <div class="top">
        <ul class="firNav">
            <li class="current" onclick="loadPage('{:url('index')}','contract-settingfr');">
                <div>合同设置</div>
            </li>
            <i class="fa fa-angle-right fa-2x"></i>
            <span class="span-info">
                {gt name="contractSetting.id" value="0"}
                    {$contractSetting.contract_name}
                {else/}
                    添加合同设置
                {/gt}</span>
        </ul>
    </div>
    <div class="content">
        <div class="dv1">
            <p>
                <span>合同类型</span>
                <input type="text" name="contract_name" placeholder="请输入合同类型,如:百度类" value="{$contractSetting.contract_name}" />
            </p>
        </div>
        <div class="dv2">
            <p>
                <span>合同前缀编号</span>
                <input type="text" name="contract_prefix" placeholder="不填写默认无前缀" value="{$contractSetting.contract_prefix}" />
            </p>
        </div>
        <div class="dv1">
            <p>
                <span>合同编号</span>
                <input type="text" name="start_num" class="ipt1" placeholder="请输入" value="{$contractSetting.start_num}" /> 到
                <input type="text" name="end_num" class="ipt2" placeholder="请输入" value="{$contractSetting.end_num}" />
            </p>
        </div>
        <div class="dv2">
            <p>
                <span>当前合同号</span>
                <input type="text" name="current_contract" placeholder="请输入当前合同号" value="{$contractSetting.current_contract}" />
            </p>
        </div>
        <div class="dv1">
            <p>
                <img src="/systemsetting/images/line_green.jpg" class="img1" />
                <span class="sp1">合同审核</span>
            </p>
        </div>
        <div class="dv2"><p><span></span></p></div>
        <div class="dv1">
            <p>
                <span>合同审核角色1</span>
                <select name="apply_1">
                    <option value="1">王伟芬</option>
                    <option value="2">张三</option>
                    <option value="3">李四</option>
                </select>
                <img src="/systemsetting/images/delelet.png" class="img2" />
            </p>
        </div>
        {gt name="contractSetting.apply_2" value="0"}
        <div class="dv2">
            <p>
                <span>合同审核角色2</span>
                <select name="apply_2">
                    <option value="1">郑和奇</option>
                    <option value="2">张三</option>
                    <option value="3">李四</option>
                </select>
                <img src="/systemsetting/images/delelet.png" class="img2" />
            </p>
        </div>
        {/gt}
        {gt name="contractSetting.apply_3" value="0"}
        <div class="dv1">
            <p>
                <span>合同审核角色3</span>
                <select name="apply_3">
                    <option value="1">王伟芬</option>
                    <option value="2">张三</option>
                    <option value="3">李四</option>
                </select>
                <img src="/systemsetting/images/plus.jpg" class="img2" />

            </p>
        </div>
        {/gt}
        {gt name="contractSetting.apply_4" value="0"}
        <div class="dv2">
            <p>
                <span>合同审核角色4</span>
                <select name="apply_4">
                    <option value="1">郑和奇</option>
                    <option value="2">张三</option>
                    <option value="3">李四</option>
                </select>
                <img src="/systemsetting/images/delelet.png" class="img2" />
            </p>
        </div>
        {/gt}
        {gt name="contractSetting.apply_5" value="0"}
        <div class="dv1">
            <p>
                <span>合同审核角色5</span>
                <select name="apply_5">
                    <option value="1">王伟芬</option>
                    <option value="2">张三</option>
                    <option value="3">李四</option>
                </select>
                <img src="/systemsetting/images/plus.jpg" class="img2" />

            </p>
        </div>
        {/gt}
        {gt name="contractSetting.apply_6" value="0"}
        <div class="dv2">
            <p>
                <span>合同审核角色6</span>
                <select name="apply_6">
                    <option value="1">郑和奇</option>
                    <option value="2">张三</option>
                    <option value="3">李四</option>
                </select>
                <img src="/systemsetting/images/delelet.png" class="img2" />
            </p>
        </div>
        {/gt}
        <div class="full">
            <p class="p1">每一次代表一次审批流程，当前审核需要三个审批环节</p>
        </div>
        <p class="p5">
            <input type="submit" value="保存" />
            <button onclick="loadPage('{:url('index')}','contract-settingfr');">取消</button>
        </p>
    </div>
</div>
<link rel="stylesheet" href="/systemsetting/css/contract_edit.css" />