<div class="crm_customer crm_my_customer">
    <div class="my_customer_panel my_customer">
        <!--header-->
        <header>
            <ul class="m-firNav">
                <li in_column="0" class="in_column {eq name='in_column' value='0'}current{/eq}"><div>我的所有客户（<span>{$listCount.0}</span>）</div></li>
                <li in_column="1" class="in_column {eq name='in_column' value='1'}current{/eq}"><div>待沟通客户（<span>{$listCount.1}</span>）</div></li>
                <li in_column="2" class="in_column {eq name='in_column' value='2'}current{/eq}"><div>未跟进客户（<span>{$listCount.2}</span>）</div></li>
                <li in_column="3" class="in_column {eq name='in_column' value='3'}current{/eq}"><div>正常跟进客户（<span>{$listCount.3}</span>）</div></li>
                <li in_column="4" class="in_column {eq name='in_column' value='4'}current{/eq}"><div>停滞客户（<span>{$listCount.4}</span>）</div></li>
                <li in_column="5" class="in_column {eq name='in_column' value='5'}current{/eq}"><div>待定客户（<span>{$listCount.5}</span>）</div></li>
                <li in_column="6" class="in_column {eq name='in_column' value='6'}current{/eq}"><div>无意向客户（<span>{$listCount.6}</span>）</div></li>
                <li in_column="7" class="in_column {eq name='in_column' value='7'}current{/eq}"><div>已成单客户（<span>{$listCount.7}</span>）</div></li>
                <li in_column="8" class="in_column {eq name='in_column' value='8'}current{/eq}"><div>无效客户（<span>{$listCount.8}</span>）</div></li>
            </ul>
        </header>

        <!--客户列表-->
        <section id="myAllClientsPage" >
            <ul class="m-secNav">
                <li class="active showNewClient">新建客户</li>
                <li class="active">导入客户</li>
                <li class="active customer_import">导入记录</li>
                <li class="vertical"></li>
                <li class="exportCustomer">导出</li>
                <li class="send_customer_group_message">群发短信</li>
                <li class="release_customers">批量释放</li>
                <div class="clearfix"></div>
            </ul>
            <div class="m-filterNav">
                <form class="search_form" onsubmit="return false;">
                    <select name="take_type">
                        <option value="">获取途径</option>
                        <option value="1" {present name='filter.take_type'}{eq name='filter.take_type' value='1'} selected="selected"{/eq}{/present}>转介绍</option>
                        <option value="2" {present name='filter.take_type'}{eq name='filter.take_type' value='2'} selected="selected"{/eq}{/present}>搜索</option>
                        <option value="3" {present name='filter.take_type'}{eq name='filter.take_type' value='3'} selected="selected"{/eq}{/present}>购买</option>
                    </select>
                    <select name="grade">
                        <option value="">客户级别</option>
                        <option value="A" {present name='filter.grade'}{eq name='filter.grade' value='A'} selected="selected"{/eq}{/present}>A</option>
                        <option value="B" {present name='filter.grade'}{eq name='filter.grade' value='B'} selected="selected"{/eq}{/present}>B</option>
                        <option value="C" {present name='filter.grade'}{eq name='filter.grade' value='C'} selected="selected"{/eq}{/present}>C</option>
                        <option value="D" {present name='filter.grade'}{eq name='filter.grade' value='D'} selected="selected"{/eq}{/present}>D</option>
                    </select>
                    <select name="sale_chance">
                        <option value="">商机</option>
                        {volist name="business_list" id="vo"}
                        <option value="{$vo.id}" {present name='filter.sale_chance'}{eq name='filter.sale_chance' value='$vo.id'} selected="selected"{/eq}{/present}>{$vo.business_name}</option>
                        {/volist}
                    </select>
                    <select name="comm_status">
                        <option value="">沟通状态</option>
                        <option value="1" {present name='filter.comm_status'}{eq name='filter.comm_status' value='1'} selected="selected"{/eq}{/present}>无意向</option>
                        <option value="2" {present name='filter.comm_status'}{eq name='filter.comm_status' value='2'} selected="selected"{/eq}{/present}>号码无效</option>
                        <option value="3" {present name='filter.comm_status'}{eq name='filter.comm_status' value='3'} selected="selected"{/eq}{/present}>资料有误</option>
                        <option value="4" {present name='filter.comm_status'}{eq name='filter.comm_status' value='4'} selected="selected"{/eq}{/present}>未接通</option>
                        <option value="5" {present name='filter.comm_status'}{eq name='filter.comm_status' value='5'} selected="selected"{/eq}{/present}>待定</option>
                        <option value="6" {present name='filter.comm_status'}{eq name='filter.comm_status' value='6'} selected="selected"{/eq}{/present}>有意向</option>
                    </select>
                    <input type="text" name="customer_name" placeholder="输入客户名称" value="{present name='filter.customer_name'}{$filter.customer_name}{/present}"/>
                    <input type="text" name="contact_name" placeholder="输入联系人名称" value="{present name='filter.contact_name'}{$filter.contact_name}{/present}"/>
                    <button class="u-btnSearch">查询</button>
                </form>
            </div>
            <div class="m-tableBox">
                <div class="m-table table1">
                    <ul class="u-tabTitle">
                        <li class="u-tabCheckbox"><input type="checkbox"/></li>
                        <li>客户名称<i class="fa fa-caret-down"></i></li>
                        <li>获取途径</li>
                        <li>客户级别<i class="fa fa-unsorted"></i></li>
                        <li>沟通状态<i class="fa fa-unsorted"></i></li>
                        <li>商机</li>
                        <li>预计成单金额<i class="fa fa-unsorted"></i></li>
                        <li>成单金额</li>
                        <li>联系人<i class="fa fa-unsorted"></i></li>
                        <li>联系方式</li>
                        <li>上次跟进时间<i class="fa fa-unsorted"></i></li>
                        <li>剩余保有时间<i class="fa fa-unsorted"></i></li>
                        <li>预计合同到期时间<i class="fa fa-unsorted"></i></li>
                        <li>提醒时间<i class="fa fa-unsorted"></i></li>
                        <li>所在列</li>
                        <li>操作</li>
                        <div class="clearfix"></div>
                    </ul>
                    {volist name="listdata" id="vo"}
                    <ul class="u-tabList">
                        <li class="u-tabCheckbox"><input type="checkbox" value="{$vo.id}"/></li>
                        <li class="u-tabCilentName customer_info_name_show">{$vo.customer_name}</li>
                        <li>{$vo.take_type|getTakeTypeFromName}</li>
                        <li>{$vo.grade}</li>
                        <li>{$vo.comm_status|getCommStatusName}</li>
                        <li>{$vo.sale_biz_names}</li>
                        <li>{$vo.all_guess_money}元</li>
                        <li>{$vo.all_final_money}元</li>
                        <li>{$vo.contact_name}</li>
                        <li class="u-tabLinkWay">{$vo.phone_first}<i class="fa fa-phone"></i></li>
                        <li>{$vo.last_trace_time|day_format}</li>
                        <li>{$vo.save_time_str}</li>
                        <li>{$vo.contract_due_time_str}</li>
                        <li>{$vo.remind_time_str}</li>
                        <li>{$vo.in_column|getInColumnName}</li>
                        <li class="u-tabOperation">
                            <span class="customer_info_show">详情</span>
                            <span class="customer_info_edit">编辑</span>
                            <span class="release_customers">释放</span>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    {/volist}
                </div>
            </div>
            <div class="u-tabControlRow">
                <span>显示行数</span>
                <select>
                    <option value="5" {eq name="num" value="5"} selected="selected"{/eq}>5</option>
                    <option value="10" {eq name="num" value="10"} selected="selected"{/eq}>10</option>
                    <option value="20" {eq name="num" value="20"} selected="selected"{/eq}>20</option>
                </select>
                <span>{$start_num}-{$end_num}条/</span>
                <span>共{$count}条</span>
                <button class="my_customer_previous_page previous_page {eq name='p' value='1'} disabled{/eq}">上一页</button>
                <button class="my_customer_next_page next_page {eq name='p' value='$max_page'} disabled{/eq}">下一页</button>
                <span>前往</span>
                <input class="my_customer_jump_page jump_page" type="text" />
                <span>页</span>
            </div>
        </section>
        <script src="/static/js/list_manage.js"></script>
        <script language="javascript">
            var my_customer_list_manage = new list_manage("my_customer","myclietsfr","/crm/customer/my_customer",'{$p}','{$num}','{$max_page}','{$in_column}',"");
        </script>
        <script src="/crm/js/customer_info_manage.js"></script>
        <script language="javascript">
            var my_customer_info_manage = new customer_info_manage("my_customer","myclietsfr",my_customer_list_manage,"{$in_column}","{$in_column|getInColumnName}","{$listCount[$in_column]}");
        </script>
        <script src="/crm/js/customer_add.js"></script>
        <script language="javascript">
            var my_customer_add = new customer_add("my_customer","myclietsfr",my_customer_list_manage);
        </script>
        <script src="/crm/js/customer_import.js"></script>
        <script language="javascript">
            var my_customer_import = new customer_import("#frames #myclietsfr .crm_my_customer .customer_import_record",3);
        </script>
        <script src="/crm/js/my_customer.js"></script>
    </div>
    <div class="my_customer_panel customer_info_panel customer_general hide">
    </div>
    <div class="my_customer_panel customer_info_panel customer_info hide">
    </div>
    <div class="my_customer_panel customer_info_panel customer_edit hide">
    </div>
    <div class="my_customer_panel customer_info_panel customer_contact hide">
    </div>
    <div class="my_customer_panel customer_info_panel customer_sale_chance hide">
    </div>
    <div class="my_customer_panel customer_info_panel customer_trace hide">
    </div>
    <div class="my_customer_panel customer_info_panel customer_import_record hide">
        <header>
            <ul class="m-firNav">
                <li class="current"><div style="border: none;">我的客户</div></li>
                <i class="fa fa-angle-right fa-2x" style="line-height: 40px;margin-left: 5px;"></i><span class="u-spanInfo">导入记录</span>
            </ul>
        </header>
        <div class="customer_import_record_list">

        </div>
    </div>
</div>
<link rel="stylesheet" href="/crm/css/index.css"/>
<link rel="stylesheet" href="/crm/css/table.css" />
<link rel="stylesheet" href="/crm/css/form.css" />
<link rel="stylesheet" href="/crm/css/divBlock.css" />