<div class="datacount_index datacount_summary h100">
	<div class="summary_panel summary h100 o-h">
		<header>
			<ul class="m-firNav">
                <li in_column="0" class="in_column current"><div>简报</div></li>
            </ul>
		</header>
		<div class="m-3rd-container">
			<div class="clearfix"></div>
			<div class="m-divBlock m-divBlock2 self-info">
				<div class="u-faceContent fl">
					<img  src="{$userinfo.userpic}"/>
					<div class="fl" style="width: 100px;height: 100px">
						<h3>{$userinfo.truename}</h3>
						<h4 class="fl" style="margin-right: 5px;">{$structure.struct_name}</h4>
						<h4 class="fl">{$role}</h4>
					</div>
				</div>
				<div class="u-faceContent2 fl">
					<span class="color-blue">本人<i class="fa fa-angle-down"></i></span>
				</div>
				<div class="u-faceContent3 fr">
					<div class="block1">
						<h4 class="tc"><span>将军</span></h4>
						<div class="bar"><div class="in-bar"></div></div>
						<h4 class="tc"><span>2500</span>/<span>3000</span></h4>
					</div>
					<div class="block2">
						<div class="tc"><img src="/datacount/img/integral.png" /></div>
						<h3 class="tc">积分<span>2500</span></h3>
					</div>
					<div class="block2">
						<div class="tc"><img src="/datacount/img/lesson.png" /></div>
						<h3 class="tc">课程(<span>5</span>)</h3>
					</div>
					<div class="block2">
						<div class="tc"><img src="/datacount/img/date.png" /></div>
						<h3 class="tc">日程(<span>3</span>)</h3>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="m-divBlock m-divBlock2 search-fun">
				<button data-fun="callGetVisitorInfo">一般查询</button>
				<button data-fun="callGetVisitorInfoByPhone">根据客户电话号码查询</button>
				<button data-fun="callGetPhoneRecordByUin">查询电话记录:按座席TQ号查询</button>
				<button>6</button>
			</div>
			<div class="m-divBlock m-divBlock2 key-target">
				<div class="line1">
					<span class="title">关键指标</span>
					<span class="filter">昨日</span>
					<span class="filter current">今日</span>
					<span class="filter">本周</span>
					<span class="filter">本月</span>
					<span class="filter">本季度</span>
					<span class="filter">本年</span>
					<span class="fr icon"><i class="fa fa-cog fa-2x color-blue" title="管理"></i></span>
				</div>
				<ul class="line2">
					<li><h3 class="tc">12371</h3><h4 class="tc">新增客户</h4></li>
					<li><h3 class="tc">12271</h3><h4 class="tc">总通话数</h4></li>
					<li><h3 class="tc">12371</h3><h4 class="tc">有效通话数</h4></li>
					<li><h3 class="tc">12371</h3><h4 class="tc">新增商机</h4></li>
					<li><h3 class="tc">12371</h3><h4 class="tc">新增拜访</h4></li>
					<li><h3 class="tc">12371</h3><h4 class="tc">新增成单</h4></li>
					<li><h3 class="tc">12371</h3><h4 class="tc">新增成单金额</h4></li>
				</ul>
			</div>
			<div class="task">
				<div class="m-divBlock m-divBlock3 fl">
					<div class="line1">
						<span class="title">每日任务</span>
					</div>
					<div class="line3 task1">
						<span>新增客户</span>
						<span><div class="in-bar2"></div></span>
						<span>12/12</span>
					</div>
					<div class="line3 task2">
						<span>有效通话数</span>
						<span><div class="in-bar2"></div></span>
						<span>5/10</span>
					</div>
					<div class="line3 task3">
						<span>拜访客户</span>
						<span><div class="in-bar2"></div></span>
						<span>12/12</span>
					</div>
					<div class="line3 task4">
						<span>成单任务</span>
						<span><div class="in-bar2"></div></span>
						<span>12/12</span>
					</div>
					<div class="line3 task5">
						<span>成单任务</span>
						<span><div class="in-bar2"></div></span>
						<span>12/12</span>
					</div>
					<div class="line3 task6">
						<span>成单任务</span>
						<span><div class="in-bar2"></div></span>
						<span>12/12</span>
					</div>
				</div>
				<div class="m-divBlock m-divBlock3 fl mr0">
					<div class="line1 bdn">
						<span class="title">红包任务(<span>14</span>)</span>
					</div>
					<div class="table">
						<ul class="title">
							<li>任务名称</li>
							<li>考核指标</li>
							<li>当前指标</li>
							<li>红包</li> 	
						</ul>
						<div class="tablist-container">
							<ul class="tablist">
								<li>任务名称</li>
								<li>成单数</li>
								<li>9/12</li>
								<li>未发放(￥<span>50</span>)</li> 	
							</ul>
							<ul class="tablist">
								<li>任务名称</li>
								<li>成单数</li>
								<li>9/12</li>
								<li class="wait">待领取<span></span></li> 	
							</ul>
							<ul class="tablist">
								<li>任务名称</li>
								<li>成单数</li>
								<li>9/12</li>
								<li>未发放(￥<span>50</span>)</li> 	
							</ul>
							<ul class="tablist">
								<li>任务名称</li>
								<li>成单数</li>
								<li>9/12</li>
								<li>未发放(￥<span>50</span>)</li> 	
							</ul>
							<ul class="tablist">
								<li>任务名称</li>
								<li>成单数</li>
								<li>9/12</li>
								<li class="wait">待领取<span></span></li> 	
							</ul>
							<ul class="tablist">
								<li>任务名称</li>
								<li>成单数</li>
								<li>9/12</li>
								<li class="wait">待领取<span></span></li> 	
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="m-divBlock m-divBlock2 data-outline">
				<div class="line1">
					<span class="title">数据概览</span>
					<span class="filter">本月</span>
					<span class="filter current">上月</span>
					<span class="filter">本季度</span>
					<span class="filter">上季度</span>
					<span class="filter">本年</span>
					<input type="date">  --<input type="date">
					<button class="u-btnSearch">查询</button>
				</div>
				<div class="conversion-rate">
					<div class="title-content">
						<div class="title">转化率</div>
						<div class="space"></div>
					</div>
					<div class="chart-container">
						<div class="top-process">
							<div class="clearfix"></div>
							<div class="process-name">新增客户</div>
							<div class="process-bar"><span>24%</span></div>
							<div class="process-name">新增客户</div>
							<div class="process-bar"><span>24%</span></div>
							<div class="process-name">新增客户</div>
							<div class="process-bar"><span>24%</span></div>
							<div class="process-name">新增客户</div>
							<div class="process-bar"><span>24%</span></div>
							<div class="process-name">新增客户</div>
						</div>
						<div class="bottom-process">
							<div class="rate">86%</div>
						</div>
					</div>
				</div>
				<div class="sale-estimate">
					<div class="title-content">
						<div class="title">销售预估</div>
						<div class="space"></div>
					</div>
					<div class="echart-container">
						<div class="select">
							显示粒度
							<select>
								<option>月度</option>
								<option>季度</option>
								<option>年度</option>
							</select>
						</div>
						<div id="echart" style="width: 780px;height: 300px;"></div>						
					</div>
				</div>			
			</div>
		</div>	
	</div>
</div>
<link rel="stylesheet" href="/datacount/css/index.css"/>
<script src="/static/js/echarts.min.js"></script>
<script language="javascript">
	// var echart = document.getElementById('echart');
	var myChart = echarts.init(document.getElementById('echart'));
	var option = {
		title:{text:"销量预估"},
		tooltip:{},
		legend:{data:["有效通话","商机","拜访","成单"]},
		xAxis:{data:["上上上月","上上月","上月","本月","下月"]},
		yAxis:{},
		series:[{
			name:"有效通话",
			type:"line",
			data:[50,200,360,100,100]
		},{
			name:"商机",
			type:"line",
			data:[30,250,300,120,10]
		},{
			name:"拜访",
			type:"line",
			data:[60,20,360,10,100]
		},{
			name:"成单",
			type:"line",
			data:[600,260,160,310,400]
		}]
	};				
	myChart.setOption(option);
</script>