<!--侧边栏-->
<section id="side">
    <aside class="_panel-box">
        <div id="logo">
            <!--<img src="/static/images/logo.png" />-->
        </div>
        <dl id="#">
            <dt><i class="fa fa-line-chart"></i><span>&nbsp;&nbsp;数据统计</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="index" _src="{:url('datacount/index/summary')}">简报</dd>
                <dd data-subid ="day-count" _src="{:url('datacount/index/summary')}">日报统计</dd>
                <dd data-subid="sales-funnel" _src="/index/index/developing.html">销售漏斗</dd>
                <dd data-subid = "call-count" _src="/index/index/developing.html">通话记录统计</dd>
                <dd data-subid = "cilents-count" _src="/index/index/developing.html">客户状态统计</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-flag"></i><span>&nbsp;&nbsp;任务管理</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="task-hall" _src="{:url('task/employee_task/hot_task')}">任务大厅</dd>
                <dd data-subid="going-task" _src="{:url('task/employee_task/direct_participation')}">进行中的任务</dd>
                <dd data-subid="historical-task" _src="{:url('task/employee_task/historical_task')}">历史任务</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-cubes"></i><span>&nbsp;&nbsp;员工成长</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="employeegrowth-xxx" _src="/index/index/developing.html">我的成长</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-user-plus"></i><span>&nbsp;&nbsp;客户搜集</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="search-engines" _src="/index/index/developing.html">搜索引擎搜索</dd>
                <dd data-subid="search-zone" _src="/index/index/developing.html">按地区搜索</dd>
                <dd data-subid="zx-library" _src="/index/index/developing.html">中迅库</dd>
                <dd data-subid="my-search-cilents" _src="/index/index/developing.html">我搜集的客户</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-pie-chart"></i><span>&nbsp;&nbsp;CRM</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="cilents-manage" _src="{:url('crm/customer/customer_manage')}">客户管理</dd>
                <dd data-subid="mycliets" _src="{:url('crm/customer/my_customer')}">我的客户</dd>
                <dd data-subid="high-sea" _src="{:url('crm/customer/public_customer_pool')}">公海池</dd>
                <dd data-subid="number-screening" _src="{:url('crm/sale_chance/index')}">销售机会</dd>
                <dd data-subid="pending-cilents" _src="{:url('crm/customer/customer_pending')}">待处理客户</dd>
                <dd data-subid="my-order" _src="{:url('/crm/order/index')}">我的订单</dd>
                <dd data-subid="my-contract" _src="{:url('crm/contract/index')}">我的合同</dd>
                <dd data-subid="my-bill" _src="{:url('crm/bill/index')}">我的发票</dd>
                <dd data-subid="subordinate-cilents" _src="{:url('crm/customer/customer_subordinate')}">下属的客户</dd>
                <dd data-subid="subordinate-sales" _src="{:url('crm/sale_chance/sale_chance_subordinate')}">下属的销售机会</dd>
                <dd data-subid="mails" _src="{:url('crm/mailer/index')}">邮件</dd>
                <dd data-subid="call-assistant" _src="{:url('workerman/index/assistant')}">通话助手</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-book"></i><span>&nbsp;&nbsp;知识库</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="zx-lessons" _src="/index/index/developing.html">中讯大课堂</dd>
                <dd data-subid="live-telecast" _src="/index/index/developing.html">直播</dd>
                <dd data-subid="speech-database" _src="{:url('knowledgebase/speech_craft/index')}">话术库</dd>
                <dd data-subid="company-library" _src="{:url('knowledgebase/corporation_share/index')}">企业库</dd>
                <dd data-subid="company-cloud-space" _src="/index/index/developing.html">企业云盘</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-gavel"></i><span>&nbsp;&nbsp;待我审核</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="verification-contract" _src="{:url('verification/contract/index')}">合同申请</dd>
                <dd data-subid="verification-index" _src="{:url('verification/index/index')}">成单申请</dd>
                <dd data-subid="verification-bill" _src="{:url('verification/bill/index')}">发票申请</dd>
            </div>
        </dl>
        <dl id="#">
            <dt><i class="fa fa-gears"></i><span>&nbsp;&nbsp;系统管理</span><i class="fa fa-angle-right"></i></dt>
            <div class="ddcontent">
                <dd data-subid="company-information" _src="{:url('systemsetting/corporation/showCorpInfo')}">公司信息</dd>
                <dd data-subid="division-management" _src="{:url('systemsetting/structure/index')}">部门管理</dd>
                <dd data-subid="role-management" _src="{:url('systemsetting/role/index')}">职位管理</dd>
                <dd data-subid="staff-management" _src="{:url('systemsetting/employee/manage')}">员工管理</dd>
                <dd data-subid="business-flow" _src="{:url('systemsetting/business_flow/index')}">业务流管理</dd>
                <dd data-subid="contract-setting" _src="{:url('systemsetting/contract/index')}">合同设置</dd>
                <dd data-subid="bill-setting" _src="{:url('systemsetting/bill/index')}">发票设置</dd>
                <dd data-subid="customer-setting" _src="{:url('systemsetting/customer/index')}">工作参数设置</dd>
                <dd data-subid="change-my-password" _src="/index/index/developing.html">密码修改</dd>
            </div>
        </dl>
    </aside>
</section>